<div class="head-layout">
    <div class="head-left">
        <a class="logo" [routerLink]="['/supplier/comparisons-list']">
            <img src="./assets/img/logo_black.png"/>
            <span class="text"><span
                    class="tx-bold">{{reviewService.comparison.userName}}</span> {{this.reviewService.comparison.mainPlatformName ? 'of ' + this.reviewService.comparison.mainPlatformName : ''}} </span>
            <span class="text02">{{this.reviewService.comparison.adviserName ? 'for' : ''}}
                <span class="tx-bold">{{this.reviewService.comparison.adviserName}}</span>
                {{this.reviewService.comparison.practiceName ? 'from ' + this.reviewService.comparison.practiceName : ''}}
            </span>
        </a>
    </div>

    <div class="head-right">
        <div class="switch-button xs-ml-16" *ngIf="isScrollFixed">
            <div class="switch-text active">All</div>
            <div class="switch-text">Hide non-essential features</div>
        </div>

        <div class="switch-button xs-ml-16" *ngIf="isScrollFixed">
            <div class="switch-text">All</div>
            <div class="switch-text active">Hide common features</div>
        </div>

        <!--        <button class="btn btn-text-theme btn-with-info-icon" *ngIf="!isScrollFixed" (click)="saveTemplate()">Save as feature template <span-->
        <!--                class="icon-block icon-info-bold icon-14"></span></button>-->
                <button class="btn btn-outline-blue-light xs-ml-30" (click)="goBack()">Go back</button>
        <button class="btn btn-outline-blue-light xs-ml-30" (click)="save()">Save</button>
        <!--        <button class="btn btn-outline-blue-light xs-ml-16">Load a template</button>-->
        <button class="btn btn-purple xs-ml-16" *ngIf="reviewService.comparison.id" (click)="next()">Next</button>
    </div>
</div>

<div class="head-step">
    <div *ngIf="!reviewService.comparison.id" class="step-content" [link]="['/review/comparison-setup']" [customLinkActive]="'active'">
        <div class="step-box">
            Step 1 <span class="title">Comparison setup</span>
        </div>
    </div>
    <ng-container *ngIf="reviewService.comparison.id">
        <div class="step-content" [link]="['/review/comparison-setup']" [customLinkActive]="'active'">
            <div class="step-box">
                Step 1/5 <span class="title">Comparison setup</span>
            </div>

            <span class="icon-block icon-double-right-gray icon-9"></span>
        </div>
        <div class="step-content" [link]="['/review/feature-selection', '/review/feature-comparison']" [customLinkActive]="'active'">
            <div class="step-box">
                Step 2/5 <span class="title">Feature comparison</span>
            </div>
            <span class="icon-block icon-double-right-gray icon-9"></span>
        </div>

        <div class="step-content" [link]="['/review/metric-comparison']" [customLinkActive]="'active'">
            <div class="step-box">
                Step 3/5 <span class="title">Business metric comparison</span>
            </div>
            <span class="icon-block icon-double-right-gray icon-9"></span>
        </div>

        <div class="step-content" [link]="['/review/fee-comparison']" [customLinkActive]="'active'">
            <div class="step-box">
                Step 4/5 <span class="title">Fee comparison</span>
            </div>
            <span class="icon-block icon-double-right-gray icon-9"></span>
        </div>
        <div class="step-content">
            <div class="step-box">
                Step 5/5 <span class="title">Summary</span>
            </div>
        </div>
    </ng-container>
</div>
