<div class="head-layout">
    <div class="head-left">
        <a href="#" class="logo">
            <img src="./assets/img/logo_black.png" />
            <span class="text">Floyd Miles</span>
        </a>
    </div>

    <div class="head-right">
        <div class="switch-button xs-ml-16" *ngIf="isScrollFixed">
            <div class="switch-text active">All</div>
            <div class="switch-text">Hide non-essential features</div>
        </div>

        <div class="switch-button xs-ml-16" *ngIf="isScrollFixed">
            <div class="switch-text">All</div>
            <div class="switch-text active">Hide common features</div>
        </div>

        <button class="btn btn-text-theme btn-with-info-icon" *ngIf="!isScrollFixed">Save as feature template <span
                class="icon-block icon-info-bold icon-14"></span></button>
        <button class="btn btn-outline-blue-light xs-ml-30">Go back</button>
        <button class="btn btn-outline-blue-light xs-ml-16">Load a template</button>


        <button class="btn btn-purple xs-ml-16" (click)="next()">Next</button>
    </div>
</div>
