<div class="modal-main p40">
    <div class="modal-header">
        <h2 class="modal-title">Hi Jane, almost done!</h2>
    </div>
    <div class="modal-body">
        <div class="form modal-form">
            <form action="">

                <div class="form-group form-group-sign">
                    <label class="control-label">
                        <div>First name<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" value="Jane" />
                </div>
                <div class="form-group form-group-sign">
                    <label class="control-label">
                        <div>Last name<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" value="Austen" />
                </div>
                <div class="form-group form-group-sign form-disabled xs-mb-32">
                    <label class="control-label">
                        <div>Practice name<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" disabled value="ABC Advisory" />
                </div>
                <div class="form-group form-group-sign form-disabled xs-mb-32">
                    <label class="control-label">
                        <div>Email address<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" disabled value="jane@abcadvisory.com.au" />
                </div>
                <div class="form-group form-group-sign">
                    <label class="control-label">
                        <div>Contact number (optional)</div>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter your contact number" />
                </div>
                <div class="form-group form-group-sign">
                    <label class="control-label">
                        <div>Password </div>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter your password" />
                </div>
                <div class="form-group form-group-sign">
                    <label class="control-label">
                        <div>Enter password again </div>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter your password again" />
                </div>
                <p class="password-strength">Your password is <span>strong</span></p>
                <div class="check-box check-box-purple">
                    <input type="checkbox" name="agree2" id="agree2" />
                    <label for="agree2">
                        <p>I have read and agree to the<a href="javascript:void(0);">Terms of service</a> and <a
                                href="javascript:void(0);">Privacy policy.</a></p>
                    </label>
                </div>

                <div class="check-box check-box-purple xs-mb-32">
                    <input type="checkbox" name="news" id="news" />
                    <label for="news">
                        <p>Send me relevant news and updates </p>
                    </label>
                </div>
            </form>
            <hr>
            <div class="form-button xs-mt-32">
                <div class="submit">
                    <button class="btn btn-purple btn-sign tx-16 btn-block">Complete</button>
                </div>
            </div>
        </div>
    </div>

</div>