<form name="inviteForm" #inviteForm="ngForm" novalidate
      [ngxFormValidator]="validatorConfig">
    <div class="modal-main invitation  p40">
        <div class="modal-header">
            <h2 class="modal-title">Hi {{fullName()}}, almost done!</h2>
            <p>The following is required and will only be shared with SuitabilityHub</p>
        </div>
        <div class="modal-body">
            <div class="form modal-form" *ngIf="inviteUser.companyType!==2">
                <div class="form-group form-group-sign">
                    <label class="control-label">
                        <div>First name<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" name="firstName" required
                           [(ngModel)]="inviteUser.firstName"/>
                </div>
                <div class="form-group form-group-sign">
                    <label class="control-label">
                        <div>Last name<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" name="lastName" required
                           [(ngModel)]="inviteUser.lastName"/>
                </div>
                <div class="form-group form-group-sign form-disabled xs-mb-32">
                    <label class="control-label">
                        <div>Practice name<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" disabled name="practiceName"
                           [(ngModel)]="inviteUser.practiceName"/>
                </div>
                <div class="form-group form-group-sign form-disabled xs-mb-32">
                    <label class="control-label">
                        <div>Email address<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" disabled name="email" [(ngModel)]="inviteUser.email"/>
                </div>
                <div class="form-group form-group-sign">
                    <label class="control-label">
                        <div>Contact number (optional)</div>
                    </label>
                    <input type="text" class="form-control" name="mobile" placeholder="Enter your contact number"
                           [(ngModel)]="inviteUser.mobile"/>
                </div>
                <div class="form-group form-group-sign password-input">
                    <label class="control-label">
                        <div>Password</div>
                    </label>
                    <input type="password" class="form-control" placeholder="Enter your password" name="password"
                           required autocomplete="new-password" [(ngModel)]="inviteUser.password"/>
                    <span class="icon-block icon-eye-on icon-16"
                          appTogglePwd></span>
                </div>
                <div class="form-group form-group-sign password-input">
                    <label class="control-label">
                        <div>Enter password again</div>
                    </label>
                    <input type="password" class="form-control" placeholder="Enter your password again"
                           autocomplete="new-password" name="confirmPassword" required
                           [(ngModel)]="inviteUser.confirmPassword"/>
                    <span class="icon-block icon-eye-on icon-16"
                          appTogglePwd></span>
                </div>
                <!-- <p class="password-strength">Your password is <span>strong</span></p> -->
                <div class="check-box check-box-purple">
                    <input type="checkbox" name="agree2" id="agree2" [(ngModel)]="agree"/>
                    <label for="agree2">
                        <p>I have read and agree to the<a href="javascript:void(0);">Terms of service</a> and <a
                                href="javascript:void(0);">Privacy policy.</a></p>
                    </label>
                </div>

                <div class="check-box check-box-purple xs-mb-32">
                    <input type="checkbox" name="news" id="news" [(ngModel)]="news"/>
                    <label for="news">
                        <p>Send me relevant news and updates </p>
                    </label>
                </div>
                <hr>
                <div class="form-button xs-mt-32">
                    <div class="submit">
                        <button class="btn btn-purple btn-sign tx-16 btn-block" (ngxFormSubmit)="invite()">Complete
                        </button>
                    </div>
                </div>
            </div>

            <div class="form modal-form" *ngIf="inviteUser.companyType===2">
                <div class="forw-two xs-mb-32">
                    <div class="form-group form-group-sign">
                        <label class="control-label">
                            <div>First name<span class="label-required">*</span></div>
                        </label>
                        <input type="text" class="form-control" name="firstName" placeholder="Enter your first name"
                               required
                               [(ngModel)]="inviteUser.firstName"/>
                    </div>

                    <div class="form-group form-group-sign">
                        <label class="control-label">
                            <div>Last name<span class="label-required">*</span></div>
                        </label>
                        <input type="text" class="form-control" name="lastName" placeholder="Enter your last name"
                               required
                               [(ngModel)]="inviteUser.lastName"/>
                    </div>
                </div>

                <div class="form-group form-group-sign form-disabled xs-mb-32">
                    <label class="control-label">
                        <div>Email address<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" disabled name="email" placeholder="Enter your email address"
                           [(ngModel)]="inviteUser.email"/>
                </div>
                <div class="form-group form-group-sign xs-mb-32" *ngIf="inviteUser.companyType === 2">
                    <label class="control-label">
                        <div>Job title<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter your job title" name="jobTitle"
                           required [(ngModel)]="inviteUser.jobTitle"/>
                </div>
                <div class="form-group form-group-sign xs-mb-32" *ngIf="inviteUser.companyType === 2">
                    <label class="control-label">
                        <div>Contact number
                        </div>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter your contact number" name="supplierName"
                           required [(ngModel)]="inviteUser.mobile"/>
                </div>
                <div class="form-group form-group-sign password-input">
                    <label class="control-label">
                        <div>Password</div>
                    </label>
                    <input type="password" class="form-control" placeholder="Enter your password" name="password"
                           [(ngModel)]="inviteUser.password"/>
                    <span class="icon-block icon-eye-on icon-16" appTogglePwd></span>
                </div>

                <div class="form-group form-group-sign password-input">
                    <label class="control-label">
                        <div>Enter password again</div>
                    </label>
                    <input type="password" class="form-control" placeholder="Enter your password again"
                           autocomplete="new-password" name="confirmPassword" required
                           [(ngModel)]="inviteUser.confirmPassword"/>
                    <span class="icon-block icon-eye-on icon-16" appTogglePwd></span>
                </div>
                <div>
                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="agree4" id="agree4" [(ngModel)]="agree"/>
                        <label for="agree4">
                            <p>I have read and agree to the <a href="javascript:;" class="tx-bold tx-purple">Terms & Conditions</a>
                                and <a href="javascript:;" class="tx-bold tx-purple">Privacy Policy</a></p>
                        </label>
                    </div>
                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="agree3" id="agree3" [(ngModel)]="inviteUser.updateNewsFlag"/>
                        <label for="agree3">
                            <p>Send me product updates and news from SuitabilityHub</p>
                        </label>
                    </div>

                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="news1" id="news1" [(ngModel)]="inviteUser.commFlag"/>
                        <label for="news1">
                            <p>Send me marketing communications from SuitabilityHub</p>
                        </label>
                    </div>

                    <div class="check-box check-box-purple xs-mb-32">
                        <input type="checkbox" name="join" id="join" [(ngModel)]="inviteUser.planFlag"/>
                        <label for="join">
                            <p>I want to join the research panel and be invited to occasional surveys</p>
                        </label>
                    </div>
                </div>
<!--                <div class="check-box check-box-purple">-->
<!--                    <input type="checkbox" name="agree3" id="agree3" [(ngModel)]="agree"/>-->
<!--                    <label for="agree3">-->
<!--                        <p>I have read and agree to the<a href="javascript:void(0);">Terms of service</a> and <a-->
<!--                                href="javascript:void(0);">Privacy policy.</a></p>-->
<!--                    </label>-->
<!--                </div>-->

                <div class="form-button xs-mt-32">
                    <div class="submit">
                        <button class="btn btn-purple btn-sign tx-16 btn-block" (ngxFormSubmit)="invite()">Complete
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
