<div class="table-responsive">
  <ng-container>
    <div class="table-list-wrap">
      <table class="table table-list table-striped">
        <thead>
        <tr>
          <th>
            <div class="th-cell">
              Name of client
              <sorting-widget></sorting-widget>
            </div>
          </th>
          <th>
            <div class="th-cell">
              Number of reviews
            </div>
          </th>
          <th>
            <div class="th-cell">
              Adviser
            </div>
          </th>
          <th>
            <div class="th-cell">
              Status
            </div>
          </th>
          <th class="text-left">
            <div class="th-cell">Action</div>
          </th>
        </tr>
        </thead>
        <thead class="table-margin">
        <tr>
          <th colspan="5"></th>
        </tr>
        </thead>
        <tbody *ngIf="clientPage.total > 0">
        <tr *ngFor="let client of clientPage.records">
          <td>
            <div class="td-cell td-cell_avatar tx-bold">
              <div class="text-ellipsis max-w-200">{{client.firstName + ' ' + client.lastName}}</div>
            </div>
          </td>
          <td>
            <div class="td-cell tx-bold tx-purple">{{client.totalDue}}</div>
          </td>
          <td>
            <div class="td-cell td-cell_avatar tx-bold" title="ABC Advisory">
              <div class="avatar-box xs-mr-16">
                <img [src]="(client.userAvatar?.visitUrl) || './assets/img/unassgin.svg'" />
              </div>
              <div class="text-ellipsis">{{client.username}}</div>
            </div>
          </td>
          <td>
            <div class="td-cell" *ngIf="!client.archived">
              <label class="label tx-blue">Active</label>
            </div>
            <div class="td-cell" *ngIf="client.archived">
              <label class="label tx-red">Archived</label>
            </div>
          </td>
          <td class="text-left edit">
            <div class="edit-btn-group">
              <button  class="btn btn-purple-border btn-tiny xs-ml-16" style="margin-left: 0 !important;" (click)="toDetail()">View</button>
              <button *ngIf="!client.archived" class="btn btn-outline-purple-light btn-tiny xs-ml-16 delete-btn">
                <img src="./assets/img/icon/icon-delete-red.svg">
              </button>
              <button *ngIf="client.archived" class="btn btn-outline-purple-light btn-tiny xs-ml-16 refresh-btn">
                <img src="./assets/img/icon/icon-refresh-blur.svg">
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination *ngIf="clientPage.total > 0" [collectionSize]="clientPage.total" [(page)]="clientPage.current" [pageSize]="clientPage.size"
                    (pageChange)="pageChange($event)" [rotate]="true" [maxSize]="5"></ngb-pagination>
  </ng-container>
  <div class="empty-text" *ngIf="clientPage.total == 0">This section is empty.
  </div>
</div>
