<div class="table-layout">
    <div class="col-content">
        <div class="col-body">
            <ng-container>
                <div class="list-cell-large"
                     *ngFor="let review of reviewsList">
                    <div class="list-content">
                        <div class="info info-title">
                            <div class="title">{{review.name}}</div>
                        </div>
                        <div class="info info-avatar">
                            <div class="avatar">
                                <img [src]="review.userAvatar?.visitUrl || './assets/img/unassgin.svg'" />
                            </div>
                            <div class="txt">
                                <div class="txt-name">{{review.username}}</div>
                                <div class="txt-date">{{review.updateTime}}</div>
                            </div>
                        </div>
                        <div class="info info-status">
                            <span class="label tx-green" *ngIf="review.status == configService.comparisonStatus.completed">Completed</span>
                            <span class="label" *ngIf="review.status != configService.comparisonStatus.completed" [ngClass]="[getStatusCls(review.status)]">{{review.status}}</span>
                        </div>
                    </div>
                    <div class="info info-edit">
                        <button class="btn btn-outline-purple-light btn-small" (click)="editReview(review)">
                            <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                        </button>
                    </div>
                </div>
                <div class="empty-text" *ngIf="reviewsList.length == 0">This section is empty.</div>
            </ng-container>
        </div>
    </div>
</div>
