<div class="loading-bar is-loading"></div>

<div class="table-main-content">
    <div class="review-content">
        <div class="sub-head-review">
            <div class="title">Step 3 - Fee calculator</div>
        </div>

        <div class="form-content">
            <div class="form-group-custom form-group-custom-reset">
                <div class="form-group-left">
                    <label class="control-label">Approximately how much do you expect to have in each account</label>
                    <p class="info">(average balance for next 12 months)</p>
                </div>

                <div class="form-group-right">
                    <div class="form-group-column">
                        <div class="column-6">
                            <div class="column-group">
                                <div class="form-group">
                                    <label class="control-label control-label-custom">IDPS 1</label>
                                    <div class="input-group_unit">
                                        <span class="unit">$</span>
                                        <input type="text" class="form-control" value="50,000"/>
                                    </div>
<!--                                    <span class="icon-block icon-delete icon-19"></span>-->
                                </div>
                            </div>

                            <div class="column-group">
                                <div class="form-group">
                                    <label class="control-label control-label-custom">IDPS 2</label>
                                    <div class="input-group_unit">
                                        <span class="unit">$</span>
                                        <input type="text" class="form-control" value="50,000"/>
                                    </div>
                                    <span class="icon-block icon-delete icon-19"></span>
                                </div>
                            </div>

                            <div class="column-group">
                                <button class="btn btn-outline-purple-light btn-with-icon btn-block">
                                    <span class="icon-block icon-add-purple icon-16 xs-mr-8"></span>Add IDPS
                                </button>
                            </div>
                        </div>

                        <div class="column-6">
                            <div class="column-group">
                                <div class="form-group">
                                    <label class="control-label control-label-custom">Super/Pension 1</label>
                                    <div class="input-group_unit">
                                        <span class="unit">$</span>
                                        <input type="text" class="form-control" value="50,000"/>
                                    </div>
<!--                                    <span class="icon-block icon-delete icon-19"></span>-->
                                </div>
                            </div>

                            <div class="column-group">
                                <button class="btn btn-outline-purple-light btn-with-icon btn-block">
                                    <span class="icon-block icon-add-purple icon-16 xs-mr-8"></span>Add Super
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="total-amount">
                        <div class="text">Total value of investments and super</div>
                        <div class="amount" title="$150,000">$150,000</div>
                    </div>
                </div>
            </div>

            <div class="form-group-custom form-group-custom-reset">
                <div class="form-group-left">
                    <label class="control-label">Which of the following will you hold through the platform?</label>
                    <p class="info"></p>
                </div>

                <div class="form-group-right">
                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="retailInsurance" id="retailInsurance"/>
                        <label for="retailInsurance">Retail insurance</label>
                    </div>

                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="australianDirectShares" id="australianDirectShares"/>
                        <label for="australianDirectShares">Australian direct shares</label>
                    </div>

                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="internationalDirectShares" id="internationalDirectShares"/>
                        <label for="internationalDirectShares">International direct shares</label>
                    </div>

                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="unlistedBonds" id="unlistedBonds"/>
                        <label for="unlistedBonds">Unlisted bonds</label>
                    </div>

                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="managedAccounts" id="managedAccounts"/>
                        <label for="managedAccounts">Managed accounts (SMA or MDA models)</label>
                    </div>

                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="nonCustodySolution" id="nonCustodySolution"/>
                        <label for="nonCustodySolution">Non-custody solution</label>
                    </div>

                </div>
            </div>

            <div class="form-group-custom form-group-custom-reset">
                <div class="form-group-left">
                    <label class="control-label">Approximately how much do you intend to hold in each investment class</label>
                    <p class="info"></p>
                </div>

                <div class="form-group-right">
                    <div class="form-group-column">
                        <div class="column-6">
                            <div class="form-group">
                                <label class="control-label control-label-custom">Cash</label>
                                <div class="input-group_unit">
                                    <span class="unit">$</span>
                                    <input type="text" class="form-control" value="50,000"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">International direct shares</label>
                                <div class="input-group_unit">
                                    <span class="unit">$</span>
                                    <input type="text" class="form-control" value="50,000"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Unlisted bonds</label>
                                <div class="input-group_unit">
                                    <span class="unit">$</span>
                                    <input type="text" class="form-control" value="50,000"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group-custom form-group-custom-reset">
                <div class="form-group-left">
                    <label class="control-label">In total, how many different funds, individual stocks and managed account models do you intend to hold? (across all portfolios)						</label>
                    <p class="info"></p>
                </div>

                <div class="form-group-right">
                    <div class="form-group-column">
                        <div class="column-6">
                            <div class="form-group">
                                <label class="control-label control-label-custom">Number of managed fund transactions</label>
                                <input type="text" class="form-control form-control-amount" value="25"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Number of Australian direct shares transactions</label>
                                <input type="text" class="form-control form-control-amount" value="25"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Number of international direct shares transactions</label>
                                <input type="text" class="form-control form-control-amount" value="25"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group-custom form-group-custom-reset">
                <div class="form-group-left">
                    <label class="control-label">In total, how many transactions do you expect will occur in the next 12 months outside SMA/MDAs, and what do you anticipate will be the average transaction size?</label>
                    <p class="info">(including transactions from any rebalancing)</p>
                </div>

                <div class="form-group-right">
                    <div class="form-group-column">
                        <div class="column-6">
                            <div class="form-group">
                                <label class="control-label control-label-custom">Number of managed fund transactions</label>
                                <input type="text" class="form-control form-control-amount" value="25"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Number of Australian direct shares transactions</label>
                                <input type="text" class="form-control form-control-amount" value="25"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Number of international direct shares transactions</label>
                                <input type="text" class="form-control form-control-amount" value="25"/>
                            </div>
                        </div>

                        <div class="column-6">
                            <div class="form-group">
                                <label class="control-label control-label-custom">Average value of each managed fund transaction</label>
                                <div class="input-group_unit">
                                    <span class="unit">$</span>
                                    <input type="text" class="form-control" value="50,000"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Average value of each Australian direct shares transaction</label>
                                <div class="input-group_unit">
                                    <span class="unit">$</span>
                                    <input type="text" class="form-control" value="50,000"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Average value of each international direct shares transaction</label>
                                <div class="input-group_unit">
                                    <span class="unit">$</span>
                                    <input type="text" class="form-control" value="50,000"/>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="form-group-custom form-group-custom-reset">
                <div class="form-group-left">
                    <label class="control-label">In total, how many transactions do you expect will occur in the next 12 months within SMA/MDAs, and what do you anticipate will be the average transaction size ?</label>
                    <p class="info">(including transactions from any rebalancing)</p>
                </div>

                <div class="form-group-right">
                    <div class="form-group-column">
                        <div class="column-6">
                            <div class="form-group">
                                <label class="control-label control-label-custom">Number of managed fund transactions</label>
                                <input type="text" class="form-control form-control-amount" value="25"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Number of Australian direct shares transactions</label>
                                <input type="text" class="form-control form-control-amount" value="25"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Number of international direct shares transactions</label>
                                <input type="text" class="form-control form-control-amount" value="25"/>
                            </div>
                        </div>

                        <div class="column-6">
                            <div class="form-group">
                                <label class="control-label control-label-custom">Average value of each managed fund transaction</label>
                                <div class="input-group_unit">
                                    <span class="unit">$</span>
                                    <input type="text" class="form-control" value="50,000"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Average value of each Australian direct shares transaction</label>
                                <div class="input-group_unit">
                                    <span class="unit">$</span>
                                    <input type="text" class="form-control" value="50,000"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label control-label-custom">Average value of each international direct shares transaction</label>
                                <div class="input-group_unit">
                                    <span class="unit">$</span>
                                    <input type="text" class="form-control" value="50,000"/>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
