<div class="main">
    <div class="head-fixed">
        <div class="sub-head">
            <div class="title">News & updates</div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="condition-list-wrapper scroll-style">
            <div class="drop-list">
                <div class="drop-item" *ngFor="let group of conditionOptions;let idx = index">
                    <div class="item-text" (click)="expandOptions(idx)">
                        <div class="item-name">{{group.name}}</div>
                        <div class="item-down-icon" [ngClass]="{'active': expandedList.includes(idx)}"></div>
                    </div>
                    <div class="item-list" [style]="{'height': expandedList.includes(idx) ? (group.options.length * 42) + 20 +'px' : 0}">
                        <div class="checkbox-option-item" *ngFor="let option of group.options">
                            <div class="check-box check-box-purple">
                                <input type="checkbox" name="CommunicationPreferences" [id]="group.key +'_'+option.value" [(ngModel)]="option.checked" (change)="conditionOptionsChange()"/>
                                <label [for]="group.key +'_'+option.value">{{option.label}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-list-wrapper">
            <div class="search-wrapper">
                <div class="search-content w-310">
                    <input type="text" [(ngModel)]="postCondition.keyword" (blur)="searchList()" (keydown.enter)="searchList()" placeholder="Search..." class="form-control"/>
                    <span class="icon icon-search icon-16"  (click)="searchList()"></span>
                </div>
                <button class="btn btn-purple btn-with-icon xs-ml-24" (click)="showCreatePostModal()">Create post</button>
            </div>
            <div class="news-list scroll-style" appListScroll (bottomed)="nextPage()">
                <div class="list-loading" *ngIf="pageLoading">
                    <img src="./assets/img/news-loading.svg" class="list-loading-img" />
                </div>
                <div class="no-data" *ngIf="!page.records.length && !pageLoading">
                    <img src="./assets/img/news-no-data.svg" class="no-data-img" />
                    <div class="no-data-title">
                        Oops!
                    </div>
                    <div class="no-data-sub_title">
                        Unfortunately there was no post relating <br/>
                        to your search. Try again to find your post.
                    </div>
                </div>
                <div class="news-item" *ngFor="let post of page.records;let idx = index;">
                    <div class="item-logo">
                        <img [src]="post.attachment?.visitUrl" *ngIf="post.attachment && post.attachment?.visitUrl">
                    </div>
                    <div class="item-content">
                        <div class="item-content-top">
                            <div class="item-base-info">
                                <div class="item-name">{{post.content.title}}</div>
                                <div class="item-status">
                                    <div class="label label-blue" style="padding: 4px 12px;" *ngIf="postService.postStatus.pending === post.status">{{post.status}}</div>
                                    <div class="label label-green" style="padding: 4px 12px;" *ngIf="postService.postStatus.published === post.status">{{post.status}}</div>
                                    <div class="label label-red" style="padding: 4px 12px;" *ngIf="postService.postStatus.rejected === post.status">{{post.status}}</div>
                                </div>
                            </div>
                            <div class="item-edit-group">
                                <button class="btn btn-text-danger">Reject</button>
                                <button class="btn btn-small btn-outline-purple-light" style="border: 1px solid #4640DE;padding: 10px 24px;">Accept</button>
                                <div class="edit-group-line"></div>
                                <button class="btn btn-text-danger">
                                    <span class="icon-block icon-14 icon-pen-red"></span>Edit
                                </button>
                                <button class="btn btn-small btn-outline-purple-light" style="color: #EB5757">
                                    <span class="icon-block icon-14 icon-delete-red xs-mr-10"></span>Delete
                                </button>
                            </div>
                        </div>
                        <div class="item-content-main">
                            <div class="item-content-platform">
                                <div class="item-platform">{{post.platformName}}</div>
                                <div class="separation-point"></div>
                                <div class="item-product">{{post.productName}}</div>
                                <div class="separation-point"></div>
                                <div class="item-date">{{post.updateTime}}17 Feb 2022</div>
                            </div>
                            <div class="item-images" *ngIf="post.attachments && post.attachments.length">
                                <app-horizontal-image-list [domId]="'images_'+idx" [attachmentList]="post.attachments"></app-horizontal-image-list>
                            </div>
                            <div class="item-txt" *ngIf="post.content">
                                <div class="txt-content" [innerHTML]="post.content.post">
                                </div>
                                <div class="more-btn tx-purple tx-bold">Read more</div>
                            </div>
                            <div class="item-table" *ngIf="post.features && post.features.length && postService.postType.platformUpdates === post.type">
                                <div class="table">
                                    <div class="table-thead">
                                        <div class="tr">
                                            <div class="th">Group</div>
                                            <div class="th">Subgroup</div>
                                            <div class="th">Feature</div>
                                        </div>
                                    </div>
                                    <div class="table-tbody" >
                                        <div class="tr" *ngFor="let i of [1,2,3]">
                                            <div class="td td-group">Client Access{{i}}</div>
                                            <div class="td td-sub-group">Web Portal Functionality</div>
                                            <div class="td td-feature">Client can set up own username</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="more-btn tx-purple tx-bold">Read more</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
