.form-group-sign {
    margin-bottom: 0;
}

.tip-error {
    color: #FF151F;
    margin: 0;

    a {
        text-decoration: underline;
        color: #FF151F;
    }
}

.sign-title {
    max-width: 300px;
    margin: 0 auto;
}