.form-group-sign {
  margin-bottom: 0;
}
.form-group {
  /deep/ .has-invalid-feedback {
    white-space: pre-line;
  }
}
.tip-error {
  color: #FF151F;
  margin: 0;
  > .row {
    width: 100%;
    margin: 0;
  }
}

.sign-title {
  max-width: 408px;
  margin: 0 auto;
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #25324B;

}