<div class="create-post-modal">
    <div class="close-btn">
        <img src="./assets/img/icon/icon-close-black-radius.svg" />
    </div>
    <div class="modal-title">
        <div class="title-text">Create a post</div>
    </div>
    <div class="modal-main">
        <div class="form">
            <div class="select-groups">
                <div class="select-group">
                    <img src="" alt="" />
                    <div class="select-input">
                        <labe>Platform</labe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
