.table-layout {
  .sub-head {
    .title {
      display: flex;
      align-items: center;
      color: #4640DE;
      font-family: 'ClashDisplay';
      font-weight: 700;
      font-size: 32px;
    }
  }
  .search-content {
    margin: 24px 0;
  }
  .col-content {
    width: 100%;
    height: 100%;

    .col-head {
      display: block;
      height: auto;
      padding-top:24px;
      border-bottom: none;
    }

    .col-body {
      height: calc(100% - 230px);
      .label {
        height: 30px;
        padding: 0 12px;
        min-width: auto;
        line-height: 30px;
        font-weight: 600;
        &.label-grey {
          background: rgba(168, 173, 183, 0.3);
          color: #25324B;
        }
        &.label-green-light {
          background: rgba(33, 150, 83, 0.1);
          color: #219653;
        }
        &.label-orange {
          background: rgba(235, 133, 51, 0.1);
          color: #EDA114;
        }
      }
    }
  }
}
