<div class="main main-with-search">
    <div class="head-fixed">
        <div class="sub-head">
            <div class="title">
                Advice practices
            </div>

            <div class="btn-control-group">
                <button class="btn btn-purple btn-with-icon xs-ml-24" (click)="save()">
                    <span class="icon-block icon-add icon-18 xs-mr-8"></span> Add practice
                </button>
            </div>
        </div>

        <div class="table-head">
            <div class="search-content w-310">
                <input type="text" placeholder="Search practise or user" class="form-control"/>
                <span class="icon icon-search icon-16"></span>
            </div>

            <div class="switch-button">
                <div class="switch-text" [ngClass]="{'active': condition.status == ''}" (click)="condition.status = '';getAdvicePage()">All</div>
                <div class="switch-text" [ngClass]="{'active': condition.status == configService.practiceStatus.active}"
                     (click)="condition.status = configService.practiceStatus.active;getAdvicePage()">Active
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <ng-container>
            <div class="table-list-wrap">
                <table class="table table-list table-striped">
                <thead>
                <tr>
                    <th>
                        <div class="th-cell xs-ml-8">
                            Practice name
                            <sorting-widget></sorting-widget>
                        </div>
                    </th>
                    <th>
                        <div class="th-cell">
                            Sign up date
                            <sorting-widget></sorting-widget>
                        </div>
                    </th>

                    <th>
                        <div class="th-cell">
                            Advisory users
                            <sorting-widget></sorting-widget>
                        </div>
                    </th>

                    <th class="text-center">
                        <div class="th-cell">
                            Next billing date
                            <sorting-widget></sorting-widget>
                        </div>
                    </th>

                    <th>
                        <div class="th-cell">
                            Status
                            <sorting-widget></sorting-widget>
                        </div>
                    </th>

                    <th class="text-right">
                        <div class="th-cell">Action</div>
                    </th>
                </tr>
                </thead>

                <thead class="table-margin">
                <tr>
                    <th colspan="6"></th>
                </tr>
                </thead>

                <tbody *ngIf="advicePage.total > 0">
                <tr *ngFor="let practice of advicePage.records">
                    <td>
                        <div class="td-cell tx-bold">{{practice.name}}</div>
                    </td>

                    <td>
                        <div class="td-cell">{{practice.signDate | dateFormat}}</div>
                    </td>

                    <td>
                        <div class="td-cell">3 of 4</div>
                    </td>

                    <td class="text-center">
                        <div class="td-cell">{{practice.billingDate | dateFormat}}</div>
                    </td>

                    <td>
                        <div class="td-cell" *ngIf="practice.archiveFlag">
                            <label class="label label-grey">Archived</label>
                        </div>
                        <div class="td-cell"
                             *ngIf="!practice.archiveFlag && practice.status == configService.practiceStatus.disable">
                            <label class="label label-red">Disabled</label>
                        </div>
                        <div class="td-cell"
                             *ngIf="!practice.archiveFlag && practice.status == configService.practiceStatus.active">
                            <label class="label label-green-light">Active</label>
                        </div>
                    </td>

                    <td class="text-right">
                        <button class="btn btn-purple-border btn-tiny" (click)="save(practice)">Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <ngb-pagination [collectionSize]="advicePage.total" [(page)]="advicePage.current"
                            [pageSize]="advicePage.size"
                            (pageChange)="pageChange($event)"></ngb-pagination>
        </ng-container>


        <div class="empty-text" *ngIf="advicePage.total == 0">You don’s have any advice practice yet. Click on “Add
            practice” to add.
        </div>

    </div>
</div>

