<div class="main main-form main-form-with-tab">
    <div class="sub-head sub-head-form">
        <div class="sub-title">
            <span class="icon-block icon-arr-left-long icon-31 xs-mr-16"></span>
            BT Asgard
        </div>

        <div class="btn-control-group">
            <button class="btn btn-clear btn-text-theme">Archive</button>
            <button class="btn btn-outline-blue-light xs-ml-24">Save draft</button>
            <button class="btn btn-purple xs-ml-24">Publish</button>
            <button class="btn btn-outline-danger-light xs-ml-24">Reject</button>
            <button class="btn btn-purple xs-ml-24">Submit for review</button>
        </div>
    </div>

    <div class="tab-menu">
        <div class="tab-text">Overview <span class="line"></span></div>
        <div class="tab-text">Information <span class="line"></span></div>
        <div class="tab-text">ESG <span class="line"></span></div>
        <div class="tab-text active">Features <span class="line"></span></div>
        <div class="tab-text">Fees & rates <span class="line"></span></div>
        <div class="tab-text">Change history <span class="line"></span></div>
    </div>

    <div class="form-content">
        <div class="form-group-custom">
            <div class="form-group-left" style="width: 100%;">
                <label class="control-label">Features</label>
                <p class="info">This is company information that you can update anytime</p>
            </div>
        </div>

         <div class="form-group-custom form-content-column">
             <div class="form-column-left">
                 <div class="title">Feature Groups</div>
                 <div class="sub-title active">Account management <span class="badge badge-theme xs-ml-6">2</span></div>
                 <div class="sub-title">Cashflow management</div>
                 <div class="sub-title">Client access</div>
                 <div class="sub-title">Client reporting</div>
                 <div class="sub-title">Decision support <span class="label-number xs-ml-6">7 new</span></div>
                 <div class="sub-title">Integration</div>
                 <div class="sub-title">Planning and compliance</div>
                 <div class="sub-title">Portfolio management</div>
                 <div class="sub-title">Tax</div>
                 <div class="sub-title">Tracking and events</div>
                 <div class="sub-title">Whole of wealth view</div>
             </div>


             <div class="form-column-right">
                 <div class="form-column-title">
                     <label class="control-label">Account opening</label>
                     <p class="info">This is company information that you can update anytime.</p>
                 </div>

                 <div class="form-sub-group">
                     <div class="form-sub-left">
                        <div class="title">Online identity verification for AML/CTF purposes</div>
                        <div class="text">Introduce your company core info quickly to users by fill up company details</div>
                     </div>

                     <div class="form-sub-right">
                         <div class="form-three-group">
                             <label class="control-label control-label-custom-large">Does this feature exist on this platform?</label>
                             <div class="radio-box">
                                 <input type="radio" name="platform" id="yes"/>
                                 <label for="yes">Yes</label>
                             </div>

                             <div class="radio-box">
                                 <input type="radio" name="platform" id="no"/>
                                 <label for="no">No</label>
                             </div>
                         </div>

                         <div class="form-three-group">
                             <label class="control-label control-label-custom-large">Enter your description of this feature</label>
                             <ckeditor [editor]="Editor" [config]="{placeholder: 'What security measures are in place, e.g. ISO 27001 certification'}" data=""></ckeditor>
                             <p class="tip-info">Maximum 500 characters <span>0 / 500</span></p>
                         </div>

                         <div class="form-three-group">
                             <label class="control-label control-label-custom-large">Upload a screenshot of this feature if applicable</label>
                             <div class="upload-file">
                                 <ngx-file-drop dropZoneLabel="Drop files here"
                                                accept="ACCEPT_FILE_TYPES">
                                     <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                         <span class="icon-block icon-loading icon-32 upload-loading"></span>

                                         <div class="upload-content">
                                             <input type="file" class="form-file"/>
                                             <span class="icon-block icon-photo icon-32"></span>
                                             <div class="file-intro"><span>Click to replace</span> or drag and drop </div>
                                             <div class="file-tip">SVG, PNG, JPG or GIF (max. 400 x 400px)</div>
                                         </div>
                                     </ng-template>
                                 </ngx-file-drop>
                             </div>

                         </div>

                     </div>
                 </div>

                 <div class="form-sub-group">
                     <div class="form-sub-left">
                         <div class="title">Nominate beneficiaries online</div>
                         <div class="text">Introduce your company core info quickly to users by fill up company details</div>
                     </div>

                     <div class="form-sub-right">
                         <div class="form-three-group">
                             <label class="control-label control-label-custom-large">Does this feature exist on this platform?</label>
                             <div class="radio-box">
                                 <input type="radio" name="platform" id="yes"/>
                                 <label for="yes">Yes</label>
                             </div>

                             <div class="radio-box">
                                 <input type="radio" name="platform" id="no"/>
                                 <label for="no">No</label>
                             </div>
                         </div>

                         <div class="form-three-group">
                             <label class="control-label control-label-custom-large">Enter your description of this feature</label>
                             <ckeditor [editor]="Editor" [config]="{placeholder: 'What security measures are in place, e.g. ISO 27001 certification'}" data=""></ckeditor>
                             <p class="tip-info">Maximum 500 characters <span>0 / 500</span></p>
                         </div>

                         <div class="form-three-group">
                             <label class="control-label control-label-custom-large">Upload a screenshot of this feature if applicable</label>
                             <div class="upload-file">
                                 <ngx-file-drop dropZoneLabel="Drop files here"
                                                accept="ACCEPT_FILE_TYPES">
                                     <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                         <span class="icon-block icon-loading icon-32 upload-loading"></span>

                                         <div class="upload-content">
                                             <input type="file" class="form-file"/>
                                             <span class="icon-block icon-photo icon-32"></span>
                                             <div class="file-intro"><span>Click to replace</span> or drag and drop </div>
                                             <div class="file-tip">SVG, PNG, JPG or GIF (max. 400 x 400px)</div>
                                         </div>
                                     </ng-template>
                                 </ngx-file-drop>
                             </div>
                         </div>
                     </div>
                 </div>


                 <div class="form-column-title">
                     <label class="control-label">Straight through processing</label>
                     <p class="info">This is company information that you can update anytime.</p>
                 </div>

                 <div class="form-sub-group">
                     <div class="form-sub-left">
                         <div class="title">Digital process to update bank account (to pay from platform)</div>
                         <div class="text">Introduce your company core info quickly to users by fill up company details</div>
                     </div>

                     <div class="form-sub-right">
                         <div class="form-three-group">
                             <label class="control-label control-label-custom-large">Does this feature exist on this platform?</label>
                             <div class="radio-box">
                                 <input type="radio" name="platform" id="yes"/>
                                 <label for="yes">Yes</label>
                             </div>

                             <div class="radio-box">
                                 <input type="radio" name="platform" id="no"/>
                                 <label for="no">No</label>
                             </div>
                         </div>

                         <div class="form-three-group">
                             <label class="control-label control-label-custom-large">Enter your description of this feature</label>
                             <ckeditor [editor]="Editor" [config]="{placeholder: 'What security measures are in place, e.g. ISO 27001 certification'}" data=""></ckeditor>
                             <p class="tip-info">Maximum 500 characters <span>0 / 500</span></p>
                         </div>

                         <div class="form-three-group">
                             <label class="control-label control-label-custom-large">Upload a screenshot of this feature if applicable</label>
                             <div class="upload-file">
                                 <ngx-file-drop dropZoneLabel="Drop files here"
                                                accept="ACCEPT_FILE_TYPES">
                                     <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                         <span class="icon-block icon-loading icon-32 upload-loading"></span>

                                         <div class="upload-content">
                                             <input type="file" class="form-file"/>
                                             <span class="icon-block icon-photo icon-32"></span>
                                             <div class="file-intro"><span>Click to replace</span> or drag and drop </div>
                                             <div class="file-tip">SVG, PNG, JPG or GIF (max. 400 x 400px)</div>
                                         </div>
                                     </ng-template>
                                 </ngx-file-drop>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>
         </div>
    </div>
</div>
