<div class="loading-bar has-load"></div>
<div class="table-main-content">
    <div class="sub-head-review">
        <div class="title">Step 2 - Business metric selection</div>
    </div>

    <div class="selection-content">
        <div class="selection-head">
            <div class="title">
                <span class="icon-block icon-head-dollar icon-45 xs-mr-24"></span>
                Financial strength
            </div>

            <div class="btn-select">Deselect all</div>
        </div>

        <div class="selection-body">
            <div class="selection-item">
                <h4>Ownership structure</h4>
                <div class="info">Nomad is located in Paris, France. Nomad has generates $728,000 in sales (USD).</div>
            </div>

            <div class="selection-item selected">
                <h4>Net flows in last 12 months</h4>
                <div class="info">Nomad is located in Paris, France. Nomad has generates $728,000 in sales (USD).</div>
            </div>

            <div class="selection-item">
                <h4>Parent company profitable in most recent financial year</h4>
                <div class="info">Nomad is located in Paris, France. Nomad has generates $728,000 in sales (USD).</div>
            </div>

            <div class="selection-item">
                <h4>Ownership structure</h4>
                <div class="info">Nomad is located in Paris, France. Nomad has generates $728,000 in sales (USD).</div>
            </div>

            <div class="selection-item">
                <h4>Ownership structure</h4>
                <div class="info">Nomad is located in Paris, France. Nomad has generates $728,000 in sales (USD).</div>
            </div>
        </div>
    </div>

    <div class="selection-content">
        <div class="selection-head">
            <div class="title">
                <span class="icon-block icon-head-cycle icon-45 xs-mr-24"></span>
                ESG policies
            </div>

            <div class="btn-select">Select all </div>
        </div>

        <div class="selection-body">
            <div class="selection-item">
                <h4>Ownership structure</h4>
                <div class="info">Nomad is located in Paris, France. Nomad has generates $728,000 in sales (USD).</div>
            </div>

            <div class="selection-item">
                <h4>Net flows in last 12 months</h4>
                <div class="info">Nomad is located in Paris, France. Nomad has generates $728,000 in sales (USD).</div>
            </div>

            <div class="selection-item">
                <h4>Parent company profitable in most recent financial year</h4>
                <div class="info">Nomad is located in Paris, France. Nomad has generates $728,000 in sales (USD).</div>
            </div>
        </div>
    </div>

    <div class="selection-content">
        <div class="selection-head">
            <div class="title">
                <span class="icon-block icon-head-setting icon-45 xs-mr-24"></span>
                Operational
            </div>

            <div class="btn-select">Select all </div>
        </div>

        <div class="selection-body">
            <div class="selection-item">
                <h4>Ownership structure</h4>
                <div class="info">Nomad is located in Paris, France. Nomad has generates $728,000 in sales (USD).</div>
            </div>

            <div class="selection-item">
                <h4>Ownership structure</h4>
                <div class="info">Nomad is located in Paris, France. Nomad has generates $728,000 in sales (USD).</div>
            </div>

        </div>
    </div>

</div>

