<div class="tip-wrapper">
    <span class="icon-block icon-close-black icon-34" (click)="dismiss()"></span>
    <div class="title">{{title}}</div>
    <div class="info">{{info}}</div>

    <div class="tip-control">
        <div class="row">
            <div class="col-6"> <button class="btn btn-purple-border btn-modal btn-modal-clear btn-block" (click)="dismiss()">{{btnCancelText}}</button></div>
            <div class="col-6"> <button class="btn btn-purple btn-modal btn-block" (click)="btnOk()">{{btnText}}</button></div>
        </div>
    </div>
</div>
