.content-wrapper {
  display: grid;
  grid-template-columns: 305px 1fr;
  column-gap: 24px;
  .condition-list-wrapper {
    position: relative;
    .drop-list {
    }
    .drop-item {
      min-height: 56px;
      .item-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        .item-name {
          font: normal 700 16px 'Epilogue';
          color: #25324B;
        }
        .item-down-icon {
          width: 15px;
          height: 15px;
          background: url("../../../../../assets/img/icon/icon-arrow-blue.svg") center center/contain no-repeat;
          transform: rotate(180deg);
          cursor: pointer;
        }
      }
    }
  }
}
.search-wrapper {
  display: flex;
  justify-content: space-between;
}
