<div class="table-layout">
    <div class="col-content">
        <div class="col-body">
            <table class="table table-margin-list">
                <tbody>
                    <tr>
                        <td>
                            <div class="td-cell tx-size-16 tx-semi">INV-2921</div>
                        </td>

                        <td class="text-center">
                            <div class="td-cell tx-size-14">1 Dec 2020 - 31 Dec 2021</div>
                        </td>

                        <td class="text-right">
                            <div class="td-cell tx-size-16 tx-medium">$199.90</div>
                        </td>

                        <td class="text-center">
                            <div class="td-cell tx-size-14">10 Advisers</div>
                        </td>

                        <td class="text-right">
                            <button class="btn btn-outline-purple-light btn-tiny">Download</button>
                        </td>
                    </tr>

                    <tr class="tr-margin">
                        <td colspan="5"></td>
                    </tr>

                    <tr>
                        <td>
                            <div class="td-cell tx-size-16 tx-semi">INV-2921</div>
                        </td>

                        <td class="text-center">
                            <div class="td-cell tx-size-14">1 Dec 2020 - 31 Dec 2021</div>
                        </td>

                        <td class="text-right">
                            <div class="td-cell tx-size-16 tx-medium">$1999.90</div>
                        </td>

                        <td class="text-center">
                            <div class="td-cell tx-size-14">10 Advisers</div>
                        </td>

                        <td class="text-right">
                            <button class="btn btn-outline-purple-light btn-tiny">Download</button>
                        </td>
                    </tr>


                </tbody>


            </table>

        </div>
    </div>
</div>
