<div class="table-layout">
    <div class="col-content">
        <div class="col-body">
<!--            <table class="table table-margin-list">-->
<!--                <tbody>-->
<!--                    <tr>-->
<!--                        <td class="max-w-300">-->
<!--                            <div class="td-cell tx-size-16 tx-semi text-ellipsis max-w-300" title="INV-2921">INV-2921</div>-->
<!--                        </td>-->

<!--                        <td class="text-center">-->
<!--                            <div class="td-cell tx-size-14">1 Dec 2020 - 31 Dec 2021</div>-->
<!--                        </td>-->

<!--                        <td class="text-right max-w-300">-->
<!--                            <div class="td-cell tx-size-16 tx-medium text-ellipsis max-w-200" title="$199.90">$199.90</div>-->
<!--                        </td>-->

<!--                        <td class="text-center">-->
<!--                            <div class="td-cell tx-size-14">10 Advisers</div>-->
<!--                        </td>-->

<!--                        <td class="text-right">-->
<!--                            <button class="btn btn-outline-purple-light btn-tiny">Download</button>-->
<!--                        </td>-->
<!--                    </tr>-->

<!--                    <tr class="tr-margin">-->
<!--                        <td colspan="5"></td>-->
<!--                    </tr>-->

<!--                    <tr>-->
<!--                        <td class="max-w-300">-->
<!--                            <div class="td-cell tx-size-16 tx-semi text-ellipsis max-w-300" title="INV-2921">INV-2921</div>-->
<!--                        </td>-->

<!--                        <td class="text-center">-->
<!--                            <div class="td-cell tx-size-14">1 Dec 2020 - 31 Dec 2021</div>-->
<!--                        </td>-->

<!--                        <td class="text-right max-w-200">-->
<!--                            <div class="td-cell tx-size-16 tx-medium text-ellipsis max-w-200" title="$199.90">$199.90</div>-->
<!--                        </td>-->

<!--                        <td class="text-center">-->
<!--                            <div class="td-cell tx-size-14">10 Advisers</div>-->
<!--                        </td>-->

<!--                        <td class="text-right">-->
<!--                            <button class="btn btn-outline-purple-light btn-tiny">Download</button>-->
<!--                        </td>-->
<!--                    </tr>-->


<!--                </tbody>-->


<!--            </table>-->
            <div class="tip-stage">Invoice function coming in stage 2 of SuitabilityHub beta.</div>
        </div>
    </div>
</div>
