<div class="sub-head-review">
    <div class="title">Step 2 - Feature matric</div>
    <div class="filter-content">
        <div class="switch-button xs-ml-16">
            <div class="switch-text active">All</div>
            <div class="switch-text">Hide removed platforms</div>
        </div>

        <div class="switch-button xs-ml-16">
            <div class="switch-text active">All</div>
            <div class="switch-text">Hide non-essential features</div>
        </div>

        <div class="switch-button xs-ml-16">
            <div class="switch-text">All</div>
            <div class="switch-text active">Hide common features</div>
        </div>
    </div>
</div>

<div class="review-content">
    <div class="table-container">
        <table class="table table-review">
            <thead>
                <th class="th-head">
                    <div class="th-first">
                        <div class="th-bottom">
                            <div class="title">Features</div>
                            <button class="btn btn-outline-purple-light btn-hide">(32) Hidden <span class="icon-block icon-close-circle-purple icon-19 xs-ml-10"></span></button>
                        </div>
                    </div>
                </th>

                <th class="th-brand bg-green-light-01">
                    <div class="th-brand-box">
                        <div class="brand-pic">
                            <img src="../../../../assets/img/logo-bt.png"/>
                        </div>
                        <div class="title">BT Panorama</div>

                        <div class="text">Overall</div>
                        <div class="num">98%</div>

                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">Edit comment</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>

                        <div class="tip-message tip-success">
                           <span class="icon-block icon-checked-white icon-16 xs-mr-4"></span> Added to shortlist
                        </div>
                    </div>
                </th>

                <th class="th-brand">
                    <div class="th-brand-box">
                        <div class="brand-pic">
                            <img src="../../../../assets/img/logo-pic02.png"/>
                        </div>
                        <div class="title">Praemium</div>

                        <div class="text">Overall</div>
                        <div class="num">92%</div>

                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">+ Shortlist</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>
                    </div>
                </th>

                <th class="th-brand">
                    <div class="th-brand-box">
                        <div class="brand-pic">
                            <img src="../../../../assets/img/logo-pic03.png"/>
                        </div>
                        <div class="title">Netwealth</div>

                        <div class="text">Overall</div>
                        <div class="num">88%</div>

                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">+ Shortlist</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>
                    </div>
                </th>

                <th class="th-brand bg-red-light">
                    <div class="th-brand-box">
                        <div class="brand-pic">
                            <img src="../../../../assets/img/logo-bt.png"/>
                        </div>
                        <div class="title">BT Asgard </div>

                        <div class="text">Overall</div>
                        <div class="num">48%</div>

                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">+ Shortlist</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>

                        <div class="tip-message tip-danger">
                            <span class="icon-block icon-info-red icon-18"></span> Missing essential features
                        </div>
                    </div>
                </th>

                <th class="th-brand bg-red-light">
                    <div class="th-brand-box">
                        <div class="brand-pic">
                            <img src="../../../../assets/img/logo-bt.png"/>
                        </div>
                        <div class="title">BT Panorama </div>

                        <div class="text">Overall</div>
                        <div class="num">98%</div>

                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">+ Shortlist</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>

                        <div class="tip-message tip-danger">
                            <span class="icon-block icon-info-red icon-18"></span> Missing essential features
                        </div>
                    </div>
                </th>

                <th class="th-brand bg-red-light">
                    <div class="th-brand-box">
                        <div class="brand-pic">
                            <img src="../../../../assets/img/logo-bt.png"/>
                        </div>
                        <div class="title">BT Panorama </div>

                        <div class="text">Overall</div>
                        <div class="num">98%</div>

                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">+ Shortlist</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>

                        <div class="tip-message tip-danger">
                            <span class="icon-block icon-info-red icon-18"></span> Missing essential features
                        </div>
                    </div>
                </th>
            </thead>

            <ng-container>
                <tbody>
                    <tr class="main-group">
                        <td>
                            <div class="main-group-title" >
                                <span class="icon-block icon-block-left icon-search-file icon-24"></span>
                                Account management
                                <span class="icon-block icon-block-right icon-arr-up-purple icon-20"></span>
                            </div>
                        </td>

                        <td>
                            <div class="main-group-text">
                                <div class="text">Group match</div>
                                <div class="num">100%</div>
                            </div>
                        </td>

                        <td>
                            <div class="main-group-text">
                                <div class="text">Group match</div>
                                <div class="num">100%</div>
                            </div>
                        </td>

                        <td>
                            <div class="main-group-text">
                                <div class="text">Group match</div>
                                <div class="num">100%</div>
                            </div>
                        </td>

                        <td>
                            <div class="main-group-text">
                                <div class="text">Group match</div>
                                <div class="num">90%</div>
                            </div>
                        </td>

                        <td>
                            <div class="main-group-text">
                                <div class="text">Group match</div>
                                <div class="num">90%</div>
                            </div>
                        </td>

                        <td>
                            <div class="main-group-text">
                                <div class="text">Group match</div>
                                <div class="num">90%</div>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <ng-container>
                    <tbody>
                        <tr class="sub-group">
                            <td>
                                <div class="sub-group-title">
                                    Account opening
                                    <span class="icon-block icon-block-right icon-arr-up-purple icon-20"></span>
                                </div>
                            </td>

                            <td class="bg-green-light-01"></td>
                            <td></td>
                            <td></td>
                            <td class="bg-red-light"></td>
                            <td class="bg-red-light"></td>
                            <td class="bg-red-light"></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="bg-red-light">
                                <div class="content-title">
                                    Online identity verification for AML/CTF purposes
                                    <span class="icon-block icon-star icon-12"></span>
                                    <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                </div>
                            </td>

                            <td class="bg-green-light-01 content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-close-red icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>
                        </tr>

                        <tr>
                            <td class="bg-red-light">
                                <div class="content-title">
                                    Online identity verification for AML/CTF purposes
                                    <span class="icon-block icon-star icon-12"></span>
                                    <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                </div>
                            </td>

                            <td class="bg-green-light-01 content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-close-red icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>
                        </tr>

                        <tr>
                            <td class="bg-red-light">
                                <div class="content-title">
                                    Online identity verification for AML/CTF purposes
                                    <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                </div>
                            </td>

                            <td class="bg-green-light-01 content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-close-red icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>
                        </tr>

                        <tr>
                            <td class="bg-red-light">
                                <div class="content-title">
                                    Online identity verification for AML/CTF purposes
                                    <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                </div>
                            </td>

                            <td class="bg-green-light-01 content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-close-red icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>
                        </tr>

                        <tr>
                            <td class="bg-red-light">
                                <div class="content-title">
                                    Online identity verification for AML/CTF purposes
                                    <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                </div>
                            </td>

                            <td class="bg-green-light-01 content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-close-red icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>
                        </tr>

                        <tr>
                            <td class="bg-red-light">
                                <div class="content-title">
                                    Online identity verification for AML/CTF purposes
                                    <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                </div>
                            </td>

                            <td class="bg-green-light-01 content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-close-red icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>
                        </tr>

                        <tr>
                            <td class="bg-red-light">
                                <div class="content-title">
                                    Online identity verification for AML/CTF purposes
                                    <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                </div>
                            </td>

                            <td class="bg-green-light-01 content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-close-red icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>
                        </tr>

                        <tr>
                            <td class="bg-red-light">
                                <div class="content-title">
                                    Online identity verification for AML/CTF purposes
                                    <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                </div>
                            </td>

                            <td class="bg-green-light-01 content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-close-red icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>

                            <td class="content-text bg-red-light">
                                <span class="icon-block icon-checked-green icon-18"></span>
                                <span class="icon-block icon-info-circle-purple icon-15"></span>
                            </td>
                        </tr>
                    </tbody>
                </ng-container>
            </ng-container>
        </table>
    </div>

</div>
