<div class="sub-head-review">
    <div class="title">Step 2 - Feature matric</div>
    <div class="filter-content">
        <div class="switch-button xs-ml-16">
            <div class="switch-text active">All</div>
            <div class="switch-text">Hide removed platforms</div>
        </div>

        <div class="switch-button xs-ml-16">
            <div class="switch-text active">All</div>
            <div class="switch-text">Hide non-essential features</div>
        </div>

        <div class="switch-button xs-ml-16">
            <div class="switch-text">All</div>
            <div class="switch-text active">Hide common features</div>
        </div>
    </div>
</div>

<div class="review-content">
    <table class="table table-review">
        <thead>
            <th class="th-head">
                <div class="th-first">
                    <div class="th-bottom">
                        <div class="title">Features</div>
                        <button class="btn btn-outline-purple-light btn-hide">(32) Hidden <span class="icon-block icon-close-circle-purple icon-19 xs-ml-10"></span></button>
                    </div>
                </div>
            </th>

            <th class="th-brand">
                <div class="th-brand-box">
                    <div class="brand-pic">
                        <img src="../../../../assets/img/logo-bt.png"/>
                    </div>
                    <div class="title">BT Panorama</div>

                    <div class="text">Overall</div>
                    <div class="num">98%</div>

                    <div class="btn-control-box">
                        <button class="btn btn-outline-purple-light btn-edit">Edit comment</button>
                        <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                    </div>

                    <div class="tip-message tip-success">
                       <span class="icon-block icon-checked-white icon-16 xs-mr-4"></span> Added to shortlist
                    </div>
                </div>
            </th>

            <th class="th-brand">
                <div class="th-brand-box">
                    <div class="brand-pic">
                        <img src="../../../../assets/img/logo-pic02.png"/>
                    </div>
                    <div class="title">Praemium</div>

                    <div class="text">Overall</div>
                    <div class="num">92%</div>

                    <div class="btn-control-box">
                        <button class="btn btn-outline-purple-light btn-edit">+ Shortlist</button>
                        <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                    </div>
                </div>
            </th>
        </thead>
    </table>
</div>
