.tx-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.sub-head-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 24px 32px 8px 32px;
  background-color: #F7F7F7;
  z-index: 10;

  .title {
    font-family: 'ClashDisplay';
    font-weight: 700;
    font-size: 24px;
    line-height: 38.4px;
    color: #4640DE;
  }

  .filter-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.switch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4640DE;
  font-size: 14px;
  font-weight: 400;
  padding: 4px;
  background-color: #E9EBFD;

  .switch-text {
    padding: 7px 12px;
    cursor: pointer;
    text-align: center;

    &.active {
      font-weight: 700;
      background-color: #ffffff;
    }

    &:hover {
      background-color: #ffffff;
    }
  }
}

.review-content {
  padding: 155px 32px 0;
  height: 100%;
}

.table-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.table-review {
  width: 100%;

  tbody + tbody {
    border-top: none;
  }

  thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;

    &:first-child {
      left: 0;
      z-index: 3;
    }
  }

  tbody {
    overflow: scroll;
    height: 100%;
  }

  .hide {
    display: none;
  }

  tr > :first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
  }


  thead, tbody {
    th, td {
      padding: 0;
      border-bottom: 1px solid #D6DDEB;
      border-right: 1px solid #D6DDEB;
      border-top: none;
      border-left: none;
      background-color: #ffffff;


      &:last-child {
        border-right: none;
      }
    }

    tr {
      td {
        &:first-child {
          background-color: #F7F7F7;
        }
      }
    }
  }

  .th-head {
    width: 305px;
    min-width: 305px;
    height: 263px;
    background-color: #ffffff;
  }

  .th-brand {
    min-width: 198px;
    height: 263px;
    background-color: #ffffff;
  }

  .th-first {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 305px;
    height: 263px;
    padding: 8px;
    box-shadow: 0px 1px 0px #E0E5F0;

    .th-bottom {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #25324B;
        max-width: 150px;
        .tx-ellipsis;
      }

      .btn-hide {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: #515B6F;
        padding: 5px 10px !important;

      }
    }
  }

  .th-brand-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 198px;
    height: 263px;
    padding: 13px;
    text-align: center;
    box-shadow: 0px 1px 0px #E0E5F0;

    .brand-pic {
      width: 68px;
      height: 68px;

      img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .title {
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      color: #25324B;
      margin: 8px 0;
      max-width: 198px;
      .tx-ellipsis;
    }

    .text {
      font-weight: 500;
      font-size: 13px;
      line-height: 20.8px;
      color: #515B6F;
    }

    .num {
      font-family: 'ClashDisplay';
      font-weight: 600;
      font-size: 24px;
      line-height: 28.8px;
      color: #4640DE;
    }

    .btn-control-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0;
      width: 100%;

      .btn-edit {
        flex: 1;
        font-size: 12px;
        padding: 10px 21px;
        height: 40px;
        margin-right: 4px;
        background-color: #ffffff;
      }

      .btn-trash {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        padding: 0 !important;
        background-color: #ffffff;
      }
    }

    .tip-message {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      color: #FFFFFF;

      &.tip-success {
        background-color: #219653;
      }

      &.tip-danger {
        background-color: #EB5757;
      }
    }
  }

  .icon-block-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 16px;
    cursor: pointer;
  }

  .btn-icon-clear {
    transform: rotateZ(180deg);
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    &.collapsed {
      transform: rotateZ(0);
    }
  }

  .main-group {
    td {
      background-color: #F8F8FE !important;
    }
  }

  .main-group-title {
    position: relative;
    color: #4640DE;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 46px 16px 40px;
    max-width: 305px;
    .tx-ellipsis;

    .icon-block-left {
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 8px;
    }
  }
  .review-content-close {
    .icon-block-right {
      animation: turn-up 0.25s linear 1;
      animation-fill-mode:forwards;
    }
  }
  .review-content-open {
    .icon-block-right {
      animation: turn-down 0.25s linear 1;
      animation-fill-mode:forwards;
    }
  }

  @keyframes turn-up {
    0% {
      -webkit-transform: rotate(180deg);
    }
    25% {
      -webkit-transform: rotate(135deg);
    }
    50% {
      -webkit-transform: rotate(90deg);
    }
    75% {
      -webkit-transform: rotate(45deg);
    }
    100% {
      -webkit-transform: rotate(00deg);
    }
  }

  @keyframes turn-down {
    0% {
      -webkit-transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(45deg);
    }
    50% {
      -webkit-transform: rotate(90deg);
    }
    75% {
      -webkit-transform: rotate(135deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
    }
  }

  .main-group-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 8px;

    .text {
      color: #515B6F;
      font-weight: 500;
      font-size: 12px;
    }

    .num {
      font-family: 'ClashDisplay';
      color: #4640DE;
      font-weight: 600;
      font-size: 18px;
      text-align: right;
    }
  }

  .sub-group-title {
    position: relative;
    color: #25324B;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    padding: 26px 46px 26px 8px;
    max-width: 305px;
    .tx-ellipsis;
  }

  .content-title {
    position: relative;
    font-weight: 500;
    font-size: 13px;
    line-height: 15.6px;
    color: #515B6F;
    padding: 16px 64px 16px 8px;
    max-width: 305px;
    .tx-ellipsis;

    .icon-star {
      position: absolute;
      top: 50%;
      right: 42px;
      margin-top: -6px;
    }
  }

  .content-text {
    position: relative;
    text-align: center;
    vertical-align: middle;

    .icon-info-circle-purple {
      position: absolute;
      right: 8px;
      bottom: 8px;
      cursor: pointer;
    }
  }
}


.row-head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;

  .col-cell {
    background-color: #ffffff;

    &.col-cell-first {
      left: 0 !important;
      z-index: 3 !important;
    }
  }
}

.row-body {
  &.main-group {
    background-color: #F8F8FE;
  }

  .col-cell {
    &.col-cell-first {
      background-color: #F7F7F7;
    }
  }

  .content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }
}

.row-head, .row-body {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  .col-cell {
    width: 198px;
    flex-shrink: 0;
    flex-grow: 0;
    border-bottom: 1px solid #D6DDEB;
    border-right: 1px solid #D6DDEB;

    &.col-cell-first {
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      z-index: 2;
      flex: 1;
      flex-shrink: 0;
      min-width: 305px;
    }
  }
}
