<div class="modal-main p40">
    <div class="modal-header">
        <h2 class="modal-title">Reset password link has been sent to
            <span>Christopher.Mather@BTFinancialgroup.com</span> </h2>
    </div>
    <div class="modal-body">
        <div class="form modal-form">
            <div class="form-info">
                <p>Please reset the password from there. </p>
            </div>
            <div class="form-button">
                <div class="submit">
                    <button (click)="close()" class="btn btn-purple btn-sign tx-16 btn-block">OK</button>
                </div>
            </div>
        </div>
    </div>

</div>