<div class="table-layout">
    <div class="col-content col-content-1">
        <div class="col-head">
            <div class="title">Sections</div>
            <div class="col-head-right" *ngIf="version.type">
                <span class="link-show" *ngIf="version.type != 'Publish'"
                      (click)="showSectionArchived()">{{hideSectionArchive ? 'Show archived' : 'Hide archived'}}</span>
                <span class="link-new" [hidden]="!configService.isEditable(version.type)"
                      (click)="saveSection()">+ New</span>
            </div>
        </div>

        <div class="col-body">
            <div class="list-cell {{activeGroup(section.id)}}"
                 [hidden]="hideSectionArchive && configService.isArchive(section.status)"
                 [ngClass]="configService.getClassByStatus(section.status, version.type)"
                 *ngFor="let section of freezeSections" (click)="chooseSection(section.id)">
                <div class="title" [title]="section.name">{{section.name}}</div>
                <ng-container *ngIf="version.type">
                <span class="icon-block icon-edit icon-20" (click)="saveSection(section.id, $event)"
                      [hidden]="!configService.isEditable(version.type)"></span>
                </ng-container>
            </div>
            <div cdkDropList (cdkDropListDropped)="dropSections($event)">
                <div class="list-cell {{configService.isEditable(version.type) ? 'list-cell-sort' : ''}} {{activeGroup(section.id)}}"
                     [ngClass]="configService.getClassByStatus(section.status, version.type)"
                     (click)="chooseSection(section.id)"
                     [hidden]="hideSectionArchive && configService.isArchive(section.status)"
                     [cdkDragDisabled]="!configService.isEditable(version.type)"
                     cdkDrag *ngFor="let section of moveSections">
                    <span class="icon-block icon-line icon-24"
                          [hidden]="!configService.isEditable(version.type)"></span>
                    <div class="title" [title]="section.name">{{section.name}}</div>
                    <ng-container *ngIf="version.type">
                        <span class="label label-red" *ngIf="configService.isArchive(section.status)">Archived</span>
                        <span class="icon-block icon-edit icon-20" (click)="saveSection(section.id,$event)"
                              [hidden]="!configService.isEditable(version.type)"></span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="col-content col-content-2">
        <div class="col-head">
            <div class="col-head-top">
                <div>
                    <div class="title">Business information</div>
                    <div class="text">Showing 13 in-use items</div>
                </div>
                <div class="col-head-right" *ngIf="version.type">
                    <span class="link-show" *ngIf="version.type != 'Publish'"
                          (click)="showPropArchived()">{{hidePropArchive ? 'Show archived' : 'Hide archived'}}</span>
                    <button class="btn btn-outline-purple-light tx-13 tx-semi"
                            (click)="saveProp()"
                            [hidden]="!configService.isEditable(version.type) || !reminder.groupId">+ New
                    </button>
                </div>
            </div>

            <div class="search-content w-310">
                <input type="text" placeholder="Search a keyword" class="form-control"/>
                <span class="icon icon-search icon-16"></span>
            </div>
        </div>

        <div class="col-body">
            <div class="empty-text" *ngIf="emptyList()">This section does not have
                any features.
            </div>

            <div class="list-cell-large" [ngClass]="configService.getClassByStatus(prop.status, version.type)"
                 *ngFor="let prop of freezeProps">
                <div class="list-content">
                    <div class="info">
                        <div class="title">{{prop.name}}</div>
                        <div class="text">{{configService.getPropType(prop.type)}}</div>
                    </div>
                    <span class="label label-green" *ngIf="prop.bmFlag">Business Metric</span>
                    <span class="label label-red" *ngIf="configService.isArchive(prop.status)">Archived</span>
                </div>
                <ng-container *ngIf="version.type">
                    <button class="btn btn-outline-purple-light btn-small"
                            [hidden]="configService.isEditable(version.type)" (click)="saveProp(prop.id)">View
                    </button>
                    <button class="btn btn-outline-purple-light btn-small"
                            (click)="saveProp(prop.id)"
                            [hidden]="!configService.isEditable(version.type)">
                        <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                    </button>
                </ng-container>
            </div>
            <div cdkDropList (cdkDropListDropped)="dropProps($event)">
                <div class="list-cell-large {{configService.getClassByStatus(prop.status, version.type)}}"
                     [ngClass]="{'list-cell-sort': configService.isEditable(version.type)}"
                     [hidden]="hidePropArchive && configService.isArchive(prop.status)"
                     [cdkDragDisabled]="!configService.isEditable(version.type)"
                     cdkDrag *ngFor="let prop of moveProps">
                    <span class="icon-block icon-line icon-32"
                          [hidden]="!configService.isEditable(version.type)"></span>
                    <div class="list-content">
                        <div class="info">
                            <div class="title">{{prop.name}}</div>
                            <div class="text">{{configService.getPropType(prop.type)}}</div>
                        </div>
                        <span class="label label-green" *ngIf="prop.bmFlag">Business Metric</span>
                        <span class="label label-red" *ngIf="configService.isArchive(prop.status)">Archived</span>
                    </div>
                    <ng-container *ngIf="version.type">
                        <button class="btn btn-outline-purple-light btn-small"
                                [hidden]="configService.isEditable(version.type)" (click)="saveProp(prop.id)">View
                        </button>
                        <button class="btn btn-outline-purple-light btn-small"
                                (click)="saveProp(prop.id)"
                                [hidden]="!configService.isEditable(version.type)">
                            <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
