<div class="loading-bar has-load"></div>
<div class="table-main-content">
    <div class="summary-container" appTableScroll>
        <div class="summary__title module-wrapper">
            <div class="sub-head-review">
                <div class="title">Step {{this.reviewService.comparison.analyseVoList.length + 2}} - Summary</div>
            </div>
            <div class="personnel-wrapper">
                <div class="personnel-info">
                    <div class="personnel-info_title">
                        {{comparisonInfo.adviserName ? comparisonInfo.adviserName + '’s' : ''}} review performed in Q{{comparisonInfo.updateTime | dateFormat : 'Q YYYY'}}
                        <div class="status">
                            <ng-container *ngIf="!comparisonInfo.archived">
                                <label class="label label-green xs-pl-16 xs-pr-16"
                                       *ngIf="comparisonInfo.status == configService.comparisonStatus.completed">Completed</label>
                                <label class="label label-blue xs-pl-16 xs-pr-16"
                                       *ngIf="comparisonInfo.status == configService.comparisonStatus.inProgress">In
                                    progress</label>
                            </ng-container>
                            <label class="label label-red xs-pl-16 xs-pr-16"
                                   *ngIf="comparisonInfo.archived">Archived</label>
                        </div>
                    </div>
                    <div class="personnel-info_base">
                        <div class="personnel-info personnel-info_avatar">
                            <img [src]="comparisonInfo.attachmentVo?.visitUrl || './assets/img/unassgin.svg'" />
                        </div>
                        <div class="personnel-info personnel-info_name">{{comparisonInfo.userName}}</div>|
                        <div class="personnel-info personnel-info_start">Data valid on {{comparisonInfo.updateTime  | dateFormat : 'DD MMM YYYY'}}</div>|
                        <div class="personnel-info personnel-info_end">Created at {{comparisonInfo.createTime  | dateFormat : 'hh:mma DD MMM YYYY'}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary__introduce module-wrapper">
            <div class="module-left">
                <div class="title-info">
                    <div class="info-title">This analysis is for</div>
                    <div class="info-sub-title">The client profile information</div>
                </div>
                <div class="introduce-from-info" *ngIf="comparisonInfo.adviserName && comparisonInfo.practiceName">
                    <div class="from-info__avatar">
                        <img src="./assets/img/icon/icon-member.svg" />
                    </div>
                    <div class="from-info__name">{{comparisonInfo.adviserName}}</div>
                    <div class="from-info__address">from {{comparisonInfo.practiceName}}</div>
                </div>
                <div class="introduce-content">
                    <div class="introduce-content__target">Objectives</div>
                    <div class="introduce-content__text" [innerHTML]="comparisonInfo.objectives"></div>
                    <button class="btn btn-outline-purple-light btn-small"
                            #pIntroduce='ngbPopover'
                            container="body" [autoClose]="'outside'"
                            popoverClass="table-comment-popover"
                            triggers="manual"
                            [hidden]="!reviewService.isEdit()"
                            (click)="openEditorTextPopover(pIntroduce,'objectives')"
                            placement="top auto"
                            [ngbPopover]="popIntroduceContent">
                        <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                    </button>
                    <ng-template #popIntroduceContent>
                        <div class="comment-popover">
                            <div class="title">Edit</div>
                            <div class="form-group">
                                <ckeditor [(ngModel)]="currentEditorText" [config]="config"></ckeditor>
                            </div>
                            <div class="comment-footer" style="margin-top: 16px">
                                <button class="btn btn-block btn-outline-purple-light tx-16 xs-mr-8"
                                        (click)="pIntroduce.close()">Cancel
                                </button>
                                <button class="btn btn-block btn-purple tx-16 xs-ml-8" (click)="saveComparisonInfo(pIntroduce,'objectives')">Save</button>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="module-right" *ngIf="includeAnalysis(configService.analysisType.fee)">
                <div class="title-info">
                    <div class="info-title">Portfolio details</div>
                    <div class="info-sub-title">Platform accounts</div>
                </div>
                <div class="account-content">
                    <div class="entity-wrapper">
                        <div class="entity-total">
                            <div class="total-left">Assets</div>
                            <div class="total-right">
                                <span class="label">Total assets</span>
                                <span class="value">${{ feeTotalAssets}}</span>
                            </div>
                        </div>
                        <div class="entity-list">
                            <div class="list-item" *ngFor="let member of feeFormData.members">
                                <div class="item-title">{{member.name}}</div>
                                <div class="entity-content">
                                    <div class="entity-item">
                                        <div class="item-label">Value of IDPS accounts</div>
                                        <div class="item-values">
                                            <div class="value" *ngFor="let idps of getMemberValuesByType(member.memberValues,reviewService.comparisonMemberValueType.idps)">${{idps.balance}}</div>
                                        </div>
                                    </div>
                                    <div class="entity-item">
                                        <div class="item-label">Value of Super/Pension accounts</div>
                                        <div class="item-values">
                                            <div class="value" *ngFor="let super of getMemberValuesByType(member.memberValues,reviewService.comparisonMemberValueType.super)">${{super.balance}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="entity-wrapper" style="margin-top: 28px">
                        <div class="entity-total">
                            <div class="total-left">Platform holdings and transactions</div>
                            <div class="total-right">
                            </div>
                        </div>
                        <div class="entity-list">
                            <div class="list-item">
                                <div class="entity-content">
                                    <div class="entity-item flex-start">
                                        <div class="item-label">Products held through the platform</div>
                                        <div class="item-value">
                                            {{feeHeldPlatformChoose}}
                                        </div>
                                    </div>
                                    <div class="entity-item">
                                        <div class="item-label">Total number of different investments held</div>
                                        <div class="item-value">{{feeFormData.holdingsNumber}}</div>
                                    </div>
                                    <div class="entity-item">
                                        <div class="item-label">Number of transactions outside managed accounts</div>
                                        <div class="item-value">{{feeOutsideManagedAccounts}}</div>
                                    </div>
                                    <div class="entity-item">
                                        <div class="item-label">Number of transactions within managed accounts</div>
                                        <div class="item-value">{{feeWithinManagedAccounts}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary__platform module-wrapper">
            <div class="platform-title-info">
                <div class="info-title">Platforms selected</div>
                <div class="info-sub-title">{{platformCounts.activeCount}} platforms have been selected from {{platformCounts.totalCount}} </div>
            </div>
            <div class="tables tables--platform">
                <div class="table-horizontal table--platform" *ngFor="let list of comparisonTwoProducts">
                    <div class="table-row table-row__platform">
                        <div class="table-column table-column-title">
                            Platform
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            <img [src]="item.attachmentVo?.visitUrl" *ngIf="item && item.attachmentVo?.visitUrl" />
                            {{item ? item.productName : ''}}
                        </div>
                    </div>
                    <div class="table-row table-row__feature--match" *ngIf="includeAnalysis(configService.analysisType.feature)">
                        <div class="table-column table-column-title">
                            Features match
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            {{item ? item.matchPercent+'%' : ''}}
                        </div>
                    </div>
                    <!-- 这几项为动态字段 -->
                    <div class="table-row table-row__feature--analysis" [style]="{background: idx % 2 != 0 ? '#FFFFFF' : '#FAFAFA'}" *ngFor="let analysis of comparisonInfo.analyseVoList;let idx = index">
<!--                        [hidden]="analysis.stepSort === 3"-->
                        <div class="table-column table-column-title">
                            {{analysis.name}}
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            <div class="analysis-wrapper" *ngIf="item">
                                <div class="html-content" *ngIf="getDynamicAnalysis(analysis.shAnalyseId, item.comments).comment" [innerHTML]="getDynamicAnalysis(analysis.shAnalyseId, item.comments).comment"></div>
                                <div class="html-content" *ngIf="!getDynamicAnalysis(analysis.shAnalyseId, item.comments).comment" >No data</div>
                                <button class="btn btn-outline-purple-light btn-small"
                                        #pPlatform='ngbPopover'
                                        container="body" [autoClose]="'outside'"
                                        popoverClass="table-comment-popover"
                                        triggers="manual"
                                        [hidden]="!reviewService.isEdit()"
                                        (click)="openCommentPopover(pPlatform, getDynamicAnalysis(analysis.shAnalyseId, item.comments),{shProductId: item.shProductId,shAnalyseId: analysis.shAnalyseId})"
                                        placement="top auto" [ngbPopover]="popPlatformContent">
                                    <span class="icon-block icon-14 xs-mr-4" [ngClass]="[getDynamicAnalysis(analysis.shAnalyseId, item.comments) ? 'icon-pen' : 'icon-add-purple']"></span>
                                    <span>{{getDynamicAnalysis(analysis.shAnalyseId, item.comments) ? 'Edit' : 'Add'}}</span>
                                </button>
                                <ng-template #popPlatformContent>
                                    <div class="comment-popover">
                                        <div class="title">{{getDynamicAnalysis(analysis.shAnalyseId, item.comments) ? 'Edit' : 'Add'}}</div>
<!--                                        <ckeditor [(ngModel)]="currentCommit.comment" [config]="config"></ckeditor>-->
                                        <textarea class="form-control xs-mb-16" [(ngModel)]="currentCommit.comment"></textarea>
                                        <div class="comment-footer" style="margin-top: 16px">
                                            <button class="btn btn-block btn-outline-purple-light tx-16 xs-mr-8"
                                                    (click)="pPlatform.close()">Cancel
                                            </button>
                                            <button class="btn btn-block btn-purple tx-16 xs-ml-8" (click)="saveComment(pPlatform)">Save</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="table-row table-row__final--analysis" [style]="{background: comparisonInfo.analyseVoList.length % 2 != 0 ? '#FFFFFF' : '#FAFAFA'}">
                        <div class="table-column table-column-title">
                            Final analysis
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            <div class="analysis-wrapper" *ngIf="item">
                                <div class="html-content" *ngIf="item.finalAnalyse?.finalAnalyse" [innerHTML]="item.finalAnalyse?.finalAnalyse"></div>
                                <div class="html-content" *ngIf="!item.finalAnalyse?.finalAnalyse" >No data</div>
                                <button class="btn btn-outline-purple-light btn-small"
                                        #pPlatform='ngbPopover'
                                        container="body" [autoClose]="'outside'"
                                        popoverClass="table-comment-popover"
                                        triggers="manual"
                                        [hidden]="!reviewService.isEdit()"
                                        (click)="openFinalAnalysisPopover(pPlatform, item.finalAnalyse, item.shProductId)"
                                        placement="top auto" [ngbPopover]="popPlatformContent">
                                    <span class="icon-block icon-pen icon-14 xs-mr-4"></span>
                                    {{item.finalAnalyse?.finalAnalyse ? 'Edit' : 'Add'}}
                                </button>
                                <ng-template #popPlatformContent>
                                    <div class="comment-popover">
                                        <div class="title">{{item.finalAnalyse?.finalAnalyse ? 'Edit' : 'Add'}}</div>
<!--                                        <ckeditor [(ngModel)]="currentFinalAnalysis.finalAnalyse" [config]="config"></ckeditor>-->
                                        <textarea class="form-control xs-mb-16" [(ngModel)]="currentFinalAnalysis.finalAnalyse"></textarea>
                                        <div class="comment-footer" style="margin-top: 16px">
                                            <button class="btn btn-block btn-outline-purple-light tx-16 xs-mr-8"
                                                    (click)="pPlatform.close()">Cancel
                                            </button>
                                            <button class="btn btn-block btn-purple tx-16 xs-ml-8" (click)="saveFinalAnalysis(pPlatform)">Save</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary__fee--charts module-wrapper" *ngIf="includeAnalysis(configService.analysisType.fee)">
            <div class="title-info">
                <div class="title">
                    Fee estimates <span>of selected platforms</span>
                </div>
                <div class="sub-title">
                    <div class="info-sub-title">xxxx xxxxx xxxx xxxxxxx xxxxxx</div>
                </div>
            </div>
            <div class="charts-content">
                <div class="content-wrapper">
                    <div class="content-title">
                        Total cost by average admin fee for the year ahead
                    </div>
                    <app-total-cost-charts [chartsId]="'summaryCostCharts'" #totalCostChartsComponent></app-total-cost-charts>
                </div>
                <div class="content-wrapper">
                    <div class="content-title">
                        Platform fees by average total portfolio value in the year ahead
                    </div>
                    <app-platform-fee-charts [chartsId]="'summaryPlatformCharts'" #platformFeeChartsComponent></app-platform-fee-charts>
                </div>
            </div>
        </div>
        <div class="summary__business--metrics module-wrapper" *ngIf="includeAnalysis(configService.analysisType.metric)">
            <div class="metrics-title-info">
                <div class="title metrics-title">
                    Business metrics <span>of selected platforms</span>
                </div>
                <div class="sub-title metrics-sub-title">
                    <div class="info-sub-title">{{platformCounts.activeCount}} platforms have been selected from {{platformCounts.totalCount}} </div>
                </div>
            </div>
            <div class="tables tables--metrics">
                <div class="table-horizontal table--metrics"  *ngFor="let list of comparisonTwoProducts">
                    <div class="table-row table-row__platform">
                        <div class="table-column table-column-title">
                            Platform
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            <img [src]="item.attachmentVo?.visitUrl" *ngIf="item && item.attachmentVo?.visitUrl" />
                            {{item ? item.productName : ''}}
                        </div>
                    </div>
                    <div class="table-row table-row__ownership--structure" [style]="{background: idx %2 != 0 ? '#FAFAFA' : '#FFFFFF'}" *ngFor="let prop of businessProperties;let idx = index">
                        <div class="table-column table-column-title">
                            {{prop.name}}
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            <div *ngIf="item">
                                <div *ngIf="getProductPropValue(item.productPropVoList, prop)">
                                    <div [innerHTML]="getProductPropValue(item.productPropVoList, prop)" *ngIf="getProductPropValue(item.productPropVoList, prop) !=='no' && getProductPropValue(item.productPropVoList, prop) !=='yes'"></div>
                                    <div *ngIf="getProductPropValue(item.productPropVoList, prop) ==='no' || getProductPropValue(item.productPropVoList, prop) ==='yes'" class="status-txt">
                                        <span class="status-yes" *ngIf="getProductPropValue(item.productPropVoList, prop) === 'yes'" style="color: #219653">Yes</span>
                                        <span class="status-no" *ngIf="getProductPropValue(item.productPropVoList, prop) === 'no'" style="color: #EB5757">No</span>
                                    </div>
                                </div>
                                <div *ngIf="!getProductPropValue(item.productPropVoList, prop)">
                                    No data
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary__remarks module-wrapper">
            <div class="remark-title-info">
                <div class="title">Concluding remarks</div>
                <div class="sub-title">xxxx xxxxx xxxx xxxxxxx xxxxxx</div>
            </div>
            <div class="remark-content" [innerHTML]="comparisonInfo.remark">
            </div>
            <button class="btn btn-outline-purple-light btn-small"
                    #pRemark='ngbPopover'
                    container="body" [autoClose]="'outside'"
                    popoverClass="table-comment-popover"
                    triggers="manual"
                    [hidden]="!reviewService.isEdit()"
                    (click)="openEditorTextPopover(pRemark, 'remark')"
                    placement="top auto"
                    [ngbPopover]="popRemarkContent">
                <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
            </button>
            <ng-template #popRemarkContent>
                <div class="comment-popover">
                    <div class="title">Edit</div>
                    <div class="form-group">
                        <ckeditor [(ngModel)]="currentEditorText" [config]="config"></ckeditor>
                    </div>
                    <div class="comment-footer" style="margin-top: 16px">
                        <button class="btn btn-block btn-outline-purple-light tx-16 xs-mr-8"
                                (click)="pRemark.close()">Cancel
                        </button>
                        <button class="btn btn-block btn-purple tx-16 xs-ml-8" (click)="saveComparisonInfo(pRemark, 'remark')">Save</button>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="summary__disclaimer module-wrapper">
            <div class="title-info">
                <div class="title">Disclaimer</div>
                <div class="sub-title">xxxx xxxxx xxxx xxxxxxx xxxxxx</div>
            </div>
            <div class="remark-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <div class="summary__decision--making--process module-wrapper">
            <div class="title-info">
                <div class="title title-large">The decision making process</div>
                <div class="sub-title">xxxx xxxxx xxxx xxxxxxx xxxxxx</div>
            </div>
        </div>
        <div class="summary__features--included--review module-wrapper">
            <div class="title-info">
                <div class="title title-large">Features included in the review</div>
                <div class="sub-title">{{featureProperties.selectedPropCount}} out of {{featureProperties.totalPropCount}} features have been selected</div>
            </div>
            <div class="lists">
                <div class="list" *ngFor="let group of featureGroupsList">
                    <div class="list-title">
                        <div class="list-title-left">
                            {{getParentGroupName(group.parentId) ? getParentGroupName(group.parentId) + ' >' : ''}}
                            <span>{{group.name}}</span>
                        </div>
                        <div class="list-title-right">
                            {{group.selectedPropCount}}/{{group.totalPropCount}} selected
                        </div>
                    </div>
                    <div class="list-item" *ngFor="let item of group.properties">
                        <div class="item-text">
                            {{item.name}}
                        </div>
<!--                        <div class="item-status status">-->
<!--                            <span class="status__essential label">Essential</span>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="summary__metrics--included--review module-wrapper" *ngIf="includeAnalysis(configService.analysisType.metric)">
            <div class="title-info">
                <div class="title title-large">Business metrics included in the review </div>
                <div class="sub-title">xxxx xxxxx xxxx xxxxxxx xxxxxx</div>
            </div>
            <div class="lists">
                <div class="list" *ngFor="let list of businessGroupList">
                    <div class="list-title">
                        <div class="list-title-left">
                            {{getTabTypeName(list.tabType)}}
                        </div>
                        <div class="list-title-right">
                            {{getPropertiesCountOrSelectCount(list.properties, 'selected')}}/{{getPropertiesCountOrSelectCount(list.properties, 'all')}} selected
                        </div>
                    </div>
                    <div class="list-item" *ngFor="let item of list.properties">
                        <div class="item-text">
                            {{item.name}}
                        </div>
                        <div class="item-status status">
                            <span class="status__selected label label-blue" [hidden]="!item.selected">Selected</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
