<div class="loading-bar has-load"></div>
<div class="table-main-content">
    <div class="summary-container" appTableScroll>
        <div class="summary__title module-wrapper">
            <div class="sub-head-review">
                <div class="title">Step {{this.reviewService.comparison.analyseVoList.length + 2}} - Summary</div>
            </div>
            <div class="personnel-wrapper">
                <div class="personnel-info">
                    <div class="personnel-info_title">{{comparisonInfo.adviserName}}’s review performed in Q{{comparisonInfo.updateTime | dateFormat : 'Q YYYY'}}</div>
                    <div class="personnel-info_base">
                        <div class="personnel-info personnel-info_avatar">
                            <img [src]="comparisonInfo.attachmentVo?.visitUrl || './assets/img/unassgin.svg'" />
                        </div>
                        <div class="personnel-info personnel-info_name">{{comparisonInfo.userName}}</div>|
                        <div class="personnel-info personnel-info_start">Data valid on {{comparisonInfo.updateTime  | dateFormat : 'hh:mma DD MMM YYYY'}}</div>|
                        <div class="personnel-info personnel-info_end">Created at {{comparisonInfo.createTime  | dateFormat : 'hh:mma DD MMM YYYY'}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary__introduce module-wrapper">
            <div class="introduce-title-info">
                <div class="info-title">This review is for</div>
                <div class="info-sub-title">The client profile information</div>
            </div>
            <div class="introduce-from-info">
                <div class="from-info__avatar">
                    <img src="./assets/img/icon/icon-member.svg" />
                </div>
                <div class="from-info__name">{{comparisonInfo.adviserName}}</div>
                <div class="from-info__address">from {{comparisonInfo.practiceName}}</div>
            </div>
            <div class="introduce-content">
                <div class="introduce-content__target">Objectives</div>
                <div class="introduce-content__text" [innerHTML]="comparisonInfo.objectives"></div>
                <button class="btn btn-outline-purple-light btn-small"
                        #pIntroduce='ngbPopover'
                        container="body" [autoClose]="'outside'"
                        popoverClass="table-comment-popover"
                        triggers="manual"
                        (click)="openPopover(pIntroduce)"
                        placement="top auto"
                        [ngbPopover]="popIntroduceContent">
                    <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                </button>
                <ng-template #popIntroduceContent>
                    <div class="comment-popover">
                        <div class="title">Edit</div>

                        <ckeditor [(ngModel)]="comparisonInfo.objectives" [config]="config"></ckeditor>
                        <div class="comment-footer" style="margin-top: 16px">
                            <button class="btn btn-block btn-outline-purple-light tx-16 xs-mr-8"
                                    (click)="pIntroduce.close()">Cancel
                            </button>
                            <button class="btn btn-block btn-purple tx-16 xs-ml-8" (click)="saveComparisonInfo(pIntroduce)">Save</button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="summary__platform module-wrapper">
            <div class="platform-title-info">
                <div class="info-title">Platforms selected</div>
                <div class="info-sub-title">{{platformCounts.activeCount}} platforms have been selected from {{platformCounts.totalCount}} </div>
            </div>
            <div class="tables tables--platform">
                <div class="table-horizontal table--platform" *ngFor="let list of comparisonTwoProducts">
                    <div class="table-row table-row__platform">
                        <div class="table-column table-column-title">
                            Platform
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            <img src="./assets/img/icon/icon-platform-dollar.svg" *ngIf="item" />
                            {{item ? item.productName : ''}}
                        </div>
                    </div>
                    <div class="table-row table-row__feature--match" *ngIf="includeAnalysis(configService.analysisType.feature)">
                        <div class="table-column table-column-title">
                            Features match
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            {{item ? item.matchPercent+'%' : ''}}
                        </div>
                    </div>
                    <!-- 这几项为动态字段 -->
                    <div class="table-row table-row__feature--analysis" *ngFor="let analysis of comparisonInfo.analyseVoList" [hidden]="analysis.stepSort === 3">
                        <div class="table-column table-column-title">
                            {{analysis.name}}
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            <div class="analysis-wrapper" *ngIf="item">
                                <div class="html-content" [innerHTML]="getDynamicAnalysis(analysis.shAnalyseId, item.comments).comment"></div>
                                <button class="btn btn-outline-purple-light btn-small"
                                        #pPlatform='ngbPopover'
                                        container="body" [autoClose]="'outside'"
                                        popoverClass="table-comment-popover"
                                        triggers="manual"
                                        (click)="openCommentPopover(pPlatform, getDynamicAnalysis(analysis.shAnalyseId, item.comments),{shProductId: item.shProductId,shAnalyseId: analysis.shAnalyseId})"
                                        placement="top auto" [ngbPopover]="popPlatformContent">
                                    <span class="icon-block icon-14 xs-mr-4" [ngClass]="[getDynamicAnalysis(analysis.shAnalyseId, item.comments) ? 'icon-pen' : 'icon-add-purple']"></span>
                                    <span>{{getDynamicAnalysis(analysis.shAnalyseId, item.comments) ? 'Edit' : 'Add'}}</span>
                                </button>
                                <ng-template #popPlatformContent>
                                    <div class="comment-popover">
                                        <div class="title">{{getDynamicAnalysis(analysis.shAnalyseId, item.comments) ? 'Edit' : 'Add'}}</div>
                                        <ckeditor [(ngModel)]="currentCommit.comment" [config]="config"></ckeditor>
                                        <div class="comment-footer" style="margin-top: 16px">
                                            <button class="btn btn-block btn-outline-purple-light tx-16 xs-mr-8"
                                                    (click)="pPlatform.close()">Cancel
                                            </button>
                                            <button class="btn btn-block btn-purple tx-16 xs-ml-8" (click)="saveComment(pPlatform)">Save</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="table-row table-row__final--analysis">
                        <div class="table-column table-column-title">
                            Final analysis
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            <div class="analysis-wrapper" *ngIf="item">
                                <div class="html-content" [innerHTML]="item ? item.finalAnalyse?.finalAnalyse : ''"></div>
                                <button class="btn btn-outline-purple-light btn-small"
                                        #pPlatform='ngbPopover'
                                        container="body" [autoClose]="'outside'"
                                        popoverClass="table-comment-popover"
                                        triggers="manual"
                                        (click)="openFinalAnalysisPopover(pPlatform, item.finalAnalyse, item.shProductId)"
                                        placement="top auto" [ngbPopover]="popPlatformContent">
                                    <span class="icon-block icon-pen icon-14 xs-mr-4"></span>
                                    {{item.finalAnalyse?.finalAnalyse ? 'Edit' : 'Add'}}
                                </button>
                                <ng-template #popPlatformContent>
                                    <div class="comment-popover">
                                        <div class="title">{{item.finalAnalyse?.finalAnalyse ? 'Edit' : 'Add'}}</div>
                                        <ckeditor [(ngModel)]="currentFinalAnalysis.finalAnalyse" [config]="config"></ckeditor>
                                        <div class="comment-footer" style="margin-top: 16px">
                                            <button class="btn btn-block btn-outline-purple-light tx-16 xs-mr-8"
                                                    (click)="pPlatform.close()">Cancel
                                            </button>
                                            <button class="btn btn-block btn-purple tx-16 xs-ml-8" (click)="saveFinalAnalysis(pPlatform)">Save</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary__business--metrics module-wrapper">
            <div class="metrics-title-info">
                <div class="title metrics-title">
                    Business metrics <span>of selected platforms</span>
                </div>
                <div class="sub-title metrics-sub-title">
                    <div class="info-sub-title">{{platformCounts.activeCount}} platforms have been selected from {{platformCounts.totalCount}} </div>
                </div>
            </div>
            <div class="tables tables--metrics">
                <div class="table-horizontal table--metrics"  *ngFor="let list of comparisonTwoProducts">
                    <div class="table-row table-row__platform">
                        <div class="table-column table-column-title">
                            Platform
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            <img src="./assets/img/icon/icon-platform-dollar.svg" *ngIf="item" />
                            {{item ? item.productName : ''}}
                        </div>
                    </div>
                    <div class="table-row table-row__ownership--structure" *ngFor="let prop of businessProperties">
                        <div class="table-column table-column-title">
                            {{prop.name}}
                        </div>
                        <div class="table-column table-column-value" *ngFor="let item of list">
                            <div *ngIf="item">
                                <div *ngIf="getProductPropValue(item.productPropVoList, prop)">
                                    <div [innerHTML]="getProductPropValue(item.productPropVoList, prop)" *ngIf="getProductPropValue(item.productPropVoList, prop) !=='no' && getProductPropValue(item.productPropVoList, prop) !=='yes'"></div>
                                    <div *ngIf="getProductPropValue(item.productPropVoList, prop) ==='no' || getProductPropValue(item.productPropVoList, prop) ==='yes'" class="status-txt">
                                        <span class="status-yes" *ngIf="getProductPropValue(item.productPropVoList, prop) === 'yes'" style="color: #219653">Yes</span>
                                        <span class="status-no" *ngIf="getProductPropValue(item.productPropVoList, prop) === 'no'" style="color: #EB5757">No</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary__remarks module-wrapper">
            <div class="remark-title-info">
                <div class="title">Concluding remarks</div>
                <div class="sub-title">xxxx xxxxx xxxx xxxxxxx xxxxxx</div>
            </div>
            <div class="remark-content" [innerHTML]="comparisonInfo.remark">
            </div>
            <button class="btn btn-outline-purple-light btn-small"
                    #pRemark='ngbPopover'
                    container="body" [autoClose]="'outside'"
                    popoverClass="table-comment-popover"
                    triggers="manual"
                    (click)="openPopover(pRemark)"
                    placement="top auto"
                    [ngbPopover]="popRemarkContent">
                <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
            </button>
            <ng-template #popRemarkContent>
                <div class="comment-popover">
                    <div class="title">Edit</div>
                    <ckeditor [(ngModel)]="comparisonInfo.remark" [config]="config"></ckeditor>
                    <div class="comment-footer" style="margin-top: 16px">
                        <button class="btn btn-block btn-outline-purple-light tx-16 xs-mr-8"
                                (click)="pRemark.close()">Cancel
                        </button>
                        <button class="btn btn-block btn-purple tx-16 xs-ml-8" (click)="saveComparisonInfo(pRemark)">Save</button>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="summary__disclaimer module-wrapper">
            <div class="title-info">
                <div class="title">Disclaimer</div>
                <div class="sub-title">xxxx xxxxx xxxx xxxxxxx xxxxxx</div>
            </div>
            <div class="remark-content" [innerHtml]="comparisonInfo.disclaimer"></div>
            <button class="btn btn-outline-purple-light btn-small"
                    #pDisclaimer='ngbPopover'
                    container="body" [autoClose]="'outside'"
                    popoverClass="table-comment-popover"
                    triggers="manual"
                    (click)="openPopover(pDisclaimer)"
                    placement="top auto"
                    [ngbPopover]="popDisclaimerContent">
                <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
            </button>
            <ng-template #popDisclaimerContent>
                <div class="comment-popover">
                    <div class="title">Edit</div>
                    <ckeditor [(ngModel)]="comparisonInfo.disclaimer" [config]="config"></ckeditor>
                    <div class="comment-footer" style="margin-top: 16px">
                        <button class="btn btn-block btn-outline-purple-light tx-16 xs-mr-8"
                                (click)="pDisclaimer.close()">Cancel
                        </button>
                        <button class="btn btn-block btn-purple tx-16 xs-ml-8" (click)="saveComparisonInfo(pDisclaimer)">Save</button>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="summary__decision--making--process module-wrapper">
            <div class="title-info">
                <div class="title title-large">The decision making process</div>
                <div class="sub-title">xxxx xxxxx xxxx xxxxxxx xxxxxx</div>
            </div>
        </div>
        <div class="summary__features--included--review module-wrapper">
            <div class="title-info">
                <div class="title title-large">Features included in the review</div>
                <div class="sub-title">{{featureProperties.selectedPropCount}} out of {{featureProperties.totalPropCount}} features have been selected</div>
            </div>
            <div class="lists">
                <div class="list" *ngFor="let group of featureGroupsList">
                    <div class="list-title">
                        <div class="list-title-left">
                            {{getParentGroupName(group.parentId) ? getParentGroupName(group.parentId) + ' >' : ''}}
                            <span>{{group.name}}</span>
                        </div>
                        <div class="list-title-right">
                            {{group.selectedPropCount}}/{{group.totalPropCount}} selected
                        </div>
                    </div>
                    <div class="list-item" *ngFor="let item of group.properties">
                        <div class="item-text">
                            {{item.name}}
                        </div>
<!--                        <div class="item-status status">-->
<!--                            <span class="status__essential label">Essential</span>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="summary__metrics--included--review module-wrapper">
            <div class="title-info">
                <div class="title title-large">Business metrics included in the review </div>
                <div class="sub-title">xxxx xxxxx xxxx xxxxxxx xxxxxx</div>
            </div>
            <div class="lists">
                <div class="list" *ngFor="let list of businessGroupList">
                    <div class="list-title">
                        <div class="list-title-left">
                            {{getTabTypeName(list.tabType)}}
                            <span [hidden]="!list.name">/{{list.name}}</span>
                        </div>
                        <div class="list-title-right">
                            {{getPropertiesCountOrSelectCount(list.properties, 'selected')}}/{{getPropertiesCountOrSelectCount(list.properties, 'all')}} selected
                        </div>
                    </div>
                    <div class="list-item" *ngFor="let item of list.properties">
                        <div class="item-text">
                            {{item.name}}
                        </div>
                        <div class="item-status status">
                            <span class="status__selected label label-blue" [hidden]="!item.selected">Selected</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
