<div class="content">
    <div class="sub-head-selection">
        <h2>Step {{reviewService.getCurrentAnaStep(configService.analysisType.feature)}} - What features are important {{reviewService.comparison.adviserName ? 'for ' + reviewService.comparison.adviserName : ''}}? <span class="text">Select the features you would like to include in the comparison</span>
        </h2>
    </div>

    <div class="features-swiper" *ngIf="featureForm.length > 0">
        <swiper #swiper [config]="config" (slideChange)="slideChange($event)">
            <ng-template swiperSlide [virtualIndex]="groupIndex"
                         *ngFor="let group of featureForm; let groupIndex = index">
                <div class="swiper-head">
                    <img [src]="group.attachmentVo?.visitUrl" alt="">
<!--                    <span class="icon-block icon-teleconference icon-40"></span>-->
                    <div class="tip" (click)="selectGroupAll(group)" *ngIf="!hasSelect(group)">Select all features</div>
                    <div class="tip tx-red" (click)="deselectGroupAll(group)" *ngIf="hasSelect(group)">Deselect all
                        features
                    </div>
                </div>
                <div class="swiper-body">
                    <h3 [title]="group.name">{{group.name}}</h3>

                    <!-- green flag-->
                    <!--<div class="swiper-status">
                        <span class="icon-block icon-flag-green icon-13 xs-mr-8"></span>
                        <span class="num">3</span>/76 selected
                    </div>-->

                    <!-- red flag-->
                    <div class="swiper-status tx-red">
                        <span class="icon-block icon-flag-red icon-13 xs-mr-8"></span>
                        <span class="num">{{selectPropCount(group)}}</span>/{{totalPropCount(group)}} selected
                    </div>

                    <p [innerHTML]="group.description"></p>
                </div>
            </ng-template>
        </swiper>

        <div class="swiper-control">
            <div class="swiper-btn" (click)="slidePrev()">
                <span class="icon-block icon-slide-left icon-16"></span>
            </div>

            <ng-container *ngFor="let group of featureForm; let groupIndex = index">
                <span class="swiper-dot" [ngClass]="{'active': groupIndex == currentIndex}"></span>
            </ng-container>

            <div class="swiper-btn" (click)="slideNext()">
                <span class="icon-block icon-slide-right icon-16"></span>
            </div>
        </div>

    </div>


    <div class="features-accordion">
        <div class="accordion-main" *ngIf="subGroups.length > 0">
            <div class="list">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" [destroyOnHide]="true">
                    <ngb-panel *ngFor="let subGroup of subGroups; let subGroupIndex = index;"
                               id="ngb-panel-{{subGroupIndex}}">
                        <ng-template ngbPanelTitle="Collapse all 10 features">
                            <div class="accordion-head"
                                 style="display: flex; justify-content: space-between; width: 100%;">
                                <div class="text">
                                    <p class="sub-title">{{subGroup.name}}</p>
                                    <p [innerHTML]="subGroup.description"></p>
                                </div>
                                <div class="btn-right">{{acc.isExpanded('ngb-panel-' +subGroupIndex) ? 'Collapse all' : 'Show all'}} {{subGroup.propertyVoList.length}} features <span
                                        class="icon-block  ml-8 icon-20 icon-arr-blue"></span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="features-main">
                                <div class="features-list all-features">
                                    <div class="title">
                                        <h3>All features</h3>
                                        <button (click)="selectSubGroupAll(subGroup)">Select all</button>
                                    </div>
                                    <ul>
                                        <li [hidden]="prop.compChecked" *ngFor="let prop of subGroup.propertyVoList"
                                            (click)="selectProp(prop)">
                                            <div class="text">
                                                <p>{{prop.name}}</p>
                                                <i class="icon-block icon-15 icon-info-circle-purple" [hidden]="!prop.description"></i>
                                            </div>
                                            <!--<button (click)="essential(prop, $event)"
                                                    [ngClass]="{'tx-yellow': prop.essential}">Essential
                                            </button>-->
                                        </li>
                                    </ul>
                                </div>
                                <div class="features-list features-selected">
                                    <div class="title">
                                        <h3>Features selected</h3>
                                        <button (click)="deselectSubGroupAll(subGroup)">Deselect all</button>
                                    </div>
                                    <p class="sub-title" [hidden]="checkSelectList(subGroup.propertyVoList)">You haven’t
                                        selected any features yet. Click on one of the
                                        features in LHS column to select.</p>
                                    <ul>
                                        <li [hidden]="!prop.compChecked" *ngFor="let prop of subGroup.propertyVoList"
                                            (click)="unSelectProp(prop)">
                                            <div class="text">
                                                <p>{{prop.name}}</p>
                                                <i class="icon-block icon-15 icon-info-circle-purple"></i>
                                            </div>
                                            <!--<button (click)="essential(prop, $event)"
                                                    [ngClass]="{'tx-yellow': prop.essential}">Essential
                                            </button>-->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</div>
