<div class="tip-wrapper">
    <div class="title">{{title}}</div>
    <div class="info">{{info}}</div>

    <div class="tip-control">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-purple-dark btn-modal btn-block" (click)="dismiss()">{{btnCancelText}}</button>
            </div>

            <div class="col-6">
                <button class="btn btn-danger btn-modal btn-block" (click)="close()">{{btnText}}</button>
            </div>
        </div>
    </div>
</div>
