<div class="sub-head">
    <h2 class="title">Comparison tool</h2>
    <div class="btn-control-group">
        <button class="btn btn-outline-blue-light xs-ml-24">Discard draft</button>
        <button class="btn btn-outline-blue-light xs-ml-24">Save draft</button>
        <button class="btn btn-purple xs-ml-24">Publish</button>
    </div>
</div>

<div class="tab-menu">
    <div class="tab-text">Overview <span class="line"></span></div>
    <div class="tab-text">Information <span class="line"></span></div>
    <div class="tab-text">ESG <span class="line"></span></div>
    <div class="tab-text active">Features <span class="line"></span></div>
    <div class="tab-text">Fees & rates <span class="line"></span></div>
    <div class="tab-text">Change history <span class="line"></span></div>
</div>

<div class="table-layout">
    <div class="col-content col-content-1">
        <div class="col-head">
            <div class="title">Group</div>
            <div class="col-head-right">
                <span class="link-show">Show archived</span>
                <span class="link-new" [routerLink]="['/supplier/edit-group']">+ New</span>
            </div>
        </div>

        <div class="col-body">
            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Product menu">Product menu</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Account management">Account management</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Portfolio management">Portfolio management</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Cashflow management">Cashflow management</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Decision support">Decision support</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Account management">Tracking</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>
        </div>
    </div>

    <div class="col-content col-content-2">
        <div class="col-head xs-pl-16">
            <div class="title">Sub-group</div>
            <div class="col-head-right">
                <span class="link-show">Show archived</span>
                <span class="link-new">+ New</span>
            </div>
        </div>

        <div class="col-body">
            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Account opening">Account opening</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Transfers">Transfers</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Straight through processing">Straight through processing</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Client consent">Client consent</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Investment allocation">Investment allocation</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

            <div class="list-cell">
                <span class="icon-block icon-line icon-24"></span>
                <div class="title" title="Portfolio modelling tools">Portfolio modelling tools</div>
                <span class="icon-block icon-edit icon-20"></span>
            </div>

        </div>
    </div>

    <div class="col-content col-content-3">
        <div class="col-head xs-pl-16 no-border-bottom">
            <div class="search-content">
                <input type="text" placeholder="Search a keyword" class="form-control"/>
                <span class="icon icon-search icon-16"></span>
            </div>
            <div class="col-head-right">
                <span class="link-show xs-mr-21">Show archived</span>
                <button class="btn btn-outline-purple-light tx-13 tx-semi">+ New</button>
            </div>
        </div>

        <div class="col-body xs-pl-16">
            <div class="list-cell-large">
                <span class="icon-block icon-line icon-32"></span>
                <div class="list-content">
                    <div class="info">
                        <div class="title">Online process to transition from super to pension</div>
                        <div class="text">Text field</div>
                    </div>
                </div>

                <button class="btn btn-outline-purple-light btn-edit tx-12">
                    <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                </button>
            </div>

            <div class="list-cell-large">
                <span class="icon-block icon-line icon-32"></span>
                <div class="list-content">
                    <div class="info">
                        <div class="title">Partial in-specie out from platform</div>
                        <div class="text">Text field</div>
                    </div>
                </div>

                <button class="btn btn-outline-purple-light btn-edit tx-12">
                    <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                </button>
            </div>

            <div class="list-cell-large">
                <span class="icon-block icon-line icon-32"></span>
                <div class="list-content">
                    <div class="info">
                        <div class="title tx-gray">In-specie transfer wizard to help collate necessary forms</div>
                        <div class="text">Text field</div>
                    </div>

                    <span class="label label-red">Archived</span>
                </div>


                <button class="btn btn-outline-purple-light btn-edit tx-12">
                    <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                </button>
            </div>
        </div>
    </div>
</div>
