<div class="table-layout">
    <div class="col-content col-content-1">
        <div class="col-head">
            <div class="title">Group</div>
            <div class="col-head-right">
                <span class="link-new" (click)="saveGroup()" [hidden]="!configService.isEditable(version.type)">+ New</span>
            </div>
        </div>

        <div class="col-body" >
            <div class="list-cell" [ngClass]="{'active': reminder.groupId == group.id}"
                 (click)="chooseGroup(group)"
                 *ngFor="let group of freezeGroups">
                <div class="title" [title]="group.name">{{group.name}}</div>
                <span class="icon-block icon-edit icon-20" [hidden]="!configService.isEditable(version.type)" (click)="saveGroup(group)"></span>
            </div>
            <div cdkDropList (cdkDropListDropped)="dropGroup($event)">
                <div class="list-cell" [ngClass]="{'active': reminder.groupId == group.id}"
                     cdkDrag
                     (click)="chooseGroup(group)"
                     *ngFor="let group of moveGroups">
                    <span class="icon-block icon-line icon-24" [hidden]="!configService.isEditable(version.type)"></span>
                    <div class="title" [title]="group.name">{{group.name}}</div>
                    <span class="icon-block icon-edit icon-20" [hidden]="!configService.isEditable(version.type)" (click)="saveGroup(group)"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-content col-content-2">
        <div class="col-head xs-pl-16">
            <div class="title">Sub-group</div>
            <div class="col-head-right">
<!--                <span class="link-show">Show archived</span>-->
                <span class="link-new" [hidden]="!configService.isEditable(version.type)" (click)="saveSubGroup()">+ New</span>
            </div>
        </div>

        <div class="col-body" cdkDropList (cdkDropListDropped)="dropSubGroup($event)">
            <div class="list-cell list-sub-cell" [ngClass]="{'active': reminder.subGroupId == subGroup.id}"
                 cdkDrag
                 (click)="chooseSubGroup(subGroup)"
                 *ngFor="let subGroup of subGroups">
                <span class="icon-block icon-line icon-24" [hidden]="!configService.isEditable(version.type)"></span>
                <div class="title" [title]="subGroup.name">{{subGroup.name}}</div>
                <span class="icon-block icon-edit icon-20" [hidden]="!configService.isEditable(version.type)" (click)="saveSubGroup(subGroup)"></span>
            </div>
        </div>
    </div>

    <div class="col-content col-content-3">
        <div class="col-head xs-pl-16 no-border-bottom">
            <div class="search-content">
                <input type="text" placeholder="Search a keyword" class="form-control"/>
                <span class="icon icon-search icon-16"></span>
            </div>
            <div class="col-head-right">
                <span class="link-show xs-mr-21">Show archived</span>
                <button class="btn btn-outline-purple-light tx-13 tx-semi" [hidden]="!configService.isEditable(version.type)" (click)="saveProp()">+ New</button>
            </div>
        </div>

        <div class="col-body xs-pl-16" cdkDropList (cdkDropListDropped)="dropProps($event)">
            <div class="list-cell-large" cdkDrag
                 [ngClass]="{'list-cell-sort': configService.isEditable(version.type)}"
                 *ngFor="let prop of properties">
                <div></div>
                <span class="icon-block icon-line icon-32" [hidden]="!configService.isEditable(version.type)"></span>
                <div class="list-content">
                    <div class="info">
                        <div class="title">{{prop.name}}</div>
                        <div class="text">{{configService.getPropType(prop.type)}}</div>
                    </div>
<!--                    <span class="label label-red">Archived</span>-->
                </div>
                <button class="btn btn-outline-purple-light btn-small"
                        [hidden]="configService.isEditable(version.type)" (click)="saveProp(prop)">View
                </button>
                <button class="btn btn-outline-purple-light btn-small" [hidden]="!configService.isEditable(version.type)"
                    (click)="saveProp(prop)">
                    <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                </button>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
