<div class="admin-wrapper">
    <div class="admin-left">
        <img src="./assets/img/logo_white.png" class="logo" />
    </div>

    <div class="admin-right">
        <div class="form">
            <div class="sign-title">Reset your password</div>
            <div class="sign-sub-title"><span class="text">Create your password</span></div>
            <div class="form-group form-group-sign password-input xs-mb-24">
                <label class="control-label">
                    <div>Password<span class="label-required">*</span></div>
                </label>
                <input type="password" class="form-control" autocomplete="new-password" [(ngModel)]="restPassword.password"
                placeholder="Enter password"/>
                <span class="icon-block icon-eye-on icon-16" appTogglePwd></span>
            </div>

            <div class="form-group form-group-sign password-input xs-mb-0">
                <label class="control-label">
                    <div>Enter password again<span class="label-required">*</span></div>
                </label>
                <input type="password" class="form-control" autocomplete="new-password" [(ngModel)]="restPassword.confirmPassword"
                    placeholder="Enter password again" />
                <span class="icon-block icon-eye-on icon-16" appTogglePwd></span>
            </div>
<!--            <p class="tip-error">Passwords don't match </p>-->
            <div class="form-group-sign xs-mb-4 xs-mt-24">
                <label class="control-label">
                    <div>Your password must contain:</div>
                </label>
            </div>
            <ul>
                <li>• at least eight characters</li>
                <li>• both upper case and lower case letters </li>
                <li>• at least one number</li>
            </ul>
            <p class="password-strength">Your password is <span>strong</span></p>
            <button (click)="resetPassword()" class="btn btn-purple btn-sign tx-16 btn-block xs-mt-48">Reset
                password</button>
            <div class="bottom-tip">Remembered your password? <a [routerLink]="[ '../login' ]">Log in</a> </div>

        </div>
    </div>
</div>

<div class="chat-box">
    <span class="icon-block icon-chat icon-20"></span>
</div>
