<div class="admin-wrapper">
    <div class="admin">
        <div class="sign-logo"><img src="../../../../assets/img/arcade-logo.png"/></div>
        <div class="form">
            <h2 class="title">Reset your password</h2>
            <div class="form-control-group">
                <app-float-input type="password" [(ngModel)]="restPassword.password"
                                 labelText="Password"></app-float-input>
            </div>

            <div class="form-control-group">
                <app-float-input type="password" [(ngModel)]="restPassword.confirmPassword"
                                 labelText="Enter your password again"></app-float-input>
            </div>
            <button class="btn btn-black btn-block" (click)="confirm()">Continue</button>
        </div>
    </div>
</div>
