<div class="table-layout">
    <div class="col-content">
        <div class="col-body">
            <table class="table table-margin-list">
                <tbody>
                    <tr>
                        <td>
                            <div class="td-cell">
                               <div class="tx-size-16 tx-purple tx-semi text-ellipsis max-w-300" title="INV-2921">INV-2921</div>
                               <div class="tx-size-12">1 Dec 2020 - 31 Dec 2021</div>
                            </div>
                        </td>


                        <td>
                            <div class="tx-size-13 tx-semi text-ellipsis max-w-200" title="INV-2921">$199.90</div>
                            <div class="tx-size-12">4 Users and 6 BDM’s</div>
                        </td>

                        <td class="text-right">
                            <button class="btn btn-outline-purple-light btn-tiny">Download</button>
                        </td>
                    </tr>

                    <tr class="tr-margin">
                        <td colspan="3"></td>
                    </tr>

                    <tr>
                        <td>
                            <div class="td-cell">
                                <div class="tx-size-16 tx-purple tx-semi text-ellipsis max-w-300" title="INV-2921">INV-2921</div>
                                <div class="tx-size-12">1 Dec 2020 - 31 Dec 2021</div>
                            </div>
                        </td>


                        <td>
                            <div class="tx-size-13 tx-semi text-ellipsis max-w-200" title="INV-2921">$199.90</div>
                            <div class="tx-size-12">4 Users and 6 BDM’s</div>
                        </td>

                        <td class="text-right">
                            <button class="btn btn-outline-purple-light btn-tiny">Download</button>
                        </td>
                    </tr>

                    <tr class="tr-margin">
                        <td colspan="3"></td>
                    </tr>

                    <tr>
                        <td>
                            <div class="td-cell">
                                <div class="tx-size-16 tx-purple tx-semi text-ellipsis max-w-300" title="INV-2921">INV-2921</div>
                                <div class="tx-size-12">1 Dec 2020 - 31 Dec 2021</div>
                            </div>
                        </td>


                        <td>
                            <div class="tx-size-13 tx-semi text-ellipsis max-w-200" title="INV-2921">$199.90</div>
                            <div class="tx-size-12">4 Users and 6 BDM’s</div>
                        </td>

                        <td class="text-right">
                            <button class="btn btn-outline-purple-light btn-tiny">Download</button>
                        </td>
                    </tr>

                </tbody>


            </table>

        </div>
    </div>
</div>
