<div class="loading-bar is-loading"></div>

<div class="table-main-content">
    <div class="review-content" appTableScroll>
        <div class="sub-head-review">
            <div class="title">Step 3 - Business metric review</div>
        </div>

        <div class="table-container">
            <table class="table table-review table-review-step3">
                <thead>
                    <th class="th-head">
                        <div class="th-first">
                            <div class="th-bottom">
                                <div class="title max-w-full">Business Metrics</div>
                            </div>
                        </div>
                    </th>

                    <th class="th-brand bg-light">
                        <div class="th-brand-box">
                            <div class="th-brand-box-top">
                                <div class="box-center-left">
                                    <div class="brand-pic">
                                        <img src="./assets/img/logo-bt.png"/>
                                    </div>
                                    <div class="title">BT Panorama</div>
                                </div>

                                <div class="box-center-right">
                                    <div class="text">Overall</div>
                                    <div class="num">98%</div>
                                </div>
                            </div>

                            <div class="btn-control-box">
                                <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                            </div>
                        </div>
                    </th>

                    <th class="th-brand ">
                        <div class="th-brand-box">
                            <div class="th-brand-box-top">
                                <div class="box-center-left">
                                    <div class="brand-pic">
                                        <img src="./assets/img/logo-pic02.png"/>
                                    </div>
                                    <div class="title">Praemium</div>
                                </div>

                                <div class="box-center-right">
                                    <div class="text">Overall</div>
                                    <div class="num">92%</div>
                                </div>
                            </div>

                            <div class="btn-control-box">
                                <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                                <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                            </div>
                        </div>
                    </th>

                    <th class="th-brand ">
                        <div class="th-brand-box">
                            <div class="th-brand-box-top">
                                <div class="box-center-left">
                                    <div class="brand-pic">
                                        <img src="./assets/img/logo-pic03.png"/>
                                    </div>
                                    <div class="title">Netwealth</div>
                                </div>

                                <div class="box-center-right">
                                    <div class="text">Overall</div>
                                    <div class="num">88%</div>
                                </div>
                            </div>

                            <div class="btn-control-box">
                                <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                                <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                            </div>
                        </div>
                    </th>

                    <th class="th-brand">
                        <div class="th-brand-box">
                            <div class="th-brand-box-top">
                                <div class="box-center-left">
                                    <div class="brand-pic">
                                        <img src="./assets/img/logo-bt.png"/>
                                    </div>
                                    <div class="title">BT Asgard </div>
                                </div>

                                <div class="box-center-right">
                                    <div class="text">Overall</div>
                                    <div class="num">48%</div>
                                </div>
                            </div>

                            <div class="btn-control-box">
                                <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                                <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                            </div>
                        </div>
                    </th>

                    <th class="th-brand">
                        <div class="th-brand-box">
                            <div class="th-brand-box-top">
                                <div class="box-center-left">
                                    <div class="brand-pic">
                                        <img src="./assets/img/logo-bt.png"/>
                                    </div>
                                    <div class="title">BT Panorama </div>
                                </div>

                                <div class="box-center-right">
                                    <div class="text">Overall</div>
                                    <div class="num">98%</div>
                                </div>
                            </div>

                            <div class="btn-control-box">
                                <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                                <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                            </div>
                        </div>
                    </th>

                    <th class="th-brand">
                        <div class="th-brand-box">
                            <div class="th-brand-box-top">
                                <div class="box-center-left">
                                    <div class="brand-pic">
                                        <img src="./assets/img/logo-bt.png"/>
                                    </div>
                                    <div class="title">BT Panorama </div>
                                </div>

                                <div class="box-center-right">
                                    <div class="text">Overall</div>
                                    <div class="num">98%</div>
                                </div>
                            </div>

                            <div class="btn-control-box">
                                <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                                <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                            </div>
                        </div>
                    </th>
                </thead>

                <tbody>
                    <ng-container>
                        <tr class="main-group bg-light">
                            <td>
                                <div class="main-group-title">
                                    Financial strength
                                    <span class="icon-block icon-block-right icon-arr-up-purple icon-20"></span>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <ng-container>
                            <tr class="sub-group">
                                <td>
                                    <div class="sub-group-title">
                                        Account opening
                                        <span class="icon-block icon-block-right icon-arr-up-purple icon-20"></span>
                                    </div>
                                </td>

                                <td class="bg-light"></td>
                                <td></td>
                                <td></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="content-title">
                                        <span class="status-green hide"></span>
                                        Ownership structure
                                        <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                    </div>
                                </td>

                                <td class="bg-light">
                                   <div class="detail-content">BT Panorama wholely owned by Westpac</div>
                                </td>

                                <td>
                                    <div class="detail-content">
                                        Netwealth is an ASX listed company. It is majority owned by its founders, and 40% of their stock is floated
                                    </div>
                                </td>

                                <td>
                                    <div class="detail-content">
                                        HUB24 has been listed on the ASX since 2005
                                    </div>
                                </td>

                                <td>
                                    <div class="detail-content">
                                        BT Panorama wholely owned by Westpac
                                    </div>
                                </td>

                                <td>
                                    <div class="detail-content">
                                        BT Panorama wholely owned by Westpac
                                    </div>
                                </td>
                                <td>
                                    <div class="detail-content">
                                        BT Panorama wholely owned by Westpac
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="bg-green-light-02">
                                    <div class="content-title">
                                        <span class="status-green"></span>
                                        Net flows in last 12 months
                                        <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                    </div>
                                </td>

                                <td class="bg-light bg-green-light-02">
                                    <div class="amount-content">$15MM</div>
                                </td>

                                <td class="bg-green-light-02">
                                    <div class="amount-content">$15MM</div>
                                </td>

                                <td class="bg-green-light-02">
                                    <div class="amount-content">$15MM</div>
                                </td>

                                <td class="bg-green-light-02">
                                    <div class="amount-content">$15MM</div>
                                </td>

                                <td class="bg-green-light-02">
                                    <div class="amount-content">$15MM</div>
                                </td>
                                <td class="bg-green-light-02">
                                    <div class="amount-content">$15MM</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="content-title">
                                        <span class="status-green hide"></span>
                                        Parent company profitable in most recent financial year
                                        <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                    </div>
                                </td>

                                <td class="bg-light">
                                    <div class="bool-content tx-green">Yes</div>
                                </td>

                                <td>
                                    <div class="bool-content tx-green">Yes</div>
                                </td>

                                <td>
                                    <div class="bool-content tx-green">Yes</div>
                                </td>

                                <td>
                                    <div class="bool-content tx-red">No</div>
                                </td>

                                <td>
                                    <div class="bool-content tx-green">Yes</div>
                                </td>
                                <td>
                                    <div class="bool-content tx-red">No</div>
                                </td>
                            </tr>

                            <tr>
                                <td >
                                    <div class="content-title">
                                        <span class="status-green hide"></span>
                                        Parent company profitable in most recent financial year
                                        <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                    </div>
                                </td>

                                <td class="bg-light">
                                    <div class="number-content">8</div>
                                </td>

                                <td>
                                    <div class="number-content">5</div>
                                </td>

                                <td>
                                    <div class="number-content">8</div>
                                </td>

                                <td>
                                    <div class="number-content">2</div>
                                </td>

                                <td>
                                    <div class="number-content">4</div>
                                </td>
                                <td>
                                    <div class="number-content">8</div>
                                </td>
                            </tr>
                        </ng-container>

                    </ng-container>

                </tbody>

                <tfoot>
                    <th></th>

                    <th class="th-control">
                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                        </div>
                    </th>

                    <th class="th-control">
                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>
                    </th>

                    <th class="th-control">
                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>
                    </th>

                    <th class="th-control">
                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>
                    </th>

                    <th class="th-control">
                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>
                    </th>

                    <th class="th-control">
                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                            <button class="btn btn-outline-purple-light btn-trash"><span class="icon-block icon-trash icon-20"></span></button>
                        </div>
                    </th>

                </tfoot>
            </table>
        </div>
    </div>
</div>
