<div class="loading-bar is-loading"></div>

<div class="table-main-content">
    <div class="review-content" appTableScroll>
        <div class="sub-head-review">
            <div class="title">Step 3 - Business metric review</div>
        </div>

        <div class="table-container">
            <table class="table table-review table-review-step3" #panelContent>
                <thead>
                <th class="th-head">
                    <div class="th-first">
                        <div class="th-bottom">
                            <div class="title max-w-full">Business Metrics</div>
                        </div>
                    </div>
                </th>

                <th class="th-brand bg-light" *ngFor="let product of compareData.productVos">
                    <div class="th-brand-box">
                        <div class="th-brand-box-top">
                            <div class="box-center-left">
                                <div class="brand-pic">
                                    <img [src]="product.attachmentVo?.visitUrl"/>
                                </div>
                                <div class="title">{{product.name}}</div>
                            </div>

                            <div class="box-center-right">
                                <div class="text">Overall</div>
                                <div class="num">98%</div>
                            </div>
                        </div>

                        <div class="btn-control-box">
                            <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                        </div>
                    </div>
                </th>
                </thead>
                <ng-container *ngFor="let tab of compareData.tabVoList; let tabIndex = index">
                    <tbody >
                    <tr class="main-group bg-light">
                        <td>
                            <div class="main-group-title review-content-open" reviewDropdown [content-tag]="'tbody'" [panel]="panelContent"
                                 [content-prefix]="'panel-content-'+tabIndex">
                                {{getNameByTab(tab.tabType)}}
                                <span class="icon-block icon-block-right icon-arr-up-purple icon-20"></span>
                            </div>
                        </td>
                        <td *ngFor="let product of compareData.productVos"></td>
                    </tr>
                    </tbody>

                    <ng-container *ngIf="tab.tabType != configService.tabType.information">
                        <ng-container *ngFor="let prop of tab.propertyVoList; let propIndex = index">
                            <tbody class="panel-content-{{tabIndex}}">
                            <tr>
                                <td>
                                    <div class="content-title">
                                        <span class="status-green hide"></span>
                                        {{prop.name}}
                                        <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                    </div>
                                </td>

                                <td class="bg-light" *ngFor="let product of compareData.productVos">
                                    <div class="detail-content" *ngIf="prop.type == configService.propType.shortText">
                                        <div appShowMore>
                                            {{getProductPropValue(prop, product.productPropVoList)}}
                                        </div>
                                        <span class="more-link" #p="ngbPopover" popoverClass="table-cell-popover max-787" [autoClose]="true" placement="right auto" [ngbPopover]="popContent">More</span>
                                        <ng-template #popContent>
                                            <div class="cell-popover">
                                                <span class="icon-block icon-close icon-13" (click)="p.close()"></span>
                                                <div class="info" [innerHTML]="getProductPropValue(prop, product.productPropVoList)"></div>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <div class="detail-content"
                                         *ngIf="prop.type == configService.propType.longText">
                                        <div appShowMore [innerHTML]="getProductPropValue(prop, product.productPropVoList)"></div>
                                        <span class="more-link" #p="ngbPopover" popoverClass="table-cell-popover max-787" [autoClose]="true" placement="right auto" [ngbPopover]="popContent">More</span>
                                        <ng-template #popContent>
                                            <div class="cell-popover">
                                                <span class="icon-block icon-close icon-13" (click)="p.close()"></span>
                                                <div class="info" [innerHTML]="getProductPropValue(prop, product.productPropVoList)"></div>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <!--<div class="amount-content"
                                         *ngIf="prop.type == configService.propType.integer">
                                        {{getProductPropValue(prop, product.productPropVoList)}}
                                    </div>-->
                                    <div class="bool-content tx-green"
                                         *ngIf="prop.type == configService.propType.boolean && getProductPropValue(prop, product.productPropVoList) == 'yes'">
                                        Yes
                                    </div>
                                    <div class="bool-content tx-red"
                                         *ngIf="prop.type == configService.propType.boolean && getProductPropValue(prop, product.productPropVoList) == 'no'">
                                        No
                                    </div>
                                    <div class="number-content"
                                         *ngIf="prop.type == configService.propType.integer">
                                        {{getProductPropValue(prop, product.productPropVoList)}}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="tab.tabType == configService.tabType.information">
                        <ng-container *ngFor="let group of tab.groupVoList; let groupIndex = index">
                            <tbody class="panel-content-{{tabIndex}}">
                            <tr class="sub-group">
                                <td>
                                    <div class="sub-group-title review-content-open" reviewDropdown [content-tag]="'tbody'"
                                         [panel]="panelContent"
                                         [content-prefix]="'panel-content-'+tabIndex+'-'+groupIndex">
                                        {{group.name}}
                                        <span class="icon-block icon-block-right icon-arr-up-purple icon-20"></span>
                                    </div>
                                </td>
                                <td class="bg-light"></td>
                                <td class="bg-light" *ngFor="let product of compareData.productVos"></td>
                            </tr>
                            </tbody>
                            <ng-container *ngFor="let prop of group.propertyVoList; let propIndex = index">
                                <tbody class="panel-content-{{tabIndex}}-{{groupIndex}}">
                                <tr>
                                    <td>
                                        <div class="content-title">
                                            <span class="status-green hide"></span>
                                            {{prop.name}}
                                            <span class="icon-block icon-block-right icon-info-circle-purple icon-20"></span>
                                        </div>
                                    </td>

                                    <td class="bg-light" *ngFor="let product of compareData.productVos">
                                        <div class="detail-content" *ngIf="prop.type == configService.propType.shortText">
                                            <div appShowMore>
                                                {{getProductPropValue(prop, product.productPropVoList)}}
                                            </div>
                                            <span class="more-link" #p="ngbPopover" popoverClass="table-cell-popover max-787" [autoClose]="true" placement="right auto" [ngbPopover]="popContent">More</span>
                                            <ng-template #popContent>
                                                <div class="cell-popover">
                                                    <span class="icon-block icon-close icon-13" (click)="p.close()"></span>
                                                    <div class="info" [innerHTML]="getProductPropValue(prop, product.productPropVoList)"></div>
                                                </div>
                                            </ng-template>
                                        </div>


                                        <div class="detail-content" *ngIf="prop.type == configService.propType.longText">
                                            <div appShowMore [innerHTML]="getProductPropValue(prop, product.productPropVoList)"></div>
                                            <span class="more-link" #p="ngbPopover" popoverClass="table-cell-popover max-787" [autoClose]="true" placement="right auto" [ngbPopover]="popContent">More</span>
                                            <ng-template #popContent>
                                                <div class="cell-popover">
                                                    <span class="icon-block icon-close icon-13" (click)="p.close()"></span>
                                                    <div class="info" [innerHTML]="getProductPropValue(prop, product.productPropVoList)"></div>
                                                </div>
                                            </ng-template>
                                        </div>
                                        <!--<div class="amount-content"
                                             *ngIf="prop.type == configService.propType.integer">
                                            {{getProductPropValue(prop, product.productPropVoList)}}
                                        </div>-->
                                        <div class="bool-content tx-green"
                                             *ngIf="prop.type == configService.propType.boolean && getProductPropValue(prop, product.productPropVoList) == 'yes'">
                                            Yes
                                        </div>
                                        <div class="bool-content tx-red"
                                             *ngIf="prop.type == configService.propType.boolean && getProductPropValue(prop, product.productPropVoList) == 'no'">
                                            No
                                        </div>
                                        <div class="number-content"
                                             *ngIf="prop.type == configService.propType.integer">
                                            {{getProductPropValue(prop, product.productPropVoList)}}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <tfoot>
                <th></th>

                <th class="th-control" *ngFor="let product of compareData.productVos">
                    <div class="btn-control-box">
                        <button class="btn btn-outline-purple-light btn-edit">Add comment</button>
                    </div>
                </th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
