<div class="main" [ngClass]="{'has-tip': version.type == 'History'}">
    <div class="head-tip" *ngIf="version.type == 'History'">
        <div class="head-tip-content">
            <span class="icon-block icon-arr-left-blue icon-33" (click)="backHistory()"></span>
            <div class="tip-content">
                <div class="title" [title]="getVersionName()">{{getVersionName()}}</div>
                <div class="text" [title]="">{{getVersionInfo()}}</div>
            </div>
        </div>
    </div>
    <div class="head-tip" [ngClass]="{'warn':version.type == 'Draft'}">
        <div class="head-tip-content publish-tip" *ngIf="version.type == 'Draft'">
            <div class="tip-content content-left">
                <div class="title tx-yellow">The configurator is frozen. </div>
<!--                <div class="text tx-yellow" [title]="">Configurator updated at 2:34pm 28 Mar 22 by Bailey Hao. The new/updated fields are pending on supplier’s submission</div>-->
            </div>
            <div class="tip-content content-right">
                <div>
                    <span class="title tx-yellow">{{hasApproveCount}}/{{totalCount}}&nbsp;&nbsp;</span>
                    <span class="text tx-yellow">platforms approved</span>
                </div>
                <div class="btn-control-group" [hidden]="!pushFlag">
                    <button class="btn btn-purple xs-ml-24" (click)="pushConfig()">Publish</button>
                </div>
            </div>
        </div>
        <div class="btn-control-group edit-btn" [hidden]="configService.isEditable(version.type)">
            <button class="btn btn-config xs-ml-24"  (click)="editConfig()">Edit configurator</button>
        </div>
    </div>

    <div class="sub-head">
        <div class="title">
<!--            <span class="icon-block icon-arr-left-long icon-31 xs-mr-16"></span>-->
            SuitabilityHub Configurator
        </div>
<!--        <ng-container *ngIf="version.type && currentTab != 'change-history' && version.type != 'History'">-->
<!--            <div class="btn-control-group" [hidden]="!configService.isEditable(version.type)">-->
<!--                <button class="btn btn-purple xs-ml-24"  (click)="pushConfig()">Push to suppliers</button>-->
<!--            </div>-->
<!--            <div class="btn-control-group" [hidden]="configService.isEditable(version.type) ">-->
<!--                <button class="btn btn-config xs-ml-24"  (click)="editConfig()">Edit configurator</button>-->
<!--            </div>-->
<!--        </ng-container>-->
    </div>

    <div class="tab-menu">
        <div class="tab-text {{configService.activeMatch(tab.name)}}"
             (click)="chooseTab(tab.name)"
             *ngFor="let tab of configService.tabTypeList()">
            {{tab.name}}
            <span class="line"></span>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

<div class="back-top-button" appBackTop>
    <span class="icon-block icon-arr-up icon-24"></span>
</div>
