<div class="main" [ngClass]="{'has-tip': version.type == 'History'}">
    <div class="head-tip" *ngIf="showTip('history')" [ngClass]="{'blue': version.type == 'History'}">
        <div class="head-tip-content">
            <span class="icon-block icon-arr-left-blue icon-33" (click)="backHistory()"></span>
            <div class="tip-content">
                <div class="title" [title]="getVersionName()">{{getVersionName()}}</div>
                <div class="text" [title]="">{{getVersionInfo()}}</div>
            </div>
        </div>
    </div>
    <div class="sub-head">
        <div class="title">
            SuitabilityHub Configurator
        </div>
        <div class="buttons">
            <div *ngIf="showButtons(1)">
                <button class="btn btn-config xs-ml-24"  (click)="editConfig()">Edit platform</button>
            </div>
            <div *ngIf="showButtons(2)">
                <button class="btn btn-config xs-ml-24"  (click)="discardConfirm()">Discard draft</button>
                <button class="btn btn-purple xs-ml-24" (click)="pushSupplier()">Push to suppliers</button>
            </div>
            <div *ngIf="showButtons(3)">
                <button class="btn btn-purple xs-ml-24" (click)="pushConfig()">Publish</button>
            </div>
        </div>
    </div>

    <div class="tab-menu">
        <div class="tab-text {{configService.activeMatch(tab.name)}}"
             (click)="chooseTab(tab.name)"
             *ngFor="let tab of configService.tabTypeList()">
            {{tab.name}}
            <span class="line"></span>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
