.head-fixed{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding:78px 168px 0;
  background-color: #ffffff;

  @media screen and (max-width: 1400px){
    padding:78px 100px 0;
  }

  @media screen and (max-width: 1240px){
    padding:78px 40px 0;
  }

  @media screen and (max-width: 940px){
    padding:78px 20px 0;
    height: auto;
  }
}
.table-list-wrap {
  max-height: calc(100vh - 340px);
  overflow-y: auto;
  margin-bottom: 15px;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 3px;
    background-color: #777777;
  }
}
.table-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:24px 0;
}

.main-with-search{
  position: static;
  width: 100%;
  height: auto;
  padding-top:253px;
}


.main {
  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
    .search-content {
    }
    .filter {
      color: #4640DE;
      font-family: 'ClashDisplay';
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
    }
  }
    .col-head {
      display: block;
      height: auto;
      padding-top:24px;
      border-bottom: none;

    }

    .table-responsive {
      height: calc(100% - 225px);
      .edit-th {
        display: flex;
        justify-content: flex-end;
        > .th-cell {
          width: 130px;
          display: flex;
          justify-content: center;
        }
      }
      .edit-column {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        > .edit-work-status {
          font-size: 14px;
          margin-right: 12px;
          .status-tip {
            font-family: 'Epilogue';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 160%;
            color: #26A4FF;
            &.warning {
              color: #EDA114;
            }
          }
        }
        > .edit-btn-group {
          display: flex;
        }
      }
      .label {
        height: 30px;
        padding: 0 12px;
        min-width: auto;
        line-height: 30px;
        font-weight: 600;
        &.label-green-light {
          background: rgba(33, 150, 83, 0.1);
          color: #219653;
        }
        &.label-orange {
          background: rgba(235, 133, 51, 0.1);
          color: #EDA114;
        }
      }
    }
}
