<div class="table-layout main">
    <div class="col-content">
        <div class="sub-head">
            <div class="title">
                Suitability reviews
            </div>

        </div>
       <div class="search-edit-wrapper">
           <div class="search-content w-310">
               <input type="text" placeholder="Search client/review name" class="form-control"/>
               <span class="icon icon-search icon-16"></span>
           </div>
           <div class="edit-content">
               <div class="filter">
                   Hide archived
               </div>
               <div class="switch-button">
                   <div class="switch-text" [ngClass]="{'active': currentSwitch == 'review'}" (click)="switchTable('review')">Reviews</div>
                   <div class="switch-text" [ngClass]="{'active': currentSwitch == 'client'}" (click)="switchTable('client')">Clients</div>
               </div>
               <div class="btn-control-group">
                   <button class="btn btn-purple btn-with-icon xs-ml-24" (click)="addFunc()">
                       <img src="assets/img/icon/icon-add.svg">
                       {{currentSwitch === 'review' ? 'New Suitability Review' : 'New client'}}
                   </button>
               </div>
           </div>
       </div>
        <div class="col-body">
            <ng-container>
                <div class="table-list-wrap">
                    <table class="table table-list table-striped">
                        <thead>
                        <tr>
                            <th class="max-w-300">
                                <div class="th-cell">
                                    Name of review
                                    <sorting-widget (sortChange)="sortList('lastName', $event)"></sorting-widget>
                                </div>
                            </th>
                            <th style="width:20%;">
                                <div class="th-cell">
                                    Name of client
                                </div>
                            </th>
                            <th style="width:15%;">
                                <div class="th-cell">
                                    Adviser
                                </div>
                            </th>
                            <th style="width:20%;">
                                <div class="th-cell">
                                    Data valid date
                                    <sorting-widget (sortChange)="sortList('accountType', $event)"></sorting-widget>
                                </div>
                            </th>
                            <th style="width:20%;">
                                <div class="th-cell">
                                    Status
                                </div>
                            </th>
                            <th class="text-left">
                                <div class="th-cell">Action</div>
                            </th>
                        </tr>
                        </thead>
                        <thead class="table-margin">
                        <tr>
                            <th colspan="5"></th>
                        </tr>
                        </thead>
                        <tbody *ngIf="adminPage.total > 0">
                        <tr *ngFor="let admin of adminPage.records">
                            <td>
                                <div class="td-cell td-cell_avatar tx-bold">
                                    <div class="text-ellipsis max-w-300">{{admin.firstName + ' ' + admin.lastName}}</div>
                                </div>
                            </td>
                            <td>
                                <div class="td-cell tx-bold tx-purple">{{admin.accountType}}</div>
                            </td>
                            <td>
                                <div class="td-cell td-cell_avatar tx-bold" title="ABC Advisory">
                                    <div class="avatar-box xs-mr-16">
                                        <img [src]="(admin.avatar?.visitUrl) || './assets/img/unassgin.svg'" />
                                    </div>
                                    <div class="text-ellipsis max-w-300">{{admin.firstName + ' ' + admin.lastName}}</div>
                                </div>
                            </td>
                            <td>
                                <div class="td-cell">{{admin.accountType}}</div>
                            </td>
                            <td>
                                <div class="td-cell" *ngIf="admin.status == configService.userStatus.active">
                                    <label class="label tx-blue">In progress</label>
                                </div>
                                <div class="td-cell" *ngIf="admin.status == configService.userStatus.disable">
                                    <label class="label tx-green">Completed</label>
                                </div>
                                <div class="td-cell" *ngIf="admin.status == configService.userStatus.pending">
                                    <label class="label tx-red">Archived</label>
                                </div>
                            </td>
                            <td class="text-left edit">
                                <div class="edit-btn-group">
                                    <button class="btn btn-purple-border btn-tiny xs-ml-16" style="margin-left: 0 !important;" (click)="toDetail()">View</button>
                                    <button class="btn btn-outline-purple-light btn-tiny xs-ml-16 delete-btn">
                                        <img src="assets/img/icon/icon-delete-red.svg">
                                    </button>
                                    <button class="btn btn-outline-purple-light btn-tiny xs-ml-16 refresh-btn">
                                        <img src="assets/img/icon/icon-refresh-blur.svg">
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ngb-pagination *ngIf="adminPage.total > 0" [collectionSize]="adminPage.total" [(page)]="adminPage.current" [pageSize]="adminPage.size"
                                (pageChange)="pageChange($event)" [rotate]="true" [maxSize]="5"></ngb-pagination>
            </ng-container>
            <div class="empty-text" *ngIf="adminPage.total == 0">This section is empty.
            </div>
        </div>
    </div>
</div>
