
<div class="form-content">
    <div class="form-group-custom">
        <div class="form-group-left" style="width: 100%;">
            <label class="control-label">Billing information</label>
            <p class="info">This is company information that you can update anytime</p>
        </div>
    </div>

    <div class="form-group-custom">
        <div class="form-group-left">
            <label class="control-label">Plan details</label>
            <p class="info">See the plan you’re on</p>
        </div>

        <div class="form-group-right">
            <div class="form-group">
                <label class="control-label control-label-custom">Advisers</label>
                <input type="text" class="form-control" placeholder="Enter advisers’s name"/>
            </div>

            <div class="form-group">
                <label class="control-label control-label-custom">Next billing date</label>
                <input type="text" class="form-control" placeholder="Enter next billing date" [owlDateTime]="nextBillingDate" [owlDateTimeTrigger]="nextBillingDate"/>
                <owl-date-time #nextBillingDate [pickerType]="'calendar'"></owl-date-time>
            </div>


            <div class="form-group">
                <label class="control-label control-label-custom">Subscription expiry date</label>
                <input type="text" class="form-control" placeholder="Enter subscription expiry date" [owlDateTime]="subscriptionExpiryDate" [owlDateTimeTrigger]="subscriptionExpiryDate"/>
                <owl-date-time #subscriptionExpiryDate [pickerType]="'calendar'"></owl-date-time>
            </div>

            <div class="form-group">
                <div class="form-error-tip">Do not rollover subscription</div>
            </div>
        </div>
    </div>

    <div class="form-group-custom">
        <div class="form-group-left">
            <label class="control-label">Billing details</label>
            <p class="info"></p>
        </div>

        <div class="form-group-right">
            <div class="form-group">
                <label class="control-label control-label-custom">Company details</label>
                <input type="text" class="form-control" placeholder="Enter your company name"/>
            </div>

            <div class="form-group">
                <label class="control-label control-label-custom">ABN</label>
                <input type="text" class="form-control" placeholder="Enter your ABN"/>
            </div>

            <div class="form-group">
                <label class="control-label control-label-custom">Street address line 1</label>
                <input type="text" class="form-control" placeholder="Enter your street address line 1"/>
            </div>

            <div class="form-group">
                <label class="control-label control-label-custom">Street address line 2</label>
                <input type="text" class="form-control" placeholder="Street address line 2"/>
            </div>

            <div class="form-group">
                <label class="control-label control-label-custom">Suburb</label>
                <input type="text" class="form-control" placeholder="Enter your suburb"/>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label control-label-custom">States</label>
                        <input type="text" class="form-control" placeholder="Enter your states"/>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label control-label-custom">Postcode</label>
                        <input type="text" class="form-control" placeholder="Enter your postcode"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label control-label-custom">Billing contact email</label>
                <input type="text" class="form-control" placeholder="Enter contact email"/>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label control-label-custom">Billing contact first name</label>
                        <input type="text" class="form-control" placeholder="Enter first name"/>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label control-label-custom">Billing contact last name</label>
                        <input type="text" class="form-control" placeholder="Enter last name"/>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group-custom">
        <div class="form-group-left">
            <label class="control-label">Credit card details</label>
            <p class="info">Introduce your company core info quickly to users by fill up company details</p>
        </div>

        <div class="form-group-right">
            <div class="form-group">
                <label class="control-label control-label-custom">Name on credit card</label>
                <input type="text" class="form-control" placeholder="Enter name on credit card"/>
            </div>

            <div class="form-group">
                <label class="control-label control-label-custom">Credit card number</label>
                <input type="password" class="form-control"  placeholder="Enter credit card number" autocomplete="new-password"/>
            </div>


            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label control-label-custom">Expiry month</label>
                        <ng-select disabled class="select-single" placeholder="Expiry month"  dropdownPosition="bottom">
                            <ng-option>02 - February</ng-option>
                            <ng-option>03 - February</ng-option>
                            <ng-option>04 - February</ng-option>
                            <ng-option>05 - February</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label control-label-custom">Expiry year</label>
                        <ng-select disabled class="select-single" placeholder="Expiry year"  dropdownPosition="bottom">
                            <ng-option>2024</ng-option>
                            <ng-option>2025</ng-option>
                            <ng-option>2026</ng-option>
                            <ng-option>2027</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label control-label-custom">CVV</label>
                        <input type="text" class="form-control" placeholder="Enter CVV"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
