<!--''-->
<div class="main main-form-with-tab main-form">

    <div class="sub-head sub-head-form">
        <div class="sub-title" (click)="backPage()">
            <span class="icon-block icon-arr-left-long icon-31 xs-mr-16"></span>
            {{clientName}}
        </div>

        <div class="btn-control-group">
            <button class="btn text-danger" *ngIf="editType !== 'add'" (click)="updateStatus('Disable')">Disable {{clientName}}</button>
            <button class="btn btn-purple xs-ml-24" (click)="save()">
                Save
            </button>
            <button class="btn btn-purple xs-ml-24">
                <img src="assets/img/icon/icon-add.svg" />
                Start Suitability Review
            </button>
        </div>
    </div>

    <div class="tab-menu">
        <div class="tab-text" *ngFor="let item of tabs" [routerLink]="item.path+'/'+clientId"
             routerLinkActive="active">{{item.name}} <span class="line"></span>
        </div>
    </div>

    <app-ac-overview *ngIf="currentTab === 'overview'" [clientId]="clientId" #clientOverview></app-ac-overview>
    <app-ac-review *ngIf="currentTab === 'reviews'" [clientId]="clientId" ></app-ac-review>
</div>
