.table-layout {
  .list-edit_status {
    display: flex;
    > .status {
      display: flex;
      margin-right: 40px;
      > .label {
        margin-left: 15px;
      }
    }
  }
  .col-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 16px 0;

    .col-head {
      display: block;
      flex: 0 0 42px;
      margin-top: 8px;
      border-bottom: none;
    }

    .col-body {
      flex: 1;

      .list-content {
        .info {
          flex: 1;
        }
      }
    }
  }
}
