<div class="head-layout">
    <div class="head-left">
        <a href="#" class="logo">
            <img src="../../../assets/img/logo_white.svg"/>
        </a>

        <div class="menu">
            <a href="#">News & Updates</a>
            <a [routerLink]="['/supplier']" routerLinkActive="active">Suppliers</a>
            <a href="#">Platforms</a>
            <a href="#">Advice practices</a>
        </div>

        <div class="phone-menu">
            <div ngbDropdown placement="bottom-end">
                <div class="icon-menu" ngbDropdownToggle id="dropdownPhoneMenu" ngbDropdownToggle>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownPhoneMenu">
                    <a href="#">News & Updates</a>
                    <a [routerLink]="['/supplier']" routerLinkActive="active">Suppliers</a>
                    <a href="#">Platforms</a>
                    <a href="#">Advice practices</a>
                </div>
            </div>
        </div>
    </div>

    <div class="head-right">
        <div class="text">Manage BT</div>

        <div ngbDropdown placement="bottom-end">
            <div id="dropdownMenu" ngbDropdownToggle class="dropdown-text">Sam the BDM <span class="icon-block icon-arr-down icon-15"></span></div>
            <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                <button ngbDropdownItem>Log out</button>
            </div>
        </div>
    </div>
</div>
