<div class="head-layout">
    <div class="head-left">
        <a href="#" class="logo">
            <img src="./assets/img/logo_white.png"/>
        </a>

        <div class="menu">
            <a >News & Updates</a>
            <a [routerLink]="['/supplier/supplier-tab/comparison/4']" [ngClass]="{'active': activeMatch('/supplier')}">Suppliers</a>
            <a [routerLink]="['/platform/product']" [ngClass]="{'active': activeMatch('/platform')}">Platforms</a>
            <a [routerLink]="['/review/feature-comparison']" routerLinkActive="active">Advice practices</a>
        </div>

        <div class="phone-menu">
            <div ngbDropdown placement="bottom-end">
                <div class="icon-menu" id="dropdownPhoneMenu" ngbDropdownToggle>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownPhoneMenu">
                    <a href="#">News & Updates</a>
                    <a [routerLink]="['/supplier/comparison/4']" routerLinkActive="active">Suppliers</a>
                    <a [routerLink]="['/platform/product']" routerLinkActive="active">Platforms</a>
                    <a href="#">Advice practices</a>
                </div>
            </div>
        </div>
    </div>

    <div class="head-right">
        <div class="text">Manage BT</div>

        <div ngbDropdown placement="bottom-end">
            <div id="dropdownMenu" ngbDropdownToggle class="dropdown-text">Sam the BDM <span class="icon-block icon-arr-down icon-15"></span></div>
            <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                <button ngbDropdownItem>Log out</button>
            </div>
        </div>
    </div>
</div>
