<div class="head-layout">
    <div class="head-left">
        <a href="#" class="logo">
            <img src="./assets/img/logo_white.png"/>
        </a>

        <div class="menu" *ngIf="currentUserService.isAdminUser()">
            <a customLinkActive="active" [link]="['/platform']" (click)="chooseType('/platform')">Platform profiles</a>
            <a customLinkActive="active" [link]="['/advice-practices']" [routerLink]="['/advice-practices']">Practices</a>
            <a customLinkActive="active" [link]="['/supplier/supplier-list']" [routerLink]="['/supplier/supplier-list']">Suppliers</a>
            <a>News & updates</a>
            <!--<a [routerLink]="['/review/feature-selection']" routerLinkActive="active">Comparison Tool</a>
            <a customLinkActive="active" [link]="['/advice-practices']" (click)="chooseType('/advice-practices')">Practices</a>
            &lt;!&ndash;<a customLinkActive="active" [link]="['/suppliers']"  (click)="chooseType('/suppliers')">Suppliers</a>&ndash;&gt;
            <a customLinkActive="active" [link]="['/supplier']" (click)="chooseType('/supplier')">Suppliers</a>
            <a>News & Updates</a>-->
        </div>

        <div class="menu" *ngIf="currentUserService.isSupplierUser()">
            <a customLinkActive="active" [link]="['/platform']" (click)="chooseType('/platform')">Platform profiles</a>
            <a>Platform analysis</a>
            <!--<a>Suitability review</a>
            <a [routerLink]="['/review/feature-selection']" routerLinkActive="active">Due Diligence</a>
            <a [routerLink]="['/review/feature-selection']" routerLinkActive="active">Comparison Tool</a>
            <a customLinkActive="active" [link]="['/advice-practices']" (click)="chooseType('/advice-practices')">Practices</a>
            &lt;!&ndash;<a customLinkActive="active" [link]="['/suppliers']"  (click)="chooseType('/suppliers')">Suppliers</a>&ndash;&gt;
            <a customLinkActive="active" [link]="['/supplier']" (click)="chooseType('/supplier')">Suppliers</a>-->
            <a>News & Updates</a>
        </div>

        <div class="menu" *ngIf="currentUserService.isAdviceUser()">
            <a customLinkActive="active" [link]="['/advice-practices']" (click)="chooseType('/advice-practices')">Practices</a>
            <a>Suitability review</a>
            <!--            <a [routerLink]="['/review/feature-selection']" routerLinkActive="active">Due Diligence</a>-->
            <!--            <a [routerLink]="['/review/feature-selection']" routerLinkActive="active">Comparison Tool</a>-->
            <!--            <a customLinkActive="active" [link]="['/advice-practices']" (click)="chooseType('/advice-practices')">Practices</a>-->
            <!--            &lt;!&ndash;<a customLinkActive="active" [link]="['/suppliers']"  (click)="chooseType('/suppliers')">Suppliers</a>&ndash;&gt;-->
            <!--            <a customLinkActive="active" [link]="['/supplier']" (click)="chooseType('/supplier')">Suppliers</a>-->
            <a>News & Updates</a>
        </div>

        <div class="phone-menu">
            <!--Phone response-->
            <!--<div ngbDropdown placement="bottom-end">
                <div class="icon-menu" id="dropdownPhoneMenu" ngbDropdownToggle>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownPhoneMenu">
                    <a>News & Updates</a>
                    <a class="{{configService.activeMatch('/supplier')}}"
                       (click)="chooseType('/supplier')">Configurator</a>
                    <a class="{{configService.activeMatch('/platform')}}"
                       (click)="chooseType('/platform')">Platforms</a>
                    <a class="{{configService.activeMatch('/advice-practices')}}">Advice practices</a>
                    <a [routerLink]="['/review/feature-selection']" routerLinkActive="active">Due Diligence</a>
                    <a [routerLink]="['/review/feature-selection']" routerLinkActive="active">Comparison Tool</a>
                </div>
            </div>-->
        </div>
    </div>

    <div class="head-right">
        <div class="text">
            <div class="user-info" (click)="changeMenu()">
                {{currentUserService.fullName()}}
                <img src="./assets/img/icon/icon-dropdown.svg"/>
            </div>
            <div class="user-menu" *ngIf="showMenu">
                <div class="menu-item" [routerLink]="['/profile']">
                    <img src="./assets/img/icon/icon-profile.svg" class="menu-icon"/>
                    <div class="menu-name">Profile</div>
                </div>
                <ng-container *ngIf="currentUserService.isAdminUser()">
                    <div class="menu-item" [routerLink]="['/admin-manage/list']">
                        <img src="./assets/img/icon/icon-suitabilityhub-users.svg" class="menu-icon"/>
                        <div class="menu-name">SuitabilityHub users</div>
                    </div>
                    <div class="menu-item" [routerLink]="['/configuration/configuration-tab']">
                        <img src="./assets/img/icon/icon-suitabilityhub-configurator.svg" class="menu-icon"/>
                        <div class="menu-name">SuitabilityHub configurator</div>
                    </div>



                </ng-container>
                <ng-container *ngIf="currentUserService.isSupplierUser()">
                    <div class="menu-item">
                        <img src="./assets/img/icon/icon-company.svg" class="menu-icon"/>
                        <div class="menu-name">Manage company</div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentUserService.isAdviceUser()">
                    <div class="menu-item">
                        <img src="./assets/img/icon/icon-company.svg" class="menu-icon"/>
                        <div class="menu-name">Manage practice</div>
                    </div>
                </ng-container>
                <div class="menu-item" (click)="logOut()">
                    <img src="./assets/img/icon/icon-loginout.svg" class="menu-icon"/>
                    <div class="menu-name">Logout</div>
                </div>
            </div>
        </div>

        <!--        <div class="logout" (click)="logOut()">-->
        <!--            <span class="icon-block icon-logout icon-24"></span>-->
        <!--        </div>-->

        <!--        <div ngbDropdown placement="bottom-end">-->
        <!--            <div id="dropdownMenu" ngbDropdownToggle class="dropdown-text">Sam the BDM <span class="icon-block icon-arr-down icon-15"></span></div>-->
        <!--            <div ngbDropdownMenu aria-labelledby="dropdownMenu">-->
        <!--                <button ngbDropdownItem>Log out</button>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
