.main{
  width: 100%;
  min-height: calc(100% - 55px);
  overflow: auto;
  @media screen and(max-width: 640px){
    min-height: calc(100% - 82px);
  }

  
}
// .content{
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }
.main-top{
  overflow: auto;
}

.content{
   width: 100%;  
   padding:130px 140px 80px 140px;
  background-color: #EFEFEF;
  min-height: 100vh;
  overflow: hidden;
  @media screen and(max-width: 1200px){
    padding-left:60px;
    padding-right: 60px;
  }

  @media screen and(max-width: 992px){
    padding-left:20px;
    padding-right: 20px;
  }

  @media screen and(max-width: 640px){
    padding-bottom:82px;
  }
}
.container-c{
   width: 100%;  
   padding:130px 140px 80px 140px;
   @media screen and(max-width: 1300px){
    padding-left:60px;
    padding-right: 60px;
  }

  @media screen and(max-width: 992px){
    padding-left:20px;
    padding-right: 20px;
  }

  @media screen and(max-width: 640px){
    padding-bottom:82px;
  }
}
.container-black{
  width: 100%;  
  padding:100px 140px 0 140px;
  background: #222222;
  height: 100vh;
  @media screen and(max-width: 1300px){
   padding-left:60px;
   padding-right: 60px;
 }

 @media screen and(max-width: 992px){
   padding-left:20px;
   padding-right: 20px;
 }

 @media screen and(max-width: 640px){
   padding-bottom:82px;
   padding-top: 18px;
 }
}