<div class="sub-head sub-head-form">
    <div class="sub-title" (click)="goBack()">
        <span class="icon-block icon-arr-left-long icon-31 xs-mr-16"></span>
        {{group?.name}}
    </div>

    <button class="btn btn-purple">Update</button>
</div>

<div class="form-content">
    <div class="form-group-custom">
        <div class="form-group-left">
            <label class="control-label">Name</label>
            <p class="info">Names must be descriptive of one feature</p>
        </div>

        <div class="form-group-right">
            <input type="text" placeholder="Name" class="form-control"/>
            <p class="tip-info">Maximum 100 characters</p>
        </div>
    </div>

    <div class="form-group-custom">
        <div class="form-group-left">
            <label class="control-label">Description</label>
            <p class="info">Describe this feature so that it can be better understood by Advisors and Suppliers. This will appear as a tool tip</p>
        </div>

        <div class="form-group-right">
            <input type="text" placeholder="Name" class="form-control"/>
            <p class="tip-info">Maximum 500 characters <span>0 / 500</span></p>
        </div>
    </div>

    <div class="form-group-custom">
        <div class="form-group-left">
            <label class="control-label">Icon</label>
            <p class="info">Upload an Icon</p>
        </div>

        <div class="form-group-right">
            <input type="text" placeholder="Name" class="form-control"/>
            <p class="tip-info">Maximum 500 characters <span>0 / 500</span></p>
        </div>
    </div>
</div>
