.transition {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  font-family: 'Epilogue';
  padding:0;
  margin:0;
  height: 100%;
  overflow: auto;
  background-color: #FCFCFC;
}

.text-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tx-12{
  font-size: 12px !important;
}

.tx-13{
  font-size: 13px !important;
}

.tx-semi{
  font-weight: 600 !important;
}

.tx-gray{
  color:#7C8493 !important;
}

.no-border-bottom{
  border-bottom: none !important;
}

.bg-green{
  background-color: #219653;
}
.bg-green-light{
  background-color: #56CDAD;
}
.bg-purple-light{
  background-color: #D6DDEB;
}
