@font-face {
  font-family: 'AvenirNext';
  src: url('../../assets/fonts/AvenirNext/AvenirNext-UltraLight.eot');
  src: url('../../assets/fonts/AvenirNext/AvenirNext-UltraLight.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-UltraLight.woff') format('woff'),
    url('../../assets/fonts/AvenirNext/AvenirNext-UltraLight.ttf') format('truetype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-UltraLight.svg') format('svg');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../../assets/fonts/AvenirNext/AvenirNext-Regular.eot');
  src: url('../../assets/fonts/AvenirNext/AvenirNext-Regular.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Regular.woff') format('woff'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Regular.ttf') format('truetype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Regular.svg') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../../assets/fonts/AvenirNext/AvenirNext-Medium.eot');
  src: url('../../assets/fonts/AvenirNext/AvenirNext-Medium.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Medium.woff') format('woff'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Medium.ttf') format('truetype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Medium.svg') format('svg');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../../assets/fonts/AvenirNext/AvenirNext-DemiBold.eot');
  src: url('../../assets/fonts/AvenirNext/AvenirNext-DemiBold.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-DemiBold.woff') format('woff'),
    url('../../assets/fonts/AvenirNext/AvenirNext-DemiBold.ttf') format('truetype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-DemiBold.svg') format('svg');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../../assets/fonts/AvenirNext/AvenirNext-Bold.eot');
  src: url('../../assets/fonts/AvenirNext/AvenirNext-Bold.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Bold.woff') format('woff'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Bold.ttf') format('truetype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Bold.svg') format('svg');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../../assets/fonts/AvenirNext/AvenirNext-Heavy.eot');
  src: url('../../assets/fonts/AvenirNext/AvenirNext-Heavy.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Heavy.woff') format('woff'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Heavy.ttf') format('truetype'),
    url('../../assets/fonts/AvenirNext/AvenirNext-Heavy.svg') format('svg');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Light.eot');
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Light.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Light.woff') format('woff'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Light.ttf') format('truetype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Light.svg') format('svg');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Regular.eot');
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Regular.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Regular.woff') format('woff'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Regular.ttf') format('truetype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Regular.svg') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Medium.eot');
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Medium.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Medium.woff') format('woff'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Medium.ttf') format('truetype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Medium.svg') format('svg');
  font-style: normal;
  font-weight: 500;
}


@font-face {
  font-family: 'SFProDisplay';
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Semibold.eot');
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Semibold.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Semibold.woff') format('woff'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Semibold.ttf') format('truetype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Semibold.svg') format('svg');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Bold.eot');
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Bold.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Bold.woff') format('woff'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Bold.ttf') format('truetype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Bold.svg') format('svg');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Heavy.eot');
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Heavy.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Heavy.woff') format('woff'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Heavy.ttf') format('truetype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Heavy.svg') format('svg');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Black.eot');
  src: url('../../assets/fonts/SFProDisplay/SFProDisplay-Black.eot#iefix}') format('embedded-opentype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Black.woff') format('woff'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Black.ttf') format('truetype'),
    url('../../assets/fonts/SFProDisplay/SFProDisplay-Black.svg') format('svg');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Thin-slnt=0.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-ExtraLight-slnt=0.ttf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Light-slnt=0.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Regular-slnt=0.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Medium-slnt=0.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-SemiBold-slnt=0.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Bold-slnt=0.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-ExtraBold-slnt=0.ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Black-slnt=0.ttf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/helveticaneue/HelveticaNeueHv.ttf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/helveticaneue/Helvetica Neu Bold.ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/helveticaneue/HelveticaNeue Medium.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/helveticaneue/HelveticaNeue-Roman.otf');
  font-style: normal;
  font-weight: 600;
}


@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/helveticaneue/HelveticaNeue Thin.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/helveticaneue/HelveticaNeue Light.ttf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/helveticaneue/HelveticaNeue.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Black.eot');
  src: url('../../assets/fonts/Roboto/Roboto-Black.eot#iefix}') format('embedded-opentype'),
  url('../../assets/fonts/Roboto/Roboto-Black.woff') format('woff'),
  url('../../assets/fonts/Roboto/Roboto-Black.ttf') format('truetype'),
  url('../../assets/fonts/Roboto/Roboto-Black.svg') format('svg');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Bold.eot');
  src: url('../../assets/fonts/Roboto/Roboto-Bold.eot#iefix}') format('embedded-opentype'),
  url('../../assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
  url('../../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
  url('../../assets/fonts/Roboto/Roboto-Bold.svg') format('svg');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Regular.eot');
  src: url('../../assets/fonts/Roboto/Roboto-Regular.eot#iefix}') format('embedded-opentype'),
  url('../../assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
  url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
  url('../../assets/fonts/Roboto/Roboto-Regular.svg') format('svg');
  font-style: normal;
  font-weight: 400;
}
