<div class="modal-main p32">
    <div class="modal-header">
        <h2 class="modal-title">The Practive you entered has already existed in our system </h2>
    </div>
    <div class="modal-body">
        <div class="form modal-form">
            <div class="form-info">
                <p>Please contact Suitability Hub admin for further information.</p>
            </div>
            <div class="form-button">
                <div class="submit">
                    <button [routerLink]="['/login']" class="btn btn-purple btn-sign tx-16 btn-block">Send email to
                        Suitability Hub admin</button>
                </div>
                <button class="btn  btn-clear btn-sign btn-text-theme tx-16 btn-block" [routerLink]="['/login']">Cancel</button>
            </div>
        </div>
    </div>

</div>
