.main {
  .head-tip {
    &.warn-tip {
      background: #fdf6e7;
    }
    &.err-tip {
      background: #fdeeee;
    }
    .head-tip-content {
      padding-left: 0;
    }
  }
  .modal-content {
  }
  .btn-control-group {
    display: flex;
    align-items: center;
  }
}
