.btn {
  display: inline-block;
  color:@white;
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  padding: 10px 21px;
  border-radius: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  .transition;
  &:focus,
  &:link,
  &:active {
    outline: none;
    box-shadow: none;
  }

  @media screen and (max-width: 670px){
    font-size: 12px;
    padding: 6px 12px !important;
  }

  &.btn-outline-blue-light{
    color:@themeColor;
    border:1px solid @blueLight;

    &:hover{
      color:darken(@themeColor,10%);
      border:1px solid darken(@blueLight,10%);
    }
  }

  &.btn-purple{
    color:@white;
    background-color: @themeColor;

    &:hover{
      background-color:darken(@themeColor,10%);
    }
  }

  &.btn-outline-purple-light{
    color:@themeColor;
    border:1px solid @purpleBorder;

    &:hover{
      color:darken(@themeColor,10%);
      border:1px solid darken(@purpleBorder,10%);
    }
  }

  &.btn-outline-danger-light{
    color:#FF151F;
    border:1px solid #FFC7C8;

    &:hover{
      color:darken(#FF151F,10%);
      border:1px solid darken(#FFC7C8,10%);
    }
  }

  &.btn-clear{
    border:none !important;
  }

  &.btn-text-danger{
    color:#EB5757;

    &:hover{
      color:darken(#EB5757,10%);
    }
  }

  &.btn-text-theme{
    color:#4640DE;

    &:hover{
      color:darken(#4640DE,10%);
    }
  }

  &.btn-small{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding-left:16px;
    padding-right:16px;
    .tx-12;
  }

  &.btn-with-icon{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.btn-purple-border{
    color: #4640DE;
    background: #E9EBFD;
    border: 1px solid #4640DE;

    &:hover{
      color:darken(#4640DE,10%);
      background:darken(#E9EBFD,2%);
      border: 1px solid darken(#4640DE,10%);
    }
  }

  &.btn-purple-dark{
    color: #25324B;
    background: #E9EBFD;
    border: none;

    &:hover{
      color:darken(#25324B,10%);
      background:darken(#E9EBFD,2%);
      border: none;
    }
  }

  &.btn-danger{
    color: #ffffff;
    background: #EB5757;
    border: none;

    &:hover{
      background:darken(#EB5757,2%);
      border: none;
    }
  }

  &.btn-tiny{
    padding:6px 12px 4px 12px;
    .tx-12;
  }
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  outline-offset: 0;
}


.btn-clear{
  width: 100%;
  cursor: pointer;
  border:none;
  box-shadow: none;
  background-color: transparent;

  &.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus {
    outline: none;
    outline-offset: 0;
  }
}

.btn-icon-clear{
  padding: 0;
  cursor: pointer;
  border:none;
  box-shadow: none;
  background-color: transparent;

  &.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus {
    outline: none;
    outline-offset: 0;
  }
}


.back-top-button{
  position: fixed;
  bottom:48px;
  right:64px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #4640DE;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  z-index: 99;
  .transition;
  cursor: pointer;

  &:hover{
    background-color: darken(#4640DE,5%);
  }
}

.switch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4640DE;
  font-size: 14px;
  font-weight: 400;
  padding: 4px;
  background-color: #E9EBFD;

  .switch-text {
    padding: 7px 12px;
    cursor: pointer;
    text-align: center;

    &.active {
      font-weight: 700;
      background-color: #ffffff;
    }

    &:hover {
      background-color: #ffffff;
    }
  }
}
