//
// Checkboxes  Radioboxs
// --------------------------------------------------
@checkedColor: #4640DE;
@uncheckColor: #ffffff;
@borderColor: #4640DE;
@uncheckBorderColor: #D6DDEB;
@labelColor: #333333;


//check-box
.check-box {
  height: auto;
  min-height: 22px;
  display: flex;
  width: auto;
  position: relative;

  label {
    width: 100%;
    height: 100%;
    padding-left: 32px;
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 14px;
    color: #515B6F;
    line-height: 21px;
    cursor: pointer;
    margin: 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 22px;
      width: 24px;
      border-radius: 4px;
      top: 50%;
      margin-top: -12px;
      left: 0;
      background-color: #3F536E;
    }

    &::after {}
  }


  input[type="checkbox"] {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;

    &:checked {
      +label::before {
        .icon-checkbox;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &:disabled {
      cursor: not-allowed;

      +label::before {
        opacity: 0.4;
      }
    }
  }

  p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #515B6F;
    margin-bottom: 0;

    a {
      color: #4640DE;
      margin: 0 2px;
      font-weight: 600;
    }
  }


  &.check-box-purple {
    margin: 16px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    label {
      padding-left: 30px;
      line-height: 22px;

      &::before {
        height: 22px;
        width: 22px;
        margin-top: -11px;
        background-color: transparent;
        border: 2px solid #D6DDEB;
      }
    }


    input[type="checkbox"] {
      &:checked {
        +label::before {
          border: 2px solid @themeColor;
          background-color: @themeColor;
        }
      }
    }

  }
}

//radio-box
.radio-box {
  min-height: 20px;
  height: auto;
  width: auto;
  position: relative;
  margin: 10px 0;

  label {
    font-weight: 700;
    color: #333333;
    width: auto;
    height: 100%;
    padding-left: 38px;
    font-size: 16px;
    cursor: pointer;

    .info {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #515B6F;
    }


    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 100px;
      top: 0;
      left: 0;
    }

    &::before {
      height: 20px;
      width: 20px;
      line-height: 20px;
      border: 2px solid @uncheckBorderColor;
      background-color: @uncheckColor;
    }

    &::after {
      width: 12px;
      height: 12px;
      margin-top: 4px;
      left: 4px;
      background-color: transparent;
    }
  }


  input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;

    &:checked {
      +label::before {
        border: 1px solid @checkedColor;
      }

      +label::after {
        background-color: @checkedColor;
      }
    }

    &:disabled {
      +label {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  &.radio-box-top-2 {
    label {

      &::before,
      &::after {
        top: 2px;
      }
    }
  }
}
