.form-group-custom{
  font-family: 'Epilogue';
  display: flex;
  justify-content: space-between;
  padding:24px 0;
  border-bottom:1px solid #D6DDEB ;

  @media screen and (max-width: 890px){
    flex-direction: column;
  }

  .form-group-left{
    width: 259px;

    @media screen and (max-width: 890px){
      width: 100%;
      margin-bottom: 10px;
    }

    .info{
      font-weight: 400;
      font-size: 13px;
      line-height: 160%;
      color: #7C8493;
      margin: 4px 0px;
    }
  }

  .control-label{
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #25324B;
    margin-bottom: 0;

    &.control-label-custom{
      color:#515B6F;
      margin-bottom: 4px;
    }
  }

  .form-group-right{
    width: 579px;

    @media screen and (max-width: 890px){
      width: 100%;
    }

    .tip-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;
      font-size: 13px;
      line-height: 160%;
      color: #7C8493;
      margin: 4px 0px;
    }
  }

  .form-upload-file{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.form-control {
  color:#515B6F;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  width: 100%;
  height: 43px;
  border:1px solid #D6DDEB;
  padding:0 16px ;
  border-radius: 0;
  .transition;

  &:focus{
    color: #515B6F;
    background-color: #fff;
    border-color: darken(#D6DDEB,10%);
    outline: 0;
    box-shadow:none;
  }

  &:focus-visible{
    outline: none;
  }

  &::-moz-placeholder {
    color: #A8ADB7;
  }

  &:-ms-input-placeholder {
    color: #A8ADB7;
  }

  &::-webkit-input-placeholder {
    color: #A8ADB7;
  }

  &:disabled, &[readonly] {
    background: #FFFFFF;
    opacity: 0.3;
    border: 1px solid #D6DDEB;
    cursor: not-allowed;
  }
}


.form-group{
  margin-bottom: 24px;

  &:last-child{
    margin-bottom: 0;
  }
}



.ng-select {
  &.select-single {
    font-size: 13px;
    font-weight: 400;
    color: #515B6F;

    .ng-input{

      margin-top:5px;

      input{
        font-size: 13px;
        font-weight: 400;
        color: darken(#515B6F,5%);
        padding:0 6px !important;
      }
    }

    .ng-select-container {
      font-weight: 400;
      font-size: 13px;
      line-height: 160%;
      width: 100%;
      height: 43px;
      border:1px solid #D6DDEB;
      padding:0 16px ;
      border-radius: 0;
      box-shadow: none !important;

      .ng-value-container{
        padding:0;
      }

      .ng-placeholder{
        color:#A8ADB7;
      }

      .ng-arrow-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        .ng-arrow{
          background-image: url("../../assets/img/icon/icon-arr-down-black.svg");
          width: 20px !important;
          height: 20px !important;
          border:none;
        }
      }

      .ng-value-label {
        color: #515B6F;
      }
    }

    &.ng-select-focused {
      .ng-select-container {
        border: 1px solid darken(#D6DDEB,10%);
      }
    }
  }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  font-weight: 400;
  color: #515B6F !important;
  padding:8px 16px;


  &.ng-option-selected,
  &.ng-option-selected.ng-option-marked,
  &.ng-option-marked,
  &:hover {


    .ng-option-label{
      font-weight: 400;
    }
  }

}


.ck-editor__editable_inline {
  min-height: 223px;
}

.ck.ck-toolbar{
  background-color: #ffffff !important;
  border:1px solid #D6DDEB !important;
}

.ck.ck-editor__main>.ck-editor__editable {
  border:1px solid #D6DDEB !important;
  border-top: none !important;
  box-shadow: none !important;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  border:1px solid #D6DDEB !important;
  border-top: none !important;
}

.ck.ck-content{
  &:focus-visible {
    outline: none !important;
  }
}

.ck-placeholder{
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;

  &::before{
    color:#A8ADB7 !important;
  }
}

.ck.ck-reset_all, .ck.ck-reset_all * {
  color:#7C8493 !important;
}

ck.ck-list__item .ck-button.ck-on {
  background: #D6DDEB !important;
}


