.form-content {
  padding-bottom: 80px;
}

.form-group {
  .control-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #515B6F;
    margin-bottom: 0;
  }
}

.form-group-custom {
  font-family: 'Epilogue';
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #D6DDEB;

  @media screen and (max-width: 890px) {
    flex-direction: column;
  }

  .form-group-left {
    width: 259px;
    max-width: 100%;

    @media screen and (max-width: 890px) {
      width: 100%;
      margin-bottom: 10px;
    }

    .info {
      font-weight: 400;
      font-size: 13px;
      line-height: 160%;
      color: #7C8493;
      margin: 4px 0px;
    }
  }

  .control-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #25324B;
    margin-bottom: 0;

    &.control-label-custom {
      color: #515B6F;
      margin-bottom: 4px;
      word-break: break-word;
      .control-label-between;
    }

    &.control-label-custom-large {
      color: #515B6F;
      font-size: 14px;
      line-height: 22.4px;
      margin-bottom: 8px;
    }

    &.control-label-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .form-group-right {
    width: 579px;
    max-width: 100%;

    @media screen and (max-width: 890px) {
      width: 100%;
    }
  }

  .form-upload-file {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }


  &.form-group-custom-reset {
    .form-group-left {
      width: 525px;
      padding-right: 66px;

      @media screen and (max-width: 890px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

.form-group-sign {
  .control-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #515B6F;
    margin-bottom: 4px;
    font-family: 'Epilogue';

    .label-required {
      display: inline-block;
      padding-left: 2px;
    }
  }

  .form-control {
    font-size: 14px;
    line-height: 22px;
    color: #25324B;
    height: 46px;
  }
}

.form-disabled {
  input {
    background: #F5F5F5 !important;
    opacity: 1 !important;
  }
}

.form-control {
  color: #515B6F;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  height: 43px;
  border: 1px solid #D6DDEB;
  padding: 0 16px;
  border-radius: 0;
  .transition;

  &:focus {
    color: #515B6F;
    background-color: #fff;
    border-color: darken(#D6DDEB, 10%);
    outline: 0;
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;
  }

  &::-moz-placeholder {
    color: #A8ADB7;
  }

  &:-ms-input-placeholder {
    color: #A8ADB7;
  }

  &::-webkit-input-placeholder {
    color: #A8ADB7;
  }

  &:disabled {
    background: #FFFFFF;
    opacity: 0.3;
    border: 1px solid #D6DDEB;
    cursor: not-allowed;
  }

  &[readonly] {
    background: #FFFFFF;
    cursor: auto;
  }

  &.form-control-amount {
    font-weight: 600;
    font-size: 16px;
    color: #25324B;
  }
}

textarea.form-control {
  padding: 16px;
  height: 105px;
}

.tip-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #7C8493;
  margin: 4px 0px;
}

.view-text {
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-decoration: underline;
  color: #25324B;
  margin-top: 4px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 24px;

  &:last-child {
    //margin-bottom: 0;
  }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-family: 'Epilogue';
}


.ng-select {
  &.select-single {
    font-size: 14px;
    font-weight: 400;
    color: #515B6F;

    .ng-input {

      margin-top: 5px;

      input {
        font-family: 'Epilogue';
        font-weight: 400;
        font-size: 14px;
        color: darken(#515B6F, 5%);
        padding: 0 !important;
      }
    }

    .ng-select-container {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      width: 100%;
      height: 43px;
      border: 1px solid #D6DDEB;
      padding: 0 16px;
      border-radius: 0;
      box-shadow: none !important;

      .ng-value-container {
        padding: 0;
      }

      .ng-placeholder {
        color: #A8ADB7;
      }

      .ng-arrow-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;

        .ng-arrow {
          background-image: url("../../assets/img/icon/icon-arr-down-black.svg");
          width: 20px !important;
          height: 20px !important;
          border: none;
        }
      }

      .ng-value-label {
        color: #515B6F;
      }
    }

    &.ng-select-focused {
      .ng-select-container {
        border: 1px solid darken(#D6DDEB, 10%);
      }
    }


    &.ng-select-single {
      .ng-input {
        input {
          padding: 0 5px !important;
        }
      }
    }
  }

  &.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        display: flex;
        align-items: center;

        .ng-placeholder {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        .ng-value {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        .ng-custom-value {
          font-family: 'Epilogue';
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #25324B;
          padding: 0;
          margin: 4px 0 0 0;
          background-color: transparent;
        }
      }
    }
  }
}


.select-avatar-item {
  position: relative;
  padding-left: 33px;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #25324B;
  overflow: hidden;
  text-overflow: ellipsis;

  .avatar-box {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12.5px;
    width: 25px;
    height: 25px;
  }
}

.select-multiple-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 14px;
  color: #515B6F;


  .check-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 2px solid #D6DDEB;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;

    &.has_main {
      opacity: .7;
    }

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      flex-shrink: 0;
    }

    &.checked {
      border-color: #4640de;
      background: #4640DE;

      &::after {
        background-image: url("../../assets/img/icon/icon-checkbox.svg");
      }
    }
  }

  .item-status {
    display: flex;
    align-items: center;
    font-family: 'Epilogue';
    font-weight: 500;
    font-size: 10px;
    border-radius: 4px;
    padding: 2px 4px 1px;
    margin-left: 10px;

    &.state_yellow {
      color: #F8F8FD;
      background: #EDA114;
    }
  }
}

.ng-select-multiple {
  .ng-dropdown-panel-items {
    .ng-option {
      &.ng-option-selected {
        .select-multiple-item {
          .check-item {
            border-color: #4640de;
            background: #4640DE;

            &::after {
              background-image: url("../../assets/img/icon/icon-checkbox.svg");
            }
          }
        }
      }

      &.ng-option-disabled {
        .select-multiple-item {
          .check-item {
            opacity: .7;
          }
        }
      }
    }
  }

}

.main-platform {
  .check-item {
    border-color: #4640de;
    background: #4640DE;

    &::after {
      background-image: url("../../assets/img/icon/icon-checkbox.svg");
    }
  }
}


.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-weight: 400;
  color: #515B6F !important;
  padding: 8px 16px;


  &.ng-option-selected,
  &.ng-option-selected.ng-option-marked,
  &.ng-option-marked,
  &:hover {


    .ng-option-label {
      font-weight: 400;
    }
  }

  &.ng-option-disabled {
    cursor: not-allowed;
  }

}


//ck-editor

.cke {
  border: 1px solid #D6DDEB !important;
}

.cke_bottom {
  border-top: 1px solid #D6DDEB !important;
  background: #FFFFFF !important;
}

.form-group-custom, .form-group {

  .cke .cke_button_icon {
    background-size: 24px !important;
  }

  .cke .cke_button__emojipanel_icon {
    background: url('../../assets/img/icon/icon-smile.svg') no-repeat !important;
  }

  .cke .cke_button__bold_icon {
    background: url('../../assets/img/icon/icon-b.svg') no-repeat !important;
  }

  .cke .cke_button__italic_icon {
    background: url('../../assets/img/icon/icon-i.svg') no-repeat !important;
  }

  .cke_ltr.cke .cke_button__numberedlist_icon {
    background: url('../../assets/img/icon/icon-sort.svg') no-repeat !important;
  }

  .cke_ltr.cke .cke_button__bulletedlist_icon {
    background: url('../../assets/img/icon/icon-sort-dot.svg') no-repeat !important;
  }

  .cke_ltr.cke .cke_button__link_icon {
    background: url('../../assets/img/icon/icon-link.svg') no-repeat !important;
  }


  .cke_toolgroup a.cke_button:last-child:after,
  .cke_toolgroup a.cke_button.cke_button_disabled:hover:last-child:after {
    display: none !important;
  }

  .cke_button_arrow {
    display: none !important;
    margin: 12px 0 0 3px !important;
    border-top: 3px solid #7C8493 !important;
  }

  .cke_button_icon {
    width: 24px !important;
    height: 24px !important;
  }

  a.cke_button {
    height: 24px !important;
    padding: 3px !important;
    margin: 0 2px !important;
    border: 1px solid #ffffff !important;
  }

  a.cke_button_on {
    background: #f7f7f7 !important;
    border: 1px solid darken(#f7f7f7, 5%) !important;
    padding: 3px !important;
  }

  a.cke_button_off:hover,
  a.cke_button_off:focus,
  a.cke_button_off:active {
    background: #f7f7f7 !important;
    border: 1px solid darken(#f7f7f7, 5%) !important;
    padding: 3px !important;
  }

  .cke_toolgroup {
    padding-right: 0 !important;
  }
}

.label-required {
  color: #EB5757;
}

.radio-box-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .radio-box {
    margin-right: 16px;

    label {
      font-weight: 400;
      padding-left: 32px;
    }
  }
}

.form-blue {
  .control-label {
    .tx-blue;
  }

  .upload-file-show {
    border: 5px solid #26A4FF !important;
  }

  .form-control {
    .bg-blue;
    color: #3D98FF;
  }

}

.form-red {
  .control-label {
    .tx-red;
  }

  .upload-file-show {
    border: 5px solid #EB5757 !important;
  }

  .form-control {
    .bg-red;
    color: #3D98FF;
  }

}


.sub-control-label {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #7C8493;
  margin-bottom: 4px;
}

.form-error-tip {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #EB5757;
}

.form-group-custom {
  .row {
    margin-right: -12px;
    margin-left: -12px;
  }

  .col-6 {
    padding-left: 12px;
    padding-right: 12px;
  }
}


//form-group-column
.form-group-column {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 -24px;

  .column-6 {
    width: 50%;
    padding: 0 24px;

    @media screen and (max-width: 890px) {
      width: 100%;
    }

    &:nth-child(2) {
      border-left: 1px solid #D6DDEB;
    }
  }

  .column-group {
    position: relative;
    padding-right: 35px;

    .icon-delete {
      position: absolute;
      bottom: 11px;
      right: 0;
      z-index: 10;
      cursor: pointer;
    }

  }
}

.input-group_unit {
  position: relative;

  .unit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #202430;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    padding-top: 3px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -12px;
      width: 1px;
      height: 24px;
      background-color: #A8ADB7;
    }
  }

  .form-control {
    padding-left: 48px;
    font-weight: 600;
    font-size: 16px;
    color: #25324B;
  }
}


//total-amount
.total-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 24px;
  color: #FFFFFF;
  font-weight: 600;
  background-color: @themeColor;
  margin-top: 24px;

  .text {
    font-family: 'Epilogue';
    font-size: 14px;
    line-height: 22px;
    max-width: 270px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .amount {
    font-family: 'ClashDisplay';
    font-size: 20px;
    line-height: 24px;
    .text-ellipsis;
    padding-left: 24px;
  }
}


//password-input
.password-input {
  position: relative;

  .form-control {
    padding-right: 48px;
  }

  .icon-block {
    position: absolute;
    top: 43px;
    right: 16px;
    z-index: 10;
    cursor: pointer;
  }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #FF151F;
  padding-right: 0 !important;
  background-image: none !important;
}

.was-validated .form-control:invalid,
.form-control.has-invalid {
  border-color: #FF151F;
}

.has-invalid-feedback {
  color: #FF151F;
  width: 101%;
  margin-top: 0.25rem;
  font-family: 'Epilogue';
  font-size: 12px;
}

.invalid-feedback {
  color: #FF151F;
}
