.icon-block {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
}

@iconSize: 14,15,16,20,24,32,37;

each(@iconSize, {
  .icon-@{value} {
    width: ~'@{value}px';
    height: ~'@{value}px';
  }
}
);

.icon-arr-down{
  background-image: url("../../assets/img/icon/icon-arr-down.svg");
}

.icon-edit{
  background-image: url("../../assets/img/icon/icon-edit.svg");
}

.icon-pen{
  background-image: url("../../assets/img/icon/icon-pen.svg");
}

.icon-line{
  background-image: url("../../assets/img/icon/icon-line.svg");
}

.icon-search{
  background-image: url("../../assets/img/icon/icon-search.svg");
}
