.label{
  display: inline-block;
  font-family: 'Epilogue';
  font-weight: 600 ;
  font-size: 12px;
  line-height: 19.2px;
  padding:6px 10px;
  border-radius: 80px;
  flex-shrink: 0;
  flex-grow: 0;
  margin:0;
  text-align: center;
  min-width: 100px;

  &.label-red{
    color:#EB5757;
    background: rgba(235, 133, 51, 0.1);
  }

  &.label-green{
    color:#219653;
    background: rgba(33, 150, 83, 0.1);
  }

  &.label-blue{
    color:#26A4FF;
    background: rgba(38, 164, 255, 0.1);
  }

  &.label-grey{
    color: #BDBDBD;
    background-color: #F2F2F2;
  }

  &.label-green-light{
    color: #27AE60;
    background: #EEFAF7;
  }

  &.label-orange{
    color: #EDA114;
    background: rgba(235, 133, 51, 0.1);
  }

  &.label-purple{
    color: #4640de;
    background: rgba(70, 64, 222, 0.1);
  }
}


.badge{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  min-width: 20px;
  height: 20px;
  padding:0;
  border-radius: 100%;

  &.badge-theme{
    background-color: @themeColor;
  }
}


.label-number{
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #FFFFFF;
  background: #4ECE3D;
  border-radius: 3px;
  padding:0 6px;
}


.label-yellow{
  font-family: 'Epilogue';
  display: inline-block;
  padding: 0 4px;
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  color: #F8F8FD;
  border-radius: 4px;
  background: rgba(237, 161, 20, 0.2);
}
