.label-status{
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border-width: 2px;
  border: 2px solid;
  &.label-orange{
    background-color: #EBA655;
    border-color: #FFAFAF;
  }

  &.label-green{
    background-color: #2AC084;
    border-color: #9CFFD7;
  }

  &.label-red{
    background-color: #EB5E55;
    border-color: #FFAFAF;
  }

  &.label-gray{
    background-color: #C6BFB7;
    border-color: #DDDDDD;
  }

  &.label-dark{
    background-color: #566A62;
    border-color: #A3B1AC;
  }
}
