&.popup-modal{
  .modal-content{

    background-color: transparent;
    @media (max-width: 1036px){
      padding:20px;
    }
  }
}

.modal-dialog{
  &.modal-sm{
    @media (min-width: 768px){
      width: 417px;
    }
  }

  &.modal-md{
    @media (min-width: 768px){
      width: 417px;
    }
  }

  &.modal-lg{
    width: 1036px;
    max-width: 100%;
  }

  .modal-content{
    box-shadow: none;
    border-radius: 0;
    border:none;

    .modal-header{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .modal-title{

      }

      .close{
        position: absolute;
        top:50%;
        margin-top:-11px;
        right:16px;
        width: 22px;
        height: 22px;
        opacity: 1;
      }
    }
  }
}

.modal-backdrop{
  z-index: 1055 !important;
  background-color: #0D0B41;
  opacity: .7 !important;
}
body{
  .modal{
    &:last-child{
      z-index: 1060 !important;
    }
  }
}
