
ul.pagination {
  align-items: center;
  justify-content: center;

  li.page-item {
    display: inline-block;
    a.page-link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #515B6F;
      font-size: 16px;
      font-weight: 600;
      font-family: "Inter";
      width: 46px;
      height: 46px;
      border: none;
      border-radius: 8px;
      background-color: transparent;

      &:hover {
        background-color: #E9EBFD;
      }
    }

    &:first-child,&:last-child{
      vertical-align: top;
      a{
        //font-size: 0;

      }

      //&::before{
      //  content:"";
      //  .icon-block;
      //  width: 24px;
      //  height: 24px;
      //}
    }

    &:first-child {
      a {
        background: url("../../assets/img/icon/icon-page-prev.svg") center center/50% no-repeat;
        > span {
          opacity: 0;
        }
        &::before{
          .icon-page-left {}
        }
      }

    }

    &:last-child {
      a {
        background: url("../../assets/img/icon/icon-page-next.svg") center center/50% no-repeat;
        > span {
          opacity: 0;
        }
        &::before{
          .icon-page-right {}
        }
      }
    }

    &.active {
      a {
        color:#ffffff;
        background-color: @themeColor;
      }
    }
  }
}
