
.table-cell-popover{
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  max-width: 404px;
  width: 404px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

  &.max-787{
    max-width: 787px !important;
    width: 787px !important;
    background: #F7F7F7 !important;
  }

  .popover-body{
    padding:0;

    .icon-close{
      position: absolute;
      top:16px;
      right:24px;
      cursor: pointer;
      z-index: 5;
    }
  }

  &.bs-popover-right > .arrow::before,
  &.bs-popover-auto[x-placement^="right"] > .arrow::before {
    border-right-color: #E3E3E3;
  }

  &.bs-popover-left > .arrow::before,
  &.bs-popover-auto[x-placement^="left"] > .arrow::before {
    border-left-color: #E3E3E3;
  }

  &.bs-popover-top > .arrow::before,
  &.bs-popover-auto[x-placement^="top"] > .arrow::before {
    border-top-color: #E3E3E3;
  }

  &.bs-popover-bottom > .arrow::before,
  &.bs-popover-auto[x-placement^="bottom"] > .arrow::before {
    border-bottom-color: #E3E3E3;
  }
}

.cell-popover{
  padding:24px 43px 34px 33px;

  max-height: 403px;
  overflow: auto;

  .info{
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #515B6F;
    margin-bottom: 12px;
  }

  .img-box{
    position: relative;
    width: 100%;

    img{
      width: 100%;
      height: auto;
    }

    .btn-expand{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top:50%;
      left:50%;
      margin-top:-16px;
      margin-left:-16px;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: #4640DE;
      cursor: pointer;
      z-index: 5;
    }

  }
}


.table-comment-popover{
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 0;
  max-width: 653px;
  width: 653px;
  box-shadow: none;

  .popover-body{
    padding:0;
  }


  &.bs-popover-top > .arrow::before, &.bs-popover-auto[x-placement^="top"] > .arrow::before {
    border-top-color: #E3E3E3;
  }
}

.comment-popover{
  padding:16px;
  height: auto;
  overflow: hidden;

  .title{
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 14px;
    line-height:24px;
    color: #515B6F;
    margin-bottom: 16px;
  }

  textarea.form-control{
    height: 150px;
  }

  .comment-footer{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-block{
      margin-top:0 !important;
      margin-bottom: 0 !important;
      padding:16px 21px;
    }
  }
}


.popover-custom{
  display: none;
  position: absolute;
  top:0px;
  left:0px;
  will-change: transform;
  z-index: 10;

  .arrow{
    top:50%;
    margin-top:-10px;
  }
}
