.ng-select.custom {
  min-height: 61px;
  border-radius: 0;
  height: 61px;
  border: none;
}
.ng-select.custom .ng-select-container {
  z-index: 0 !important;
  border: none;
  height: 100%;
  background: transparent;
  min-height: 100%;
}
.ng-select.custom .ng-select-container .ng-arrow-wrapper {
  display: none;
}
.ng-select.custom .ng-select-container .ng-value-container .ng-value {
  height: 61px;
  line-height: 61px;
  padding-left: 80px !important;
  font-weight: 700;
}
.ng-select.custom .ng-select-container .ng-value-container .ng-input {
  height: 100%;
  line-height: 58px;
  top: -1px;
  padding-left: 80px !important;
  padding-right: 10px;
  font-weight: 700;
}
.ng-select.custom .ng-select-container .ng-value-container .ng-input input {
  width: 100%;
  height: 100%;
}
.ng-select.custom .ng-dropdown-panel .scroll-host {
  background: #FFFFFF;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.35);
  border-radius: 13px;
}
.ng-select.custom .ng-dropdown-panel .scroll-host .ng-option {
  padding: 7px;
  list-style: none;
  border-bottom: 2px solid rgba(211, 211, 211, 0.25);
}
.ng-select.custom .ng-dropdown-panel .scroll-host .ng-option:last-child {
  border-bottom: none;
}
.ng-select.custom .ng-dropdown-panel .scroll-host .ng-option span {
  font-size: 14px;
  font-family: "Inter";
  color: #000;
  padding: 17px 11px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.25s ease-in-out;
  font-weight: 400;
  position: relative;
}
.ng-select.custom .ng-dropdown-panel .scroll-host .ng-option span:hover {
  background: #000;
  font-weight: 700;
  color: #FFFFFF;
}
.ng-select.custom .ng-dropdown-panel.ng-select-bottom {
  border: none;
}
.search-content .ng-select .ng-clear-wrapper {
  margin-right: 17px;
}
.search-content .ng-select .ng-clear-wrapper .ng-clear {
  display: block;
  font-size: 0;
  width: 17px;
  height: 17px;
  background-image: url(../../assets/img/icon/icon-cicle-close-black.svg);
}
.search-content.name .ng-select.custom .ng-select-container .ng-value-container {
  height: 100%;
}
.search-content.name .ng-select.custom .ng-select-container .ng-value-container .ng-value {
  padding-left: 77px !important;
}
.search-content.name .ng-select.custom .ng-select-container .ng-value-container .ng-input {
  padding-left: 87px !important;
}
.search-content.sort .ng-select.custom .ng-select-container .ng-value-container .ng-value {
  padding-left: 77px !important;
}
.search-content.sort .ng-select.custom .ng-select-container .ng-value-container .ng-input {
  padding-left: 87px !important;
}
.search-content.date .ng-select.custom .ng-select-container .ng-value-container .ng-value {
  padding-left: 47px !important;
}
.search-content.date .ng-select.custom .ng-select-container .ng-value-container .ng-input {
  padding-left: 57px !important;
}
.search-content.logo {
  width: 211px;
}
.search-content.logo .ng-select.custom .ng-select-container .ng-value-container .ng-value {
  padding-left: 122px !important;
}
.search-content.logo .ng-select.custom .ng-select-container .ng-value-container .ng-input {
  padding-left: 132px !important;
}
