.table-review{
  .card {
    flex: 1;
    background-color: transparent;
    border: none;
    border-radius: 0;
    overflow: visible;

    .card-header{
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      border-bottom: none;
    }

    .card-body{
      flex:1;
      min-height: 0;
      padding: 0;
    }
  }
}

.table-list-wrap{
  min-height: 515px;
}

//table-list
.table-list{
  font-family: 'Epilogue';
  margin-bottom:16px;


  thead{
    border: 1px solid #D6DDEB;

    tr{
      th{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #7C8493;
        height: 54px;
        vertical-align: middle;
        border:none;
        padding:0 16px;

        &:first-child{
          padding-left:24px;
        }
        &:last-child{
          padding-right:24px;
        }

        .th-cell{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          white-space: nowrap;

          .icon-block{
            margin-left:8px;
            cursor: pointer;
          }
        }

        &.text-center{
          .th-cell{
            justify-content: center;
          }
        }

        &.text-right{
          .th-cell{
            justify-content: flex-end;
          }
        }
      }
    }
  }


  tbody{
    border: 1px solid #D6DDEB;

    tr{
      td{
        height: 56px;
        vertical-align: middle;
        padding:0 16px;
        white-space: nowrap;
        border-top: none;

        .td-cell{
          font-weight: 500;
          font-size: 13px;
          line-height: 21px;
          color: #25324B;
          border: none;
          .tx-ellipsis;
        }


        &:first-child{
          padding-left:24px;
        }
        &:last-child{
          padding-right:24px;
        }

      }

      &:nth-of-type(odd) {
        background-color: transparent;
      }

      &:nth-of-type(even) {
        background-color: #F8F8FE;
      }

      &:hover{
        background-color: darken(#F8F8FE,1%);
      }
    }
  }


  thead,tbody{
    &.table-margin{
      border:none;
      tr{
        border:none;
        th,td{
          height: 16px;
        }
      }
    }
  }
}

//table-margin-list
.table-margin-list{
  font-family: 'Epilogue';

  tbody{
    tr{
      border: 1px solid #D6DDEB;

      td{
        min-height: 72px;
        vertical-align: middle;
        padding:17px 16px;
        border:none;

        .td-cell{
          border: none;
          line-height: 19.2px;
        }

        .tx-size-14{
          font-weight: 400;
          font-size: 14px;
          color: #7C8493;
        }

        .tx-size-16{
          font-family: 'ClashDisplay';
          font-size: 16px;
          color: #25324B;
        }

        .tx-size-12{
          font-weight: 400;
          font-size: 12px;
          color: #7C8493;
        }

        .tx-size-13{
          font-size: 13px;
          line-height: 20.3px;
          color: #25324B;
        }
      }

      &.tr-margin{
        border:none;
        td{
          height: 16px;
          padding:0;
        }
      }
    }
  }
}


.td-cell_avatar,
.td-cell_logo{
  display: flex;
  align-items: center;
}

.avatar-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;

  img{
    width: 100%;
    height: auto;
  }

  &.avatar-box-small{
    width: 24px;
    height: 24px;
  }
}

.logo-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;

  img{
    width: 100%;
    height: auto;
  }
}
