.toast-wrapper {

  .toast {
    position: fixed;
    bottom: 32px;
    left: 168px;
    z-index: 1080;
    width: calc(100% - 336px) !important;
    max-width: 100% !important;
    height: 66px;
    border-radius: 12px;
    background-color: #2AC084;

    @media screen and (max-width: 1400px){
      left: 100px;
      width: calc(100% - 200px) !important;
    }

    @media screen and (max-width: 1240px){
      left: 40px;
      width: calc(100% - 80px) !important;
    }

    @media screen and (max-width: 940px){
      left: 20px;
      width: calc(100% - 40px) !important;
    }

    //&.toastTop {
    //  top: 0;
    //}

    &.bg-success {
      background-color: #E9F5EE !important;

      .toast-body{
        color: #219653;
      }

      .toast-header {
        .close {
          span {
            background-image: url("../../assets/img/icon/icon-cicle-close-green.svg");
          }
        }
      }
    }

    &.bg-danger {
      background-color: #FDEEEE !important;

      .toast-body{
        color: #EB5757;
      }

      .toast-header {
        .close {
          span {
            background-image: url("../../assets/img/icon/icon-cicle-close-red.svg");
          }
        }
      }
    }

    .toast-header {
      background-color: transparent;
      border: 0;

      .close {
        width: 38px;
        height: 38px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: 18px;
        opacity: 1;
        margin-bottom: 0;
        z-index: 2;

        span {
          vertical-align: middle;
          font-size: 0;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          flex-shrink: 0;
          width: 38px;
          height: 38px;
          background-image: url("../../assets/img/icon/icon-cicle-close.svg");
        }
      }
    }

    .toast-body {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-weight: 600;
      font-size: 13px;
      line-height: 22px;
      padding: 9px 10px;
    }
  }
}
