<form name="signupModalForm" #signupModalForm="ngForm" novalidate
      [ngxFormValidator]="validatorConfig">
    <div class="modal-main p40">
        <div class="modal-header xs-mb-32">
            <h2 class="modal-title">Almost there, let us know more about you</h2>
        </div>
        <div class="modal-body">


            <div class="form modal-form">
                <div class="forw-two xs-mb-32">
                    <div class="form-group form-group-sign">
                        <label class="control-label">
                            <div>First name<span class="label-required">*</span></div>
                        </label>
                        <input type="text" class="form-control" placeholder="Enter your first name" name="firstName"
                               required [(ngModel)]="signup.firstName"/>
                    </div>
                    <div class="form-group form-group-sign">
                        <label class="control-label">
                            <div>Last name<span class="label-required">*</span></div>
                        </label>
                        <input type="text" class="form-control" placeholder="Enter your last name" name="lastName"
                               required [(ngModel)]="signup.lastName"/>
                    </div>
                </div>
                <div class="form-group form-group-sign xs-mb-32">
                    <label class="control-label">
                        <div>Practice name<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter your practice name" name="practiceName"
                           required [(ngModel)]="signup.practiceName"/>
                </div>

                <div class="form-group form-group-sign xs-mb-32">
                    <label class="control-label">
                        <div>Practice role<span class="label-required">*</span></div>
                    </label>
                    <ng-select class="select-single" placeholder="Select role"
                               name="practiceRole" required [(ngModel)]="signup.practiceRoleId"
                               dropdownPosition="bottom">
                        <ng-option *ngFor="let role of practiceRoles" [value]="role.id">{{role.roleName}}</ng-option>
                    </ng-select>
                </div>
                <div class="check-box check-box-purple">
                    <input type="checkbox" name="agree2" id="agree2" [(ngModel)]="agree"/>
                    <label for="agree2">
                        <p>Send me product updates and news from SuitabilityHub</p>
                    </label>
                </div>

                <div class="check-box check-box-purple">
                    <input type="checkbox" name="news" id="news" [(ngModel)]="news"/>
                    <label for="news">
                        <p>Send me marketing communications from SuitabilityHub</p>
                    </label>
                </div>

                <div class="check-box check-box-purple xs-mb-32">
                    <input type="checkbox" name="join" id="join" [(ngModel)]="join"/>
                    <label for="join">
                        <p>I want to join the research panel and be invited to occasional surveys</p>
                    </label>
                </div>

                <div class="form-button">
                    <div class="submit">
                        <button (ngxFormSubmit)="existedModal();" class="btn btn-purple btn-sign tx-16 btn-block">
                            Send verification email
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
