<div class="create-post-modal">
    <div class="close-btn" (click)="close()">
        <img src="./assets/img/icon/icon-close-black-radius.svg" />
    </div>
    <div class="modal-title">
        <div class="title-text">Create a post</div>
    </div>
    <div class="modal-main">
        <div class="form">
            <div class="select-groups">
                <div class="select-group">
                    <img [src]="platform.attachmentVo?.visitUrl || './assets/img/logo-s.png'" class="select-logo" />
                    <div class="select-input">
                        <div class="select-label">Platform</div>
                        <ng-select class="select-single"
                                   [searchable]="false"
                                   [clearable]="false"
                                   [(ngModel)]="platform"
                                   (ngModelChange)="platformSelectChange($event)"
                                   name="platformSelect"
                                   dropdownPosition="bottom"
                                   required>
                            <ng-option *ngFor="let option of platformOptions" [value]="option">
                                <img [src]="option.attachmentVo?.visitUrl || './assets/img/logo-s.png'" style="height: 36px;"/>
                                {{option.platformName}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="select-group">
                    <div class="select-input">
                        <div class="select-label">Product</div>
                        <ng-select class="select-single"
                                   [searchable]="false"
                                   [clearable]="false"
                                   [(ngModel)]="product"
                                   name="productSelect"
                                   dropdownPosition="bottom"
                                   required>
                            <ng-option *ngFor="let option of productOptions" [value]="option">{{option.name}}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <label class="control-label">Title</label>
                <input type="text" class="form-control" placeholder="Enter the title of this post" name="practiceName" [(ngModel)]="postInfo.content.title" required />
                <div class="tip-error" [hidden]="valid.title">Enter title</div>
            </div>
            <div class="input-group">
                <ckeditor [(ngModel)]="postInfo.content.post" [config]="config"></ckeditor>
                <div class="tip-info grey">Maximum 3,000 characters</div>
                <div class="tip-error" [hidden]="valid.post">Enter post content</div>
            </div>
            <div class="upload-group">
                <div class="upload-input">
                    <div class="upload-label">
                        <div class="title">Attach images</div>
                        <div class="placeholder">(minimum 344px height)</div>
                    </div>
                    <div class="upload-file">
                        <ngx-file-drop dropZoneLabel="Drop files here"
                                       (onFileDrop)="droppedFile($event)"
                                       [multiple]="false" [directory]="false"
                                       [accept]="'.png,.svg,.gif,.jpg'">
                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <span class="icon-block icon-loading icon-32 upload-loading" *ngIf="uploading"></span>
                                <div class="upload-content"(click)="openFileSelector()">
                                    <span class="icon-block icon-paper-clip icon-24"></span>
                                    <div class="file-intro">Attach images</div>
                                </div>
                            </ng-template>
                        </ngx-file-drop>
                    </div>
                </div>
                <div class="preview-images">
                    <app-horizontal-image-list [hidden]="!postInfo.attachments.length" #imageScroll domId="createPostImages" [attachmentList]="postInfo.attachments" [height]="160" [showDelete]="true" (removeImageIndex)="removeImageByIndex($event)"></app-horizontal-image-list>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-block btn-purple" style="height: 50px" (click)="saveOrUpdatePost()">{{postInfo.id ? 'Save Changes' : 'Create Post'}}</button>
    </div>
</div>
