<div class="table-responsive">
    <ng-container>
        <div class="table-list-wrap">
            <table class="table table-list table-striped">
                <thead>
                <tr>
                    <th>
                        <div class="th-cell">
                            Name of review
                            <sorting-widget (sortChange)="sortList('lastName', $event)"></sorting-widget>
                        </div>
                    </th>
                    <th>
                        <div class="th-cell">
                            Name of client
                        </div>
                    </th>
                    <th>
                        <div class="th-cell">
                            Adviser
                        </div>
                    </th>
                    <th>
                        <div class="th-cell">
                            Data valid date
                            <sorting-widget (sortChange)="sortList('accountType', $event)"></sorting-widget>
                        </div>
                    </th>
                    <th>
                        <div class="th-cell">
                            Status
                        </div>
                    </th>
                    <th class="text-left">
                        <div class="th-cell">Action</div>
                    </th>
                </tr>
                </thead>
                <thead class="table-margin">
                <tr>
                    <th colspan="5"></th>
                </tr>
                </thead>
                <tbody *ngIf="duePage.total > 0">
                <tr *ngFor="let due of duePage.records">
                    <td>
                        <div class="td-cell td-cell_avatar tx-bold">
                            <div class="text-ellipsis max-w-200">{{due.name}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="td-cell tx-bold tx-purple">{{due.clientName}}</div>
                    </td>
                    <td>
                        <div class="td-cell td-cell_avatar tx-bold" title="ABC Advisory">
                            <div class="avatar-box xs-mr-16">
                                <img [src]="(due.userAvatar?.visitUrl) || './assets/img/unassgin.svg'"/>
                            </div>
                            <div class="text-ellipsis">{{due.username}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="td-cell">{{due.createTime | dateFormat : 'HH:mm DD MMM, YYYY'}}</div>
                    </td>
                    <td>
                        <ng-container *ngIf="!due.archived">
                            <div class="td-cell" *ngIf="due.status == configService.comparisonStatus.inProgress">
                                <label class="label tx-blue">In progress</label>
                            </div>
                            <div class="td-cell" *ngIf="due.status == configService.comparisonStatus.completed">
                                <label class="label tx-green">Completed</label>
                            </div>
                        </ng-container>

                        <div class="td-cell" *ngIf="due.archived">
                            <label class="label tx-red">Archived</label>
                        </div>
                    </td>
                    <td class="text-left edit">
                        <div class="edit-btn-group">
                            <button class="btn btn-purple-border btn-tiny xs-ml-16" style="margin-left: 0 !important;"
                                    (click)="toDetail(due)">View
                            </button>
                            <button *ngIf="!due.archived" (click)="archive(due)" class="btn btn-outline-purple-light btn-tiny xs-ml-16 delete-btn">
                                <img src="./assets/img/icon/icon-delete-red.svg">
                            </button>
                            <button *ngIf="due.archived" (click)="unarchive(due)" class="btn btn-outline-purple-light btn-tiny xs-ml-16 refresh-btn">
                                <img src="./assets/img/icon/icon-refresh-blur.svg">
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination *ngIf="duePage.total > 0" [collectionSize]="duePage.total" [(page)]="duePage.current"
                        [pageSize]="duePage.size"
                        (pageChange)="pageChange($event)" [rotate]="true" [maxSize]="5"></ngb-pagination>
    </ng-container>
    <div class="empty-text" *ngIf="duePage.total == 0">This section is empty.
    </div>
</div>
