<div class="sub-head sub-head-form">
    <div class="sub-title" (click)="goBack()">
        <span class="icon-block icon-arr-left-long icon-31 xs-mr-16"></span>
        {{prop?.name}}
    </div>

    <button class="btn btn-purple">Update</button>
</div>

<div class="form-content">
    <div class="form-group-custom">
        <div class="form-group-left">
            <label class="control-label">Name</label>
            <p class="info">Names must be descriptive of one feature</p>
        </div>

        <div class="form-group-right">
            <input type="text" placeholder="Name" class="form-control"/>
            <p class="tip-info">Maximum 100 characters</p>
        </div>
    </div>

    <div class="form-group-custom">
        <div class="form-group-left">
            <label class="control-label">Description</label>
            <p class="info">Describe this feature so that it can be better understood by Advisors and Suppliers. This will appear as a tool tip</p>
        </div>

        <div class="form-group-right">
            <input type="text" placeholder="Name" class="form-control"/>
            <p class="tip-info">Maximum 500 characters <span>0 / 500</span></p>
        </div>
    </div>

    <div class="form-upload-file">
        <div class="upload-file-show">
            <img src="../../../../../assets/img/logo-bt.png"/>
        </div>
        <div class="form-group-right">
            <div class="upload-file">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                               (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
                               accept="ACCEPT_FILE_TYPES">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <span class="icon-block icon-loading icon-32 upload-loading"></span>

                        <div class="upload-content">
                            <input type="file" class="form-file"/>
                            <span class="icon-block icon-photo icon-32"></span>
                            <div class="file-intro"><span>Click to replace</span> or drag and drop </div>
                            <div class="file-tip">SVG, PNG, JPG or GIF (max. 400 x 400px)</div>
                        </div>
                    </ng-template>
                </ngx-file-drop>
            </div>
        </div>
    </div>
</div>
