<div class="main main-form">
    <div class="sub-head sub-head-form">
        <div class="sub-title" [title]="prop?.name" (click)="goBack()">
            <span class="icon-block icon-arr-left-long icon-31 xs-mr-16"></span>
            <div class="text-ellipsis">{{prop?.name}}</div>
        </div>

        <button class="btn btn-purple" (click)="saveProp()">{{prop.id ? 'Update' : 'Save'}}</button>
    </div>

    <div class="form-content">
        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Basic information</label>
                <p class="info">This information will be displayed publicly</p>
            </div>
        </div>
        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Name</label>
                <p class="info">Names must be descriptive of one feature</p>
            </div>

            <div class="form-group-right">
                <input type="text" placeholder="Name" [maxLength]="100" [(ngModel)]="prop.name" class="form-control"/>
                <p class="tip-info">Maximum 100 characters</p>
            </div>
        </div>

        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Description</label>
                <p class="info">Describe this feature so that it can be better understood by Advisors and Suppliers.
                    This
                    will appear as a tool tip</p>
            </div>

            <div class="form-group-right">
                <ckeditor [(ngModel)]="prop.description" [config]="config"></ckeditor>
<!--                <p class="tip-info">Maximum 500 characters <span>0 / 500</span></p>-->
            </div>
        </div>

        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Feature group</label>
                <p class="info">Which feature group does this feature belong to?</p>
            </div>

            <div class="form-group-right">
                <div class="form-group">
                    <label class="control-label control-label-custom">Feature group</label>
                    <ng-select disabled class="select-single" placeholder="Feature group" [ngModel]="prop.topGroupName" dropdownPosition="bottom">
                        <ng-option [value]="prop.topGroupName">{{prop.topGroupName}}</ng-option>
                    </ng-select>
                </div>

                <div class="form-group">
                    <label class="control-label control-label-custom">Feature sub-group</label>
                    <ng-select disabled class="select-single" placeholder="Feature sub-group" [ngModel]="prop.subGroupName" dropdownPosition="bottom">
                        <ng-option [value]="prop.subGroupName">{{prop.subGroupName}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Field type</label>
                <p class="info">What type of a field is this? </p>
            </div>

            <div class="form-group-right">
                <div class="form-group">
                    <label class="control-label control-label-custom">Field type</label>
                    <input type="text" placeholder="Field type" value="Y/N" disabled class="form-control"/>
                </div>
            </div>
        </div>

    </div>
</div>
