<div class="charts-wrapper">
    <div class="left-title">
        Total platform fee for the year ahead($)
    </div>
    <div class="charts-container">
        <div class="charts" [id]="chartsId"></div>
        <div class="charts-summary">
            <div class="summary-left"></div>
            <div class="summary-right">Total portfolio value (thousands)</div>
        </div>
        <div class="charts-legend">
            <div class="legend-item" *ngFor="let item of legendData">
                <div class="item-line" [style]="{'--bg-color': item.lineColor}"></div>
                <div class="item-text">
                    <div class="item-produce">{{item.platformName}}</div>
                    <div class="item-name">{{item.produceName}}</div>
                </div>
                <div class="item-logo-wrapper">
                    <img [src]="item.visitUrl" class="item-logo"/>
                    <img *ngIf="item.mainFlag" src="./assets/img/icon/icon-main-text.svg" class="main-icon"/>
                </div>
            </div>
        </div>
    </div>
</div>
