<div class="main main-form main-form-with-tab">

    <div class="sub-head sub-head-form">
        <div class="sub-title">{{fullName()}}</div>

        <div class="btn-control-group">
            <button class="btn btn-purple xs-ml-24" (click)="saveProfile()">Save</button>
        </div>
    </div>

    <!--    <div class="tab-menu">-->
    <!--        <div class="tab-text active">-->
    <!--            My Profile-->
    <!--            <span class="line"></span>-->
    <!--        </div>-->
    <!--    </div>-->


    <div class="form-content">
        <div class="form-group-custom">
            <div class="form-group-left" style="width: 100%;">
                <label class="control-label">Basic information</label>
                <p class="info">This is your personal information that you can update anytime</p>
            </div>
        </div>

        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Profile photo</label>
                <p class="info" *ngIf="currentUserService.isAdminUser()">This image will be shown publicly as your
                    profile picture. It will help everyone recognise you</p>
                <p class="info" *ngIf="!currentUserService.isAdminUser()">This helps your fellow team members recognise
                    you</p>
            </div>
            <div class="form-upload-file">
                <div class="upload-file-show">
                    <img [src]="(currentUser.avatar?.visitUrl || './assets/img/unassgin.svg')"/>
                </div>
                <div class="form-group-right">
                    <div class="upload-file">
                        <ngx-file-drop dropZoneLabel="Drop files here"
                                       (onFileDrop)="droppedFile($event)"
                                       [multiple]="false" [directory]="false"
                                       [accept]="'.png,.svg,.gif,.jpg'">
                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <span class="icon-block icon-loading icon-32 upload-loading" *ngIf="uploading"></span>
                                <div class="upload-content" (click)="openFileSelector()">
                                    <span class="icon-block icon-photo icon-32"></span>
                                    <div class="file-intro"><span>Click to replace</span> or drag and drop</div>
                                    <div class="file-tip">SVG, PNG, JPG or GIF (max. 400 x 400px)</div>
                                </div>
                            </ng-template>
                        </ngx-file-drop>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Personal details</label>
                <p class="info">This information is not shared publicly on SuitabilityHub</p>
            </div>

            <div class="form-group-right">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label control-label-custom">
                                <div>First name <span class="label-required">*</span></div>
                            </label>
                            <input type="text" class="form-control" [(ngModel)]="currentUser.firstName"
                                   placeholder="Enter your first name"/>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label control-label-custom">
                                <div>Last name <span class="label-required">*</span></div>
                            </label>
                            <input type="text" class="form-control" [(ngModel)]="currentUser.lastName"
                                   placeholder="Enter your last name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label control-label-custom">
                        <div>{{currentUserService.isAdviceUser() ? 'Email' : 'Work email'}}<span class="label-required">*</span>
                        </div>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="currentUser.email"
                           [placeholder]="currentUserService.isAdviceUser() ? 'Enter your email' : 'Enter your work email'"/>
                </div>

                <div class="form-group" *ngIf="currentUserService.isSupplierUser()">
                    <label class="control-label control-label-custom">
                        <div>Job title<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="currentUser.jobTitle"
                           placeholder="Enter you job title"/>
                </div>

                <div class="form-group" *ngIf="currentUserService.isSupplierUser()">
                    <label class="control-label control-label-custom">
                        <div>Contact Number</div>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="currentUser.mobile"
                           placeholder="Enter your contact number"/>
                </div>

                <div class="form-group" *ngIf="currentUserService.isAdviceUser()">
                    <label class="control-label control-label-custom">Practice role</label>
                    <ng-select class="select-single" [(ngModel)]="currentUser.practiceRoleId" placeholder="Select role"
                               dropdownPosition="bottom">
                        <ng-option *ngFor="let practiceRole of practiceRoles"
                                   [value]="practiceRole.id">{{practiceRole.roleName}}</ng-option>
                    </ng-select>
                </div>

                <div class="form-group"
                     *ngIf="!currentUserService.isAdminUser() && !currentUserService.isSupplierUser()">
                    <label class="control-label control-label-custom">ARN (Authorised Representative Number)</label>
                    <input type="text" class="form-control" placeholder="Enter ARN" [(ngModel)]="currentUser.arn"/>
                </div>
                <div class="form-group">
                    <div class="label-wrapper">
                        <label class="control-label control-label-custom">Password</label>
                        <a href="javascript:;" (click)="toForgot()" class="tx-bold tx-purple">Reset password</a>
                    </div>
                    <input type="password" class="form-control" value="xxxxxxxxxx" disabled/>
                </div>
            </div>
        </div>

        <div class="form-group-custom" *ngIf="currentUserService.isAdviceUser() || currentUserService.isAdminUser()">
            <div class="form-group-left">
                <label class="control-label">Account type</label>
                <p class="info">Update your account type</p>
            </div>

            <div class="form-group-right">

                <div class="form-group">
                    <div class="radio-box radio-box-top-2"
                         *ngFor="let accountType of accountRoles; let roleIndex = index">
                        <input type="radio"
                               [disabled]="currentUserService.isAdviceUser() || currentUserService.isAdminUser()"
                               [value]="accountType.id" [(ngModel)]="currentRole.id" name="accountType"
                               id="accountType-{{roleIndex}}"/>
                        <label for="accountType-{{roleIndex}}">
                            {{accountType.roleName}}
                            <div class="info">{{accountType.roleDesc}}</div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="form-group-custom" *ngIf="currentUserService.isSupplierUser()">-->
<!--            <div class="form-group-left">-->
<!--                <label class="control-label">Permissions</label>-->
<!--                <p class="info">Update permissions</p>-->
<!--            </div>-->

<!--            <div class="form-group-right">-->
<!--                <div class="form-group">-->
<!--                    <div class="check-box check-box-purple xs-mb-24">-->
<!--                        <input type="checkbox" name="supplierInfo" id="supplierInfo" [(ngModel)]="currentUser.editSupplierFlag"/>-->
<!--                        <label for="supplierInfo">Ability to Edit Supplier info</label>-->
<!--                    </div>-->
<!--                    <div class="check-box check-box-purple xs-mb-24">-->
<!--                        <input type="checkbox" name="platformManager" id="platformManager" [(ngModel)]="currentUser.editPlatformFlag"/>-->
<!--                        <label for="platformManager">Ability to Edit Platform Manager</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-group-custom" *ngIf="currentUserService.isSupplierUser()">
            <div class="form-group-left">
                <label class="control-label">Associated products</label>
                <p class="info">Choose which of your products should feature this BDM's contact details</p>
            </div>

            <div class="form-group-right">
                <div class="form-group">
                    <div class="check-box check-box-purple xs-mb-24" *ngFor="let product of products">
                        <input type="checkbox" disabled [name]="product.name" [id]="product.id" [(ngModel)]="product.checked"/>
                        <label for="{{product.id}}">{{product.name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group-custom" *ngIf="currentUserService.isSupplierUser()">
            <div class="form-group-left">
                <label class="control-label">Public details</label>
                <p class="info">This information will be shared publicly on SuitabilityHub</p>
            </div>

            <div class="form-group-right">
                <div class="form-group">
                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="showFindBDM" [(ngModel)]="currentUser.bdmFlag" id="showFindBDM"/>
                        <label for="showFindBDM">
                            <p style="font-weight: 400;">Show this user's details on the "Find a BDM" page</p>
                        </label>
                    </div>
                </div>
                <div *ngIf="currentUser.bdmFlag">
                    <div class="form-group">
                        <label class="control-label control-label-custom">
                            <div>Public contact number</div>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="currentUser.supplierPublicDetailVo.contactNum"
                               placeholder="Enter public contact number"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-custom">
                            <div>Preferred contact hours</div>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="currentUser.supplierPublicDetailVo.contactHours"
                               placeholder="Enter preferred contact hours"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-custom">
                            <div>Public email</div>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="currentUser.supplierPublicDetailVo.contactEmail"
                               placeholder="Enter public email"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-custom">
                            <div>LinkedIn profile URL</div>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="currentUser.supplierPublicDetailVo.linkedUrl"
                               placeholder="Enter linkedIn profile URL"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-custom">
                            <div>Region</div>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="currentUser.supplierPublicDetailVo.region"
                               placeholder="Enter region"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-custom">
                            <div>Biography</div>
                        </label>
                        <ckeditor [config]="config" [(ngModel)]="currentUser.supplierPublicDetailVo.biography"></ckeditor>
                        <div class="tip-info">
                            <span class="info-left">Maximum 3,000 characters</span>
                            <span class="info-right">0 / 3,000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group-custom" *ngIf="!currentUserService.isAdminUser() && currentUser.owner">
            <div class="form-group-left">
                <label class="control-label">Account owner</label>
                <p class="info">Update your account owner</p>
            </div>

            <div class="form-group-right">
                <div class="form-group">
                    <label class="control-label control-label-custom">Transfer account ownership</label>
                    <ng-select class="select-single" [(ngModel)]="ownerId" placeholder="Select a team member below"
                               dropdownPosition="bottom">
                        <ng-option *ngFor="let owner of owners"
                                   [value]="owner.id">{{owner.firstName + ' ' + owner.lastName}}</ng-option>
                    </ng-select>
                </div>

                <div class="form-group">
                    <button class="btn btn-outline-purple-light" (click)="transOwner()">Transfer</button>
                </div>

            </div>
        </div>

        <!--        <div class="form-group-custom">-->
        <!--            <div class="form-group-left">-->
        <!--                <label class="control-label">Communication preferences</label>-->
        <!--                <p class="info"></p>-->
        <!--            </div>-->

        <!--            <div class="form-group-right">-->
        <!--                <div class="form-group">-->
        <!--                    <div class="radio-box radio-box-top-2">-->
        <!--                        <input type="radio" name="CommunicationPreferences" id="likeToReceive" [value]="true"-->
        <!--                               [(ngModel)]="currentUser.receiveNewsFlag"/>-->
        <!--                        <label for="likeToReceive">-->
        <!--                            I want like to receive periodic updates and news from SuitabilityHub-->
        <!--                        </label>-->
        <!--                    </div>-->

        <!--                    <div class="radio-box radio-box-top-2">-->
        <!--                        <input type="radio" name="CommunicationPreferences" id="DoNotToreceive" [value]="false"-->
        <!--                               [(ngModel)]="currentUser.receiveNewsFlag"/>-->
        <!--                        <label for="DoNotToreceive">-->
        <!--                            I don’t want to receive periodic updates and news from SuitabilityHub-->
        <!--                        </label>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="form-group-custom form-preferences" *ngIf="!currentUserService.isAdminUser()">
            <div class="form-group-left">
                <label class="control-label">Communication preferences</label>
                <p class="info"></p>
            </div>
            <div class="form-group-right">
                <div class="form-group">
                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="agree2" id="agree2" [(ngModel)]="currentUser.updateNewsFlag"/>
                        <label for="agree2">
                            <p>Send me product updates and news from SuitabilityHub</p>
                        </label>
                    </div>
                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="news" id="news" [(ngModel)]="currentUser.commFlag"/>
                        <label for="news">
                            <p>Send me marketing communications from SuitabilityHub</p>
                        </label>
                    </div>

                    <div class="check-box check-box-purple xs-mb-32">
                        <input type="checkbox" name="join" id="join" [(ngModel)]="currentUser.planFlag"/>
                        <label for="join">
                            <p>I want to join the research panel and be invited to occasional surveys</p>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
