<div class="main main-form">
    <div class="sub-head sub-head-form">
        <div class="sub-title" [title]="prop?.name" (click)="goBack()">
            <span class="icon-block icon-arr-left-long icon-31 xs-mr-16"></span>
            <div class="text-ellipsis">{{prop?.name}}</div>
        </div>
        <ng-container *ngIf="version.type">
            <div class="btn-control-group"
                 [hidden]="!configService.isEditable(version.type, prop.status) || prop.readOnly">
                <button class="btn btn-text-danger" (click)="archive()" *ngIf="prop.id && prop.moveFlag">Archive
                </button>
                <button class="btn btn-purple" (click)="saveProp()">{{prop.id ? 'Update' : 'Save'}}</button>
            </div>
        </ng-container>
    </div>

    <div class="form-content">
        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Basic information</label>
                <p class="info">This information will be displayed publicly</p>
            </div>
        </div>
        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Name</label>
                <p class="info">Names must be descriptive of one feature</p>
            </div>

            <div class="form-group-right">
                <input type="text" placeholder="Name" [maxLength]="100"
                       [disabled]="!configService.isEditable(version.type, prop.status) || prop.readOnly"
                       [(ngModel)]="prop.name" class="form-control"/>
                <p class="tip-info">Maximum 100 characters</p>
            </div>
        </div>

        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Description</label>
                <p class="info">Describe this feature so that it can be better understood by Advisors and Suppliers.
                    This
                    will appear as a tool tip</p>
            </div>

            <div class="form-group-right">
                <ckeditor [(ngModel)]="prop.description"
                          [readOnly]="!configService.isEditable(version.type, prop.status) || prop.readOnly"
                          [config]="config"></ckeditor>
                <!--                <p class="tip-info">Maximum 500 characters <span>0 / 500</span></p>-->
            </div>
        </div>

        <div class="form-group-custom" *ngIf="currentTab == configService.tabType.features">
            <div class="form-group-left">
                <label class="control-label">Feature group</label>
                <p class="info">Which feature group does this feature belong to?</p>
            </div>

            <div class="form-group-right">
                <div class="form-group" *ngIf="prop.topGroupName">
                    <label class="control-label control-label-custom">Feature group</label>
                    <ng-select disabled class="select-single" placeholder="Feature group" [ngModel]="prop.topGroupName"
                               dropdownPosition="bottom">
                        <ng-option [value]="prop.topGroupName">{{prop.topGroupName}}</ng-option>
                    </ng-select>
                </div>

                <div class="form-group" *ngIf="prop.subGroupName">
                    <label class="control-label control-label-custom">Feature sub-group</label>
                    <ng-select disabled class="select-single" placeholder="Feature sub-group"
                               [ngModel]="prop.subGroupName" dropdownPosition="bottom">
                        <ng-option [value]="prop.subGroupName">{{prop.subGroupName}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Field type</label>
                <p class="info">What type of a field is this? </p>
            </div>

            <div class="form-group-right" *ngIf="currentTab != configService.tabType.features">
                <div class="form-group">
                    <label class="control-label control-label-custom">Field type</label>
                    <ng-select [disabled]="!configService.isEditable(version.type, prop.status) || prop.readOnly"
                               class="select-single" placeholder="Field type" dropdownPosition="auto"
                               [(ngModel)]="prop.type">
                        <ng-option *ngFor="let type of configService.propTypeList()"
                                   [value]="type.value">{{type.name}}</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="form-group-right" *ngIf="currentTab == configService.tabType.features">
                <div class="form-group">
                    <label class="control-label control-label-custom">Field type</label>
                    <ng-select [disabled]="true" class="select-single" placeholder="Field type" dropdownPosition="auto"
                               [(ngModel)]="prop.type">
                        <ng-option [value]="configService.propType.boolean">Y/N</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
        <ng-container *ngIf="currentTab != configService.tabType.features">
            <div class="form-group-custom">
                <div class="form-group-left">
                    <label class="control-label">Visual assets</label>
                    <p class="info">Can this feature include a screenshot and/or photo?</p>
                </div>

                <div class="form-group-right">
                    <div class="check-box">
                        <input type="checkbox"
                               [disabled]="!configService.isEditable(version.type, prop.status) || prop.readOnly"
                               [(ngModel)]="prop.vsFlag" name="visualAssets" id="visualAssets"/>
                        <label for="visualAssets">Products can include a photo of this feature</label>
                    </div>
                </div>
            </div>

            <div class="form-group-custom">
                <div class="form-group-left">
                    <label class="control-label">Business metrics</label>
                    <!--                    <p class="info">Can this feature include a screenshot and/or photo?</p>-->
                </div>

                <div class="form-group-right">
                    <div class="check-box">
                        <input type="checkbox"
                               [disabled]="!configService.isEditable(version.type, prop.status) || prop.readOnly"
                               [(ngModel)]="prop.bmFlag" name="businessMetrics" id="businessMetrics"/>
                        <label for="businessMetrics">Make as business metrics</label>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
