<div class="main main-form">

    <div class="sub-head sub-head-form">
        <div class="sub-title" [routerLink]="['/advice-practices/advice-tab/team/' + practiceId]">
            <span class="icon-block icon-arr-left-long icon-31 xs-mr-16"></span>
            {{configService.fullName(team.firstName, team.lastName)}}
        </div>

        <div class="btn-control-group">
            <button class="btn btn-outline-purple-light"
                    [routerLink]="['/advice-practices/advice-tab/team/' + practiceId]">Cancel
            </button>
            <button class="btn btn-purple xs-ml-24" (click)="save()">{{team.id ? 'Save' : 'Create and send welcome email'}}</button>
        </div>
    </div>


    <div class="form-content">
        <div class="form-group-custom">
            <div class="form-group-left" style="width: 100%;">
                <label class="control-label">Basic information</label>
                <p class="info">This is your personal information that you can update anytime</p>
            </div>
        </div>

        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Profile photo</label>
                <p class="info">This helps your fellow team members recognise you</p>
            </div>
            <div class="form-upload-file">
                <div class="upload-file-show">
                    <img [src]="(team.attachmentVo?.visitUrl || './assets/img/unassgin.svg')"/>
                </div>
                <div class="form-group-right">
                    <div class="upload-file">
                        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="droppedFile($event)"
                                       [multiple]="false" [directory]="false"
                                       [accept]="'.png,.svg,.gif,.jpg'">
                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <span class="icon-block icon-loading icon-32 upload-loading" *ngIf="uploading"></span>
                                <div class="upload-content" (click)="openFileSelector()">
                                    <span class="icon-block icon-photo icon-32"></span>
                                    <div class="file-intro"><span>Click to replace</span> or drag and drop</div>
                                    <div class="file-tip">SVG, PNG, JPG or GIF (max. 400 x 400px)</div>
                                </div>
                            </ng-template>
                        </ngx-file-drop>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Personal details</label>
                <p class="info"></p>
            </div>

            <div class="form-group-right">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label control-label-custom">
                                <div>First name <span class="label-required">*</span></div>
                            </label>
                            <input type="text" class="form-control" [(ngModel)]="team.firstName"
                                   placeholder="Enter your first name"/>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label control-label-custom">
                                <div>Last name <span class="label-required">*</span></div>
                            </label>
                            <input type="text" class="form-control" [(ngModel)]="team.lastName"
                                   placeholder="Enter your last name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label control-label-custom">
                        <div>Work email<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="team.email"
                           placeholder="Enter your work email"/>
                </div>

                <div class="form-group">
                    <label class="control-label control-label-custom">Practice role</label>
                    <ng-select class="select-single" [(ngModel)]="team.practiceRoleId" placeholder="Select role" dropdownPosition="bottom">
                        <ng-option *ngFor="let practiceRole of practiceRoles" [value]="practiceRole.id">{{practiceRole.roleName}}</ng-option>
                    </ng-select>
                </div>
<!--                <div class="form-group">-->
<!--                    <label class="control-label control-label-custom">Account type</label>-->
<!--                    <ng-select class="select-single" [(ngModel)]="team.practiceRoleId" placeholder="Select role" dropdownPosition="bottom">-->
<!--                        <ng-option *ngFor="let practiceRole of practiceRoles" [value]="practiceRole.id">{{practiceRole.roleName}}</ng-option>-->
<!--                    </ng-select>-->
<!--                </div>-->

                <div class="form-group">
                    <label class="control-label control-label-custom">ARN (Authorised Representative Number)</label>
                    <input type="text" class="form-control" [(ngModel)]="team.arn"
                           placeholder="Enter ARN (Authorised Representative Number)"/>
                </div>
            </div>
        </div>

        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Account type</label>
                <p class="info">Update your account type</p>
            </div>

            <div class="form-group-right">

                <div class="form-group">
                    <div class="radio-box radio-box-top-2" *ngFor="let accountType of accountRoles; let roleIndex = index">
                        <input type="radio" [value]="accountType.id" [(ngModel)]="team.roleId" name="accountType" id="accountType-{{roleIndex}}"/>
                        <label for="accountType-{{roleIndex}}">
                            {{accountType.roleName}}
                            <div class="info">{{accountType.roleDesc}}</div>
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group-custom">
            <div class="form-group-left">
                <label class="control-label">Communication preferences</label>
                <p class="info"></p>
            </div>

            <div class="form-group-right">
                <div class="form-group">
                    <div class="check-box check-box-purple xs-mb-24">
                        <input type="checkbox" name="CommunicationPreferences" id="SendProduct"
                               [(ngModel)]="team.updateNewsFlag"/>
                        <label for="SendProduct" class="tx-bold">Send me product updates and news from SuitabilityHub</label>
                    </div>

                    <div class="check-box check-box-purple xs-mb-24">
                        <input type="checkbox" name="CommunicationPreferences" id="SendMarketing"
                               [(ngModel)]="team.commFlag"/>
                        <label for="SendMarketing" class="tx-bold">Send me marketing communications from SuitabilityHub</label>
                    </div>

                    <div class="check-box check-box-purple">
                        <input type="checkbox" name="CommunicationPreferences" id="joinResearch"
                               [(ngModel)]="team.planFlag"/>
                        <label for="joinResearch" class="tx-bold">I want to join the research panel and be invited to occasional surveys</label>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
