<div class="col-body">
  <div class="body-list" *ngIf="dueBoard">
    <div class="body-column">
          <div class="column-header">
            <div class="header-info-status">
              <div class="point blue"></div>In progress
            </div>
            <div class="header-info-count">
              {{this.dueBoard['inProgress'].length}}
            </div>
          </div>
        <div class="column-list">
          <div class="list-item" *ngFor="let item of this.dueBoard['inProgress']">
            <div class="item-client-name">For <span>{{item.clientName}}</span></div>
            <div class="item-review-name">{{item.name}}</div>
            <div class="item-adviser-info">
              <div class="adviser-avatar">
                <img [src]="(item.userAvatar?.visitUrl) || './assets/img/unassgin.svg'" />
              </div>
              <div class="txt adviser-name">{{item.username}}</div>|
              <div class="txt adviser-valid_date">{{item.createTime | dateFormat : 'DD MMM, YYYY'}}</div>
            </div>
            <div class="item-edit-group">
              <button class="btn btn-outline-purple-light large-btn" (click)="toDetail(item)">
                <img src="./assets/img/icon/icon-eye-purple.svg" />
                View
              </button>
              <button *ngIf="!item.archived" (click)="archive(item)" class="btn btn-outline-purple-light icon-btn">
                <img src="./assets/img/icon/icon-delete-red.svg" />
              </button>
              <button *ngIf="item.archived" (click)="unarchive(item)" class="btn btn-outline-purple-light btn-tiny xs-ml-16 refresh-btn">
                <img src="./assets/img/icon/icon-refresh-blur.svg">
              </button>
            </div>
          </div>
        </div>
      </div>
    <div class="body-column">
      <div class="column-header">
        <div class="header-info-status">
          <div class="point green"></div>Completed
        </div>
        <div class="header-info-count">
          {{this.dueBoard['completed'].length}}
        </div>
      </div>
      <div class="column-list">
        <div class="list-item" *ngFor="let item of this.dueBoard['completed']">
          <div class="item-client-name">For <span>{{item.clientName}}</span></div>
          <div class="item-review-name">{{item.name}}</div>
          <div class="item-adviser-info">
            <div class="adviser-avatar">
              <img [src]="(item.userAvatar?.visitUrl) || './assets/img/unassgin.svg'" />
            </div>
            <div class="txt adviser-name">{{item.username}}</div>|
            <div class="txt adviser-valid_date">{{item.createTime | dateFormat : 'DD MMM, YYYY'}}</div>
          </div>
          <div class="item-edit-group">
            <button class="btn btn-outline-purple-light large-btn" (click)="toDetail(item)">
              <img src="./assets/img/icon/icon-eye-purple.svg" />
              View
            </button>
            <button *ngIf="!item.archived" (click)="archive(item)" class="btn btn-outline-purple-light icon-btn">
              <img src="./assets/img/icon/icon-delete-red.svg" />
            </button>
            <button *ngIf="item.archived" (click)="unarchive(item)" class="btn btn-outline-purple-light btn-tiny xs-ml-16 refresh-btn">
              <img src="./assets/img/icon/icon-refresh-blur.svg">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="body-column">
      <div class="column-header">
        <div class="header-info-status">
          <div class="point red"></div>Archived
        </div>
        <div class="header-info-count">
          {{this.dueBoard['archived'].length}}
        </div>
      </div>
      <div class="column-list">
        <div class="list-item" *ngFor="let item of this.dueBoard['archived']">
          <div class="item-client-name">For <span>{{item.clientName}}</span></div>
          <div class="item-review-name">{{item.name}}</div>
          <div class="item-adviser-info">
            <div class="adviser-avatar">
              <img [src]="(item.userAvatar?.visitUrl) || './assets/img/unassgin.svg'" />
            </div>
            <div class="txt adviser-name">{{item.username}}</div>|
            <div class="txt adviser-valid_date">{{item.createTime | dateFormat : 'DD MMM, YYYY'}}</div>
          </div>
          <div class="item-edit-group">
            <button class="btn btn-outline-purple-light large-btn" (click)="toDetail(item)">
              <img src="./assets/img/icon/icon-eye-purple.svg" />
              View
            </button>
            <button *ngIf="!item.archived" (click)="archive(item)" class="btn btn-outline-purple-light icon-btn">
              <img src="./assets/img/icon/icon-delete-red.svg" />
            </button>
            <button *ngIf="item.archived" (click)="unarchive(item)" class="btn btn-outline-purple-light btn-tiny xs-ml-16 refresh-btn">
              <img src="./assets/img/icon/icon-refresh-blur.svg">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
