<div class="table-layout">
    <div class="col-content">
        <div class="col-head">
            <div class="col-head-top">
                <div>
                    <div class="title">Platform details</div>
                    <div class="text">Showing 13 in-use items</div>
                </div>

                <div class="col-head-right">
                    <button class="btn btn-outline-purple-light tx-13 tx-semi"
                            [hidden]="!configService.isEditable(version.type)" (click)="save()">+ New
                    </button>
                </div>
            </div>

            <div class="search-content w-310">
                <input type="text" placeholder="Search a keyword" class="form-control"/>
                <span class="icon icon-search icon-16"></span>
            </div>
        </div>

        <div class="col-body">
            <div class="empty-text" *ngIf="notMoveProps.length == 0 && canMoveProps.length == 0">This section is empty. Click on “Edit platform” to add
                items.
            </div>
            <ng-container>
                <div class="list-cell-large" [ngClass]="configService.getClassByStatus(prop.status)" *ngFor="let prop of notMoveProps">
                    <div class="list-content">
                        <div class="info">
                            <div class="title">{{prop.name}}</div>
                            <div class="text">{{configService.getPropType(prop.type)}}</div>
                        </div>
                        <span class="label label-green" *ngIf="prop.bmFlag">Business Metric</span>
                        <span class="label label-red" *ngIf="configService.isArchive(prop.status)">Archived</span>
                    </div>
                    <button class="btn btn-outline-purple-light btn-small"
                            [hidden]="configService.isEditable(version.type)" (click)="save(prop.id)">View
                    </button>
                    <button class="btn btn-outline-purple-light btn-small"
                            [hidden]="!configService.isEditable(version.type)" (click)="save(prop.id)">
                        <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                    </button>
                </div>
            </ng-container>
            <div cdkDropList (cdkDropListDropped)="dropProps($event)">
                <div class="list-cell-large {{configService.getClassByStatus(prop.status)}}"
                     [ngClass]="{'list-cell-sort': configService.isEditable(version.type)}"
                     [cdkDragDisabled]="!configService.isEditable(version.type)"
                     cdkDrag *ngFor="let prop of canMoveProps">
                    <span class="icon-block icon-line icon-32" [hidden]="!configService.isEditable(version.type)"></span>
                    <div class="list-content">
                        <div class="info">
                            <div class="title">{{prop.name}}</div>
                            <div class="text">{{configService.getPropType(prop.type)}}</div>
                        </div>
                        <span class="label label-green" *ngIf="prop.bmFlag">Business Metric</span>
                        <span class="label label-red" *ngIf="configService.isArchive(prop.status)">Archived</span>
                    </div>
                    <button class="btn btn-outline-purple-light btn-small"
                            [hidden]="configService.isEditable(version.type)" (click)="save(prop.id)">View
                    </button>
                    <button class="btn btn-outline-purple-light btn-small"
                            [hidden]="!configService.isEditable(version.type)" (click)="save(prop.id)">
                        <span class="icon-block icon-pen icon-14 xs-mr-4"></span>Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
