<div class="admin-wrapper">
    <div class="admin-left">
        <img src="./assets/img/logo_white.png" class="logo" />
    </div>

    <div class="admin-right">
        <div class="form">
            <form #forgotForm="ngForm" novalidate name="forgotForm"
                  [ngxFormValidator]="validatorConfig">
                <div class="sign-title">Reset your password</div>
                <div class="sign-sub-title"><span class="text">Enter email</span></div>

                <div class="form-group form-group-sign xs-mb-0">
                    <label class="control-label">
                        <div>Email<span class="label-required">*</span></div>
                    </label>
                    <input type="text" class="form-control" name="account" required [(ngModel)]="account" placeholder="Enter your email" />
                </div>
                <button (ngxFormSubmit)="sendForgotEmail();" class="btn btn-purple btn-sign tx-16 btn-block xs-mt-48">Send reset password link</button>
                <button [routerLink]="[ '/login' ]"
                        class="btn btn-outline-purple-light btn-block tx-semi" style="border-width: 0">Log in
                </button>
            </form>
        </div>
    </div>
</div>

<div class="chat-box">
    <span class="icon-block icon-chat icon-20"></span>
</div>
